<p>Please enter your personal info:</p>
	<div class="form-group">
  	  <%= text_field_tag :first_name, "#{current_corporate.first_name}",placeholder: "First Name", class: "form-control" %>
	</div>
	<div class="form-group">
  	  <%= text_field_tag :last_name, "#{current_corporate.last_name}",placeholder: "Last Name", class: "form-control" %>
	</div>
	<% if corporate_signed_in? %>
		<div class="form-group">
	 	   <%= text_field_tag :company, "#{current_corporate.business_name}",placeholder: "Company", class: "form-control" %>
		</div>
	<%end%>
	<div class="form-group">
  	  <%= text_field_tag :phone, "#{current_corporate.telephone}",placeholder: "Phone", class: "form-control" %>
	</div>