<p>Please enter your personal info:</p>
	<div class="form-group">
  	  <%= text_field_tag :first_name, "#{current_user.first_name}",placeholder: "First Name", class: "form-control" %>
	</div>
	<div class="form-group">
  	  <%= text_field_tag :last_name, "#{current_user.last_name}",placeholder: "Last Name", class: "form-control" %>
	</div>
	<div class="form-group">
  	  <%= text_field_tag :phone, "#{current_user.telephone}",placeholder: "Phone", class: "form-control" %>
	</div>