<% provide(:title, "New transaction | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>New transaction</h3>
		<span>Invoice #<%= @invoice.id%></span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Total <small>(VAT excl.)</small></span>
				<% if @invoice.currency == "EUR"%>
					<h4 class="info">€<%= "%g" % ("%.2f" % @invoice.total_without_taxes)%></h4>
				<%elsif @invoice.currency == "USD"%>
					<h4 class="info">$<%= "%g" % ("%.2f" % @invoice.total_without_taxes)%></h4>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Total <small>(VAT incl.)</small></span>
				<% if @invoice.currency == "EUR"%>
					<h4 class="info">€<%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></h4>
				<%elsif @invoice.currency == "USD"%>
					<h4 class="info">$<%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></h4>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<div class="payment-container">
		<%= form_tag transactions_path do%>
			<% if user_signed_in? %>
				<%= render 'customer_form_user' unless current_user.has_payment_info? %>
			<%elsif corporate_signed_in? %>
				<%= render 'customer_form_corporate' unless current_corporate.has_payment_info? %>
			<%end%>
			<p>Please enter your payment details:</p>
	      	<div id="dropin"></div>
	  		<%= hidden_field_tag 'token', @invoice.token %>
			<div class="form-submit-button">
				<% if @invoice.currency == "EUR"%>
					<%=submit_tag "Pay €#{"%g" % ("%.2f" % @invoice.total_with_taxes)}", class: "btn btn-join"%>
				<%elsif @invoice.currency == "USD"%>
					<%=submit_tag "Pay $#{"%g" % ("%.2f" % @invoice.total_with_taxes)}€", class: "btn btn-join"%>
				<%end%>
			</div>
	    <%end%>
	</div>
</div><!--/dashboard-invoice-->