<% modal ||= false %>
<% remote = modal ? true : false %>


	<div class="errors-client-container hide">
		<div class="errors-client-explanation">
			<h2>Please correct the following lines:</h2>
			<ul class="error_messages"></ul>
		</div>
	</div>

<%= form_for(@new_client, remote: remote, html: {role: :form, 'data-model' => 'client'}) do |f| %>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-user" aria-hidden="true"></i></div>
  	  	<%= f.text_field :first_name, class: "form-control", placeholder: "First name", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-user" aria-hidden="true"></i></div>
  	  	<%= f.text_field :last_name, class: "form-control", placeholder: "Last name", id:"email" %>
    </div>

    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
  	  	<%= f.text_field :email, class: "form-control", placeholder: "Email", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :address_number, class: "form-control", placeholder: "Street, number", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :postal_code_city, class: "form-control", placeholder: "Postal code, city", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :country, class: "form-control", placeholder: "Country", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-phone" aria-hidden="true"></i></div>
  	  	<%= f.text_field :phone_number, class: "form-control", placeholder: "Phone number", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-mobile" aria-hidden="true"></i></div>
  	  	<%= f.text_field :mobile_number, class: "form-control", placeholder: "Mobile number", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-fax" aria-hidden="true"></i></div>
  	  	<%= f.text_field :fax_number, class: "form-control", placeholder: "Fax number", id:"email" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-at" aria-hidden="true"></i></div>
  	  	<%= f.text_field :website, class: "form-control", placeholder: "Website", id:"email" %>
    </div>
	
	<div class="actions">
	    <%= f.submit 'Add the client', class: 'btn btn-green btn-green-width' %>
	</div>
<%end%>