<div class="client-content" id="classic">
	<div class="header">
		<div class="pull-left">My classic clients</div>
		<div class="pull-right">
			<%= link_to '#add_classic_client', 'data-toggle' => 'modal', id: "add_classic_client_button", class: "btn btn-blue-no-width" do%>
				<i class="fa fa-user-plus add-client" aria-hidden="true"></i> Add a new client
			<%end%>
		</div>
		
	</div>
	
	<div class="client-list-container">
		<div class="client-table-container">
			<table class="table" id="classic_clients_table">
				<thead>
					<tr>
						<th></th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th>Added</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @classic_id = 1%>
					<% @classic_clients.each do |client| %>
						<%= render partial: 'classic_table_row', locals: {client: client} %>
						<% @classic_id+=1%>
					<%end%>
				</tbody>
			</table>
			
			<% if @classic_clients.empty? %>
				<div class="no-clients">
					You don't have any client yet. <br>
					You need to add a client to your list to be able to send invoices.
				</div>
			<%end%>
		</div>
	</div>
</div>
