<tr>
	<td><%= @classic_id%></td>
	<td><%= client.first_name%></td>
	<td><%= client.last_name%></td>
	<td><%= client.email %></td>
	<td><%= client.created_at.strftime("%d/%m/%Y")%></td>
	<td><i class="fa fa-user client-icon" aria-hidden="true"></i></td>
</tr>