<tr>
	<td><%= @corporate_id %></td>
	<td><%= client.company_name%></td>
	<td><%= client.email %></td>
	<td><%= client.phone_number %></td>
	<td><%= client.created_at.strftime("%d/%m/%Y")%></td>
	<td><i class="fa fa-user client-icon" aria-hidden="true"></i></td>
</tr>