<div class="client-content" id="corporate">
	<div class="header">
		<div class="pull-left">My corporate clients</div>
		<div class="pull-right">
			<%= link_to '#add_corporate_client', 'data-toggle' => 'modal', id: "add_corporate_client_button", class: "btn btn-blue-no-width" do%>
				<i class="fa fa-user-plus add-client" aria-hidden="true"></i> Add a new corporate client
			<%end%>
		</div>
	</div>

	<div class="client-list-container">
		<div class="client-table-container">
			<table class="table" id="corporate_clients_table">
				<thead>
					<tr>
						<th></th>
						<th>Company</th>
						<th>Email</th>
						<th>Phone</th>
						<th>Added</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @corporate_id = 1 %>
					<% @corporate_clients.each do |client| %>
						<%= render partial: 'corporate_table_row', locals: {client: client} %>
						<% @corporate_id += 1 %>
					<%end%>
				</tbody>
			</table>
			
			<% if @corporate_clients.empty? %>
				<div class="no-clients">
					You don't have any client yet. <br>
					You need to add a client to your list to be able to send him invoices.
				</div>
			<%end%>
		</div>
	</div>
</div>