<% provide(:title, "Your clients | Invy") %>


<div class="container">
	<div class="client-container">
		<p class="client-container-title">Your clients</p>
		<hr>
		<div class="row">
			<div class="col-sm-3 no-padding-right">
				<div class="side-menu">
					<div class="side-menu-client-info">
						<div class="side-menu-package">
							Client Pack 1
						</div>
						<div id="client_counter"></div>
						<div class="side-menu-package-max">
							Maximum: 50 clients
						</div>
					</div>
					
					<div class="side-menu-links">
						<ul id="client_menu_list">
							<li>
								<a id="#classic">
									<% if @classic_clients.empty?%>
										Classic clients
									<%else%>
										Classic clients (<%= @classic_clients.count%>)
									<%end%>
								</a>
							</li>
							<li>
								<a id="#corporate">
									<% if @corporate_clients.empty?%>
										Corporate clients
									<%else%>
										Corporate clients (<%= @corporate_clients.count%>)
									<%end%>
								</a>
							</li>
						</ul>
					</div>
				</div><!--/side-menu-->
			</div><!--col-sm-3-->
			<div class="col-sm-9 no-padding-left">
				<%= render 'classic' %>
				<%= render 'corporate' %>
			</div><!--col-sm-9-->
		</div>
	</div>
</div>


<div class="modal fade" id="add_classic_client" tabindex="-1" role="dialog" aria-labelledby="newClient" aria-hidden="true">
	<div class="modal-dialog add-client-modal-dialog">
		<div class="modal-content add-client-modal-content">
			<div class="modal-header add-client-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title add-client-modal-title" id="myModalLabel">Add a new client</h3>
		    </div>
			<div class="modal-body add-client-modal-body">
				<%# Render the new person form (passing modal => true to enable remote => true) %>
				<%= render 'classic_form', modal: true %>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="add_corporate_client" tabindex="-1" role="dialog" aria-labelledby="newClient" aria-hidden="true">
	<div class="modal-dialog add-client-modal-dialog">
		<div class="modal-content add-client-modal-content">
			<div class="modal-header add-client-modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class="modal-title add-client-modal-title" id="myModalLabel">Add a new corporate client</h3>
		    </div>
			<div class="modal-body add-client-modal-body">
				<%# Render the new person form (passing modal => true to enable remote => true) %>
				<%= render 'corporate_form', modal: true %>
			</div>
		</div>
	</div>
</div>

<script>
	var bar = new ProgressBar.Line(client_counter, {
	  strokeWidth: 3,
	  color: '#FFEA82',
	  trailColor: '#eee',
	  trailWidth: 1,
	  easing: 'easeInOut',
	  duration: 1400,
	  svgStyle: null,
	  text: {
		  style: {
			  position: 'absolute',
			  top: '30px',
			  padding: 0,
			  right: '75px',
			  margin: 0,
			  transform: null
		  },
	  },
	  from: {color: '#43b497'},
	  to: {color: '#0c84ab'},
	  // Set default step function for all animate calls
	  step: (state, bar) => {
	    bar.path.setAttribute('stroke', state.color);
	    var value = <%= @clients.count %>;
	    bar.setText(value+" clients");
	    bar.text.style.color = '#777';
	  }
	});
	bar.text.style.fontFamily = '"Lato-light", Arial, sans-serif';
	bar.text.style.fontWeight = '700';
	bar.text.style.fontSize = '13px';

	bar.animate(<%= @clients.count.to_f/50 %>);  // Number from 0.0 to 1.0  // Number from 0.0 to 1.0
</script>