<div class="error-messages-container-invoice">
	<% if @new_invoice.errors.any? %>
	  <div id="error_explanation">
		  <h2>Please fill in:</h2>
		  <ul>
			  <% @new_invoice.errors.full_messages.each do |msg| %>
			  	<li><%= msg %></li>
			  <% end %>
		  </ul>
	  </div>
	<% end %>
</div>

<section class="invoice-description-container">
	<div class="row">
		<div class="col-xs-12">
			<div class="invoice-description-page-header">
				<div class="invoice-description-header-brand-container">
					<%if !current_corporate.avatar.exists? %>
						<h2>
							<%= current_corporate.business_name %>
							<small>
								(Upload your company logo <%= link_to "here", edit_corporate_registration_path%>)
							</small>
						</h2>
					<%else%>
						<%= image_tag(current_corporate.avatar.url(:medium))%>
					<%end%>
				</div><!--/brand-container-->
				<div class="invoice-description-header-date">
					Issue date: <%= Time.now.strftime("%d/%m/%Y")%>
				</div>
			</div>
		</div><!--/col-xs-12-->
	</div> <!--/row-->
	<%= form_for @new_invoice, :html => { :class => 'form-horizontal' } do |f| %>
		<div class="row">			
			<div class="col-sm-4">
				<table class="table table-invoice-info">
					<tbody>
						<tr class="active">
							<td><strong>From</strong></td>
							<td></td>
						</tr>
						<tr>
							<td><strong>Email:</strong></td>
							<td><%= current_corporate.email %></td>
						</tr>
						<tr>
							<td><strong>Name:</strong></td>
							<td><%= current_corporate.business_name %></td>
						</tr>
						<tr>
							<td><strong>Address:</strong></td>
							<td><%= current_corporate.address %>, <%= current_corporate.address_number %><br></td>
						</tr>
						<tr>
							<td></td>
							<td><%= current_corporate.city %>, <%= current_corporate.postal_code %></td>
						</tr>
						<tr>
							<td><strong>Account</strong></td>
							<td><%= current_corporate.bank_account %></td>
						</tr>
						<tr>
							<td><strong>Phone:</strong></td>
							<td><%= current_corporate.telephone %></td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div class="col-sm-4">
				<table class="table table-invoice-info">
					<tbody>
						<tr class="active">
							<td><strong>To <%= @test%></strong></td>
							<td></td>
						</tr>
						
						<tr>
							<td><strong>Email:</strong></td>
							<td>
								<%= f.text_field :recipient, class: "form-control form-invoice", placeholder: "Email address", data: {autocomplete_source: suggestions_path}%>
							</td>
						</tr>
						
						<tr>
							<td><strong>Name:</strong></td>
							<td>
								<%= f.text_field :recipient_name, class: "form-control form-invoice form-info-clean", id: "recipient_name", readonly: "readonly"%>
							</td>
						</tr>
						
						<tr>
							<td><strong>Address:</strong></td>
							<td>
								<%= f.text_field :recipient_address, class: "form-control form-invoice form-info-clean", id: "recipient_address", readonly: "readonly"%>
							</td>
						</tr>
						
						<tr>
							<td></td>
							<td>
								<%= f.text_field :recipient_city, class: "form-control form-invoice form-info-clean", id: "recipient_city", readonly: "readonly"%>
							</td>
						</tr>
						<tr>
							<td><strong>Account:</strong></td>
							<td>
								<%= f.text_field :recipient_bank_account, class: "form-control form-invoice form-info-clean", id: "recipient_bank_account", readonly: "readonly"%>
							</td>
						</tr>
						<tr>
							<td><strong>Phone:</strong></td>
							<td>
								<%= f.text_field :recipient_phone, class: "form-control form-invoice form-info-clean", id: "recipient_phone", readonly: "readonly"%>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		
			<div class="col-sm-4">
				<table class="table table-invoice-info">
					<tbody>
						<tr class="active">
							<td><strong>Details</strong></td>
							<td></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;"><strong>Type</strong></td>
							<td><%= f.select(:ledger_info_type, ['Invoice', 'Credit Note'], {:class => 'form-control'})%></td>
						</tr>
						<tr>
							<td><strong>Ref #</strong></td>
							<td class="ledger_id"><%= f.text_field :ledger_id, class: 'form-control form-invoice', id: 'ledger_id', placeholder: "Reference number"%></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;"><strong>Due date</strong></td>
							<td><%= f.date_select :due_date, :order => [:day, :month, :year], default: 1.day.from_now, class: 'form-control' %></td>
						</tr>
						<tr>
							<td style="vertical-align: middle;"><strong>Currency</strong></td>
							<td><%= f.select(:currency, ['EUR', 'USD'], {:class => 'form-control'})%></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/row-->		
		
		<br><br><br>
		
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<table class="table table-invoice-info">
					<thead>
						<tr>
							<th class="product">Product</th>
							<th class="description">Description</th>
							<th class="quantity">Quantity</th>
							<th class="unit-price">Unit Price <span class="currency-value"></span></th>
							<th class="vat">VAT %</th>
							<th class="total">Total <span class="currency-value"></span></th>
							<th class="total-vat">Total (VAT incl.) <span class="currency-value"></span></th>
							<th class="remove"></th>
						</tr>
					</thead>
					<tbody class="invoice-lines">
						<%= f.fields_for :ledger_lines do |line| %>
							<%= render 'ledger_infos/invoice_lines', :f => line %>
						<%end%>
						
					</tbody>
				</table>
				<%= link_to_add_lines "New line", f, :ledger_lines %>
			</div><!--/col-xs-12-->
		</div><!--/row-->
		
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12">
						<p class="invoice-page-header">Special Notes and Instructions</p>
						<%= f.text_area :notes, class: 'form-notes-and-instructions', placeholder: 'Communication'%>
					</div>
					<div class="col-xs-12">
						<p class="invoice-page-header accepted-payments">Accepted Payment Methods</p>
						<%= image_tag('/assets/payment_methods/visa.png')%>
						<%= image_tag('/assets/payment_methods/mastercard.png')%>
						<%= image_tag('/assets/payment_methods/american-express.png')%>
						<%= image_tag('/assets/payment_methods/paypal.png')%>
						<%= image_tag('/assets/payment_methods/maestro.png')%>
					</div>
				</div>
			</div><!--col-xs-6-->
			
			<div class="col-xs-6">
				<p class="invoice-page-header">Invoice Total:</p>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<th style="vertical-align: middle;">Total (VAT excl.) <span class="currency-value"></th>
								<td>
									<%= f.text_field :total_without_taxes, class: 'form-control form-clean', id: 'total_without_vat', value: '0', :readonly => true%>
								</td>
							</tr>
							<tr>
								<th style="vertical-align: middle;">VAT <span class="currency-value"></th>
								<td>
									<%= f.text_field :total_tax, class: 'form-control form-clean', id: 'total_vat', value: '0', :readonly => true%>
								</td>
							</tr>
							<tr class="info">
								<th style="vertical-align: middle;">Total (VAT incl.) <span class="currency-value"></th>
								<td class="td-pricing">
									<%= f.text_field :total_with_taxes, class: 'form-control form-clean', id: 'total_with_vat', value: '0', :readonly => true%>
								</td>
							</tr>
						</tbody>
					</table>
				</div><!--table-responsive-->
				<div>
					<div class="sent-to-accountant-container">
						<span>Send to your accountant:</span>
						<%if current_corporate.accountant_id != 0%>
							<%= f.radio_button :sent_to_accountant, true, :checked => true %> Yes&nbsp;
							<%= f.radio_button :sent_to_accountant, false, :checked => false %> No
						<%else%>
							<span class="warning-text">no accountant yet</span>
						<%end%>
					</div>
					
					<div class="new-invoice-submit-container">
						<%= f.submit "Create the invoice", class: 'btn btn-join create-account' %> 
					</div>

					
			    </div>
			</div><!--col-xs-6-->
		</div><!--/row-->
	<%end%>
</section>