<tr class="invoice-line-fields">
	<td><%= f.text_field :product, class: 'form-control form-invoice', id: 'product', placeholder: "Product"%></td>
	<td><%= f.text_field :description, class: 'form-control form-invoice', id: 'description', placeholder: "Description"%></td>
	<td class="quantity">
		<%= f.text_field :quantity, class: 'form-control form-invoice', id: 'quantity', placeholder: "0"  %>
	</td>
	<td class="unit-price">
		<%= f.text_field :unit_price, class: 'form-control form-invoice', id: 'unit_price', placeholder: "0" %>

	</td>
	<td class="vat">
		<%= f.text_field :tax_rate, class: 'form-control form-invoice', value: '21', id: 'tax_rate' %>
	</td>
	<td class="total">
		<%= f.text_field :total_price, class: 'form-control form-invoice total_price', placeholder: "0" %>
	</td>

	<td class="total-vat">
		<%= f.text_field :total_price_with_taxes, class: 'form-control form-invoice total_with_taxes', placeholder: "0" %>
	</td>
	<td class="remove" style="vertical-align: middle;">
		<%= f.hidden_field :_destroy %>
		<%= link_to("<i class=\"fa fa-minus-circle fa-lg\"></i> ".html_safe, "#",  :class => "link_to_remove_fields", :title => "Remove this line") %>
	</td>
</tr>