<% provide(:title, "All your invoices | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>All your invoices</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#invoiceMonth" aria-controls="invoiceMonth" role="tab" data-toggle="tab">
				<%= Date.today.strftime("%B %Y")%>
			</a>
		</li>
		<li role="presentation">
			<a href="#allInvoices" aria-controls="allInvoices" role="tab" data-toggle="tab">All invoices</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="invoiceMonth">
			<% if @invoices_this_month.any? %>
				<div class="all-invoices-list-container">
					<div class="row">
						<div class="col-xs-12 table-responsive">
							<table class="table table-invoices">
							<thead>
								<tr>
									<th>#</th>
									<th>From</th>
									<th>Received Date</th>
									<th>Due Date</th>
									<th>Paid Date</th>
									<th>Total <small>(VAT excl.)</small></th>
									<th>Total <small>(VAT incl.)</small></th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% @invoices_this_month.each do |invoice| %>
									<tr>
										<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
										<td><%= Corporate.where(email: invoice.sender).take.business_name%></td>
										<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
										<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<%= link_to "Pay", ledger_info_path(invoice) %>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%end%>
										</td>
										<td>
											<div class="invoice-label">
												<% if invoice.ledger_status == "New"%>
													<span class="label label-waiting">Awaiting payment</span>
												<% elsif invoice.ledger_status == "Paid"%>
													<span class="label label-received">Paid</span>
												<%end%>
											</div>
										</td>
									</tr>
								<%end%>
							</tbody>
							</table><!--/table-->
						</div><!--/col-->
					</div><!--/row-->
				</div><!--all-invoices-list-container-->
				<div class="invoice-pagination">
					<%= will_paginate @invoices_this_month, renderer: BootstrapPagination::Rails %>
				</div>
			<%else%>
				<div class="no-invoice-container">
					You don't have any invoices for this month yet.
				</div>
			<%end%>
		</div>
			
		<div role="tabpanel" class="tab-pane fade" id="allInvoices">
			<% if @all_invoices.any? %>
				<div class="all-invoices-list-container">
					<div class="row">
						<div class="col-xs-12 table-responsive">
							<table class="table table-invoices">
							<thead>
								<tr>
									<th>#</th>
									<th>From</th>
									<th>Received Date</th>
									<th>Due Date</th>
									<th>Paid Date</th>
									<th>Total <small>(VAT excl.)</small></th>
									<th>Total <small>(VAT incl.)</small></th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% @all_invoices.each do |invoice| %>
									<tr>
										<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
										<td><%= Corporate.where(email: invoice.sender).take.business_name%></td>
										<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
										<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<%= link_to "Pay", ledger_info_path(invoice) %>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%end%>
										</td>
										<td>
											<div class="invoice-label">
												<% if invoice.ledger_status == "New"%>
													<span class="label label-waiting">Awaiting payment</span>
												<% elsif invoice.ledger_status == "Paid"%>
													<span class="label label-received">Paid</span>
												<%end%>
											</div>
										</td>
									</tr>
								<%end%>
							</tbody>
							</table><!--/table-->
						</div><!--col-->
					</div><!--/row-->
				</div><!--all-invoices-list-container-->
				<div class="invoice-pagination">
					<%= will_paginate @all_invoices, renderer: BootstrapPagination::Rails %>
				</div>
			<%else%>
				<div class="no-invoice-container">
					You don't have any invoices yet.
				</div>
			<%end%>
		</div>
	</div><!--/tab-content-->
</div>

