<% provide(:title, "Online Invoice Creator | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoice creation tool</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<%= render 'ledger_infos/form' %>
</div>