<% provide(:title, "Paid invoices | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoices paid this month: <%= @invoices_paid_this_month_count%></h3>
		<span>Remaining invoices to pay this month: <%= link_to @remaining_invoices_to_pay_this_month_count, new_invoices_path %></span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Amount paid this month</span>
				<h4 class="paid">€<%= "%g" % ("%.2f" % @invoices_paid_this_month_sum) %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Remaining amount to be paid</span>
				<% if @remaining_invoices_to_pay_this_month_sum > 0 %>
					<h4 class="remaining">- €<%= "%g" % ("%.2f" % @remaining_invoices_to_pay_this_month_sum)%></h4>
				<%else%>
					<h4 class="info">€<%= "%g" % ("%.2f" % @remaining_invoices_to_pay_this_month_sum)%></h4>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @invoices_paid_this_month.any? %>
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>From</th>
								<th>Received Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT excl.)</small></th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Payment Method</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% @invoices_paid_this_month.each do |invoice| %>
								<tr>
									<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
									<td><%= Corporate.where(email: invoice.sender).take.business_name%></td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.paid_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
										<%end%>
									</td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td><%= invoice.payment_method%></td>
									<td>
										<div class="invoice-label">
											<span class="label label-received">Paid</span>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table>
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @invoices_paid_this_month,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You didn't pay any invoices for the moment.
		</div>
	<%end%>
</div><!--/dashboard-invoice-->