<% provide(:title, "Received invoices | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoices received: <%= @invoices.count%></h3>
		<span>
			From: <%= @list_customers.take.business_name %>
		</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->



<div class="dashboard-invoice">
	<% if @invoices_received.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>From</th>
								<th>Sent Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Payment method</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% @invoices_received.each do |invoice| %>
								<tr>
									<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
									<% if Corporate.where(email: invoice.recipient).any? %>
										<td><%= Corporate.where(email: invoice.recipient).take.business_name%></td>
									<% else %>
										<td><%= User.where(email: invoice.recipient).take.first_name%> <%= User.where(email: invoice.recipient).take.last_name%></td>
									<%end%>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<% if invoice.ledger_status == "Paid"%>
										<td><%= invoice.paid_date.strftime("%d/%m/%Y")%></td>
									<%else%>
										<td></td>
									<%end%>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td><%= invoice.payment_method%></td>
									<td>
										<div class="invoice-label">
											<% if invoice.ledger_status == "New"%>
												<span class="label label-waiting">Awaiting payment</span>
											<% elsif invoice.ledger_status == "Paid"%>
												<span class="label label-received">Paid</span>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @invoices_received,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You didn't receive any invoices from <%= @list_customers.take.business_name %> yet.
		</div>
	<%end%>
</div>