<?xml version="1.0" encoding="UTF-8"?>
<document>
    <title>Invoice_<%= @invoice.id%> </title>
	<ledger_item>
		<ledger_info>
			<recipient><%= @invoice.recipient%></recipient>
			<type><%= @invoice.ledger_info_type%></type>
			<ledger_id><%= @invoice.ledger_id%></ledger_id>
			<currency><%= @invoice.currency%></currency>
			<total_without_taxes><%= "%g" % ("%.2f" % @invoice.total_without_taxes)%></total_without_taxes>
			<total_tax><%= "%g" % ("%.2f" % @invoice.total_tax)%></total_tax>
			<total_with_taxes><%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></total_with_taxes>
			<due_date><%= @invoice.due_date.strftime("%d/%m/%Y")%></due_date>
		</ledger_info>
		<% LedgerLine.where(ledger_info_id: @invoice.id).find_each do |line| %>
			<ledger_line>
				<product><%= line.product%></product>
				<description><%= line.description%></description>
				<quantity><%= "%g" % ("%.2f" % line.quantity)%></quantity>
				<unit_price><%= "%g" % ("%.2f" % line.unit_price)%></unit_price>
				<tax_rate><%= "%g" % ("%.2f" % line.tax_rate)%></tax_rate>
				<total_price><%= "%g" % ("%.2f" % line.total_price)%></total_price>
				<total_price_with_taxes><%= "%g" % ("%.2f" % line.total_price_with_taxes)%></total_price_with_taxes>
			</ledger_line>
		<% end %>
	</ledger_item>
</document>
