<% provide(:title, "Invoice ##{@invoice.id} | invy")%>

<% if user_signed_in?%>
	<%= render 'basic_pages/show'%>
<%elsif corporate_signed_in?%>
	<%= render 'corporate_pages/show'%>
<%elsif accountant_signed_in?%>
	<%= render 'accountant_pages/show'%>
<%end%>