<% provide(:title, "Unpaid invoices | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Unpaid invoices</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @unpaid_invoices_last_month.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>From</th>
								<th>Received Date</th>
								<th>Due Date</th>
								<th>Total <small>(VAT excl.)</small></th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Status</th>
								<% if corporate_signed_in?%>
									<th>Action</th>
								<%end%>
							</tr>
						</thead>
						<tbody>
							<% @unpaid_invoices_last_month.each do |invoice| %>
								<tr>
									<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
									<td><%= Corporate.where(email: invoice.sender).take.business_name%></td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_without_taxes)%>
										<%end%>
									</td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td>
										<div class="invoice-label">
											<span class="label label-waiting">Awaiting payment</span>
										</div>
									</td>
									<% if corporate_signed_in?%>
										<td><a href="#">Send reminder</a></td>
									<%end%>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @unpaid_invoices_last_month,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You don't have any unpaid invoices for the moment.
		</div>
	<%end%>
</div>

