<%= form_for(@classic) do |f| %>
	<% if @classic.errors.any?%>
		<div class="error-messages-container-account">
			<div id="error_explanation">
				<h2><%= "Please correct the following #{"line".pluralize(@classic.errors.count)}:"%></h2>
				<ul>
					<% @classic.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<%end%>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-phone" aria-hidden="true"></i></div>
  	  	<%= f.text_field :classic_phone, class: "form-control", placeholder: "Phone number", id: "phone_number" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-usd" aria-hidden="true"></i></div>
  	  	<%= f.text_field :bank_account, class: "form-control", placeholder: "Bank account", id: "bank_account" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :classic_street, class: "form-control", placeholder: "Street", id: "address_street" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :classic_street_number, class: "form-control", placeholder: "Number", id: "address_number" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :classic_postal_code, class: "form-control", placeholder: "Postal code", id: "address_pc" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :classic_city, class: "form-control", placeholder: "City", id: "address_city" %>
    </div>
	
  	<%= f.submit "Add a classic account", class: 'btn btn-green btn-green-width'%>
<% end %>
<div class="back-button">
	<%= link_to "Back", root_path, class: "btn btn-grey btn-grey-width" %>
</div>