<% provide(:title, "Classic account")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Almost there...</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->


<div id="dashboard-inner-container">
	<%= render 'layouts/alert'%>
	<div class="add-account">
		<p class="title">Add a classic account to your profile</p>
		<p>When need a little more information about you before setting up your profile.</p>
	</div>

	<div class="add-account-form-container">
		
		<%= render 'form' %>
	</div>
</div>