<% provide(:title, "New invoice | Invy") %>

<div class="container">
	<%= form_for @new_invoice, :html => {:class => 'form-inline'} do |f| %>
		<div class="invoice-banner">
			<div class="row">
				<div class="col-sm-4">
					<div class="info-container">
						<div class="invoice-info">
							<div class="row">
								<div class="col-sm-12">
									<div class="header">
										Reference number
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="due-amount">
										<%= @ref_number %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="footer">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="amount-container">
						<div class="invoice-amount">
							<div class="row">
								<div class="col-sm-12">
									<div class="header">
										Total amount in €
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div id="total_amount">
										0
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="footer">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="due-container">
						<div class="invoice-due">
							<div class="row">
								<div class="col-sm-12">
									<div class="header">
										Due date
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="due_date">
										<%= f.date_select :due_date, :order => [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year+30, default: 1.day.from_now, class: 'form-control' %>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="footer">
										&nbsp;
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div id="dashboard-container">

			<div id="dashboard-inner-container">
	
				<%= render 'layouts/alert'%>
			
				<% if @new_invoice.errors.any? %>
					<div class="error-messages-container-invoice">				
					  <div id="error_explanation">
						  <h2>Please fill in:</h2>
						  <ul>
							  <% @new_invoice.errors.full_messages.each do |msg| %>
							  	<li><%= msg %></li>
							  <% end %>
						  </ul>
					  </div>
					</div>
				<%end%>
	
				<div class="new-invoice-container">
				
		
					<div class="new-invoice-header">
						<div class="row">
							<div class="col-xs-8 col-sm-8">
								<% if @sending_account.corporate.company_image.present?%>
									<%= image_tag @sending_account.corporate.company_image_url(:thumb).to_s %>
								<%else%>
									<div class="corporate-logo">
										You can add your company logo to this invoice by updating your <%= link_to "profile", profile_path%>.					
									</div>
								<%end%>
							</div>
							<div class="col-xs-4 col-sm-4">
								<div class="corporate-info">
									<strong><%= @sending_account.corporate.company_name %></strong><br>
									<%= @sending_account.corporate.company_street %>, <%= @sending_account.corporate.company_street_number %><br>
									<%= @sending_account.corporate.company_city %>, <%= @sending_account.corporate.company_postal_code%><br>
									Belgium<br>
									Phone: <%= @sending_account.corporate.company_phone %><br>
									Email: <%= current_user.emails.take.email  %>
								</div>
							</div>
						</div><!--/row-->
						<hr>
					</div><!--new-invoice-header-->
		
		
					<div class="new-invoice-info">
						<div class="row">
							<div class="col-xs-4 col-sm-4">
								<div class="invoice-info-title">
									<span class="header-title">Recipient:</span>
									<%= f.select :email, @clients.collect{|u| [u.email, u.email]}, class:"form-control form-invoice"%>
						
								</div>
								<p><strong>Buyer Seller Company</strong></p>
								<p><strong>Phone</strong>: 604-123-4578</p>
								<p><strong>Email</strong>: buyerseller@mail.com</p>
							</div>
				
							<div class="col-xs-4 col-sm-4">
								<div class="invoice-info-title">Billing address:</div>
								<p>1234 Fake Street</p>
								<p>San Fransisco, California</p>
								<p>USA</p>
							</div>
				
							<div class="col-xs-4 col-sm-4">
								<div class="invoice-info-title">Invoice details:</div>
								<p><strong><u>Invoice Number</u></strong>: <%= @ref_number %></p>
								<p><strong><u>Issue date</u></strong>: <%= Time.zone.now.to_date.to_formatted_s(:long_ordinal)%></p>
								<p><strong><u>Account number</u></strong>: <%= (@sending_account.corporate.bank_account).scan(/.{1,4}/).join(' ')%></p>
								<p><strong><u>TVA number</u></strong>: <%= @sending_account.corporate.tva_number %></p>
								<p><strong><u>Currency</u></strong>: <%= f.select(:currency, ['EUR', 'USD'], {:class => 'form-control'})%></p>
							</div>
						</div><!--/row-->
						<hr>
					</div><!--/new-invoice-info-->
		
					<div class="new-invoice-content">
						<table class="table table-invoice">
							<thead>
								<tr>
									<th class="product">Product</th>
									<th class="description">Description</th>
									<th class="quantity">Qty</th>
									<th class="unit_price">Unit price <span class="currency-value"></span></th>
									<th class="tax_rate">Tax %</th>
									<th class="total">Total <span class="currency-value"></span></th>
									<th class="total_with_taxes">Total (tax incl.) <span class="currency-value"></span></th>
									<th class="remove"></th>
								</tr>
							</thead>
							<tbody id="ledger-lines">
								<%= f.fields_for :ledger_lines do |line|%>
									<%= render 'layouts/ledger_items/ledger_lines', f: line %>
								<%end%>
							</tbody>
						</table>
						<%= link_to_add_lines "Add a line", f, :ledger_lines %>
						<hr>
					</div><!--/new-invoice-content-->
					<div class="new-invoice-footer">
						<div class="row">
							<div class="col-xs-6 col-sm-6">
								<div class="invoice-info-title">Payment terms and conditions:</div>
								<%= f.text_area :communication, class: 'communication', placeholder: 'Payment terms and conditions'%>
							</div>
				
							<div class="col-xs-6 col-sm-6">
								<div class="invoice-info-title">Invoice balance:</div>
								<table class="table table-invoice">
									<tbody>
										<tr>
											<th style="vertical-align: middle;">Total (tax excl.) <span class="currency-value"></span></th>
											<td>
												<%= f.text_field :total_without_taxes, class: 'form-control form-clean', id: 'total_without_vat', value: 0, :readonly => true%>
											</td>
										</tr>
										<tr>
											<th style="vertical-align: middle;">Total tax <span class="currency-value"></span></th>
											<td>
												<%= f.text_field :total_taxes, class: 'form-control form-clean', id: 'total_vat', value: 0, :readonly => true%>
											</td>
										</tr>
										<tr class="total-balance">
											<th style="vertical-align: middle;">Total (tax incl.) <span class="currency-value"></span></th>
											<td>
												<%= f.text_field :total_with_taxes, class: 'form-control form-clean', value: 0, id: 'total_with_vat', :readonly => true%>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
			
						<div class="row">
							<div class="col-xs-6 col-sm-6">
							</div>
				
							<div class="col-xs-6 col-sm-6">
								<%= f.submit "Create the invoice", class: 'btn btn-green create-account' %> 
							</div>
						</div>
					</div><!--/new-invoice-footer-->
				<%end%>
			</div><!--/new-invoice-container-->
		</div><!--/dashboard-inner-container-->
	</div>
</div>
