<% provide(:title, "Invoice ##{@invoice.ref_number} | Invy") %>

<div class="container">
	
	<div class="invoice-banner">
		<div class="row">
			<div class="col-sm-4">
				<div class="info-container">
					<div class="invoice-info">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									Invoice status
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="due-amount">
									<% if @invoice.ledger_status == "new"%>
									<span class="red">Unpaid</span>
									<%else%>
										Paid
									<%end%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									<% if @invoice.ledger_status == "paid"%>
										paid on <%= @invoice.payment_date.strftime("%B %d, %Y") %>
									<%else%>
										send reminder
									<%end%>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="amount-container">
					<div class="invoice-amount">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									Total amount
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="amount">
									<%= number_to_currency(@invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2) %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="due-container">
					<div class="invoice-due">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									Due date
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="date">
									<%= @invoice.due_date.strftime("%d/%m/%Y")%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									&nbsp;
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	<div id="dashboard-container">
		<div id="dashboard-inner-container">
			<div class="new-invoice-container">
				<div class="new-invoice-header">
					<div class="row">
						<div class="col-xs-8 col-sm-8">
							<% if @sender_account.corporate.company_image.present?%>
								<%= image_tag @sender_account.corporate.company_image_url(:thumb).to_s %>
							<%end%>
						</div>
						<div class="col-xs-4 col-sm-4">
							<div class="corporate-info">
								<strong><%= @sender_account.corporate.company_name %></strong><br>
								<%= @sender_account.corporate.company_street %>, <%= @sender_account.corporate.company_street_number %><br>
								<%= @sender_account.corporate.company_city %>, <%= @sender_account.corporate.company_postal_code%><br>
								Belgium<br>
								Phone: <%= @sender_account.corporate.company_phone %><br>
								Email: <%= @sender.emails.take.email%>
							</div>
						</div>
					</div><!--/row-->
					<hr>
				</div><!--new-invoice-header-->
				
				<div class="new-invoice-info">
					<div class="row">
						<div class="col-xs-4 col-sm-4">
							<div class="invoice-info-title">
								<span class="header-title">Recipient:</span>
						
							</div>
							
							<!-- IF RECEIVER IS CLASSIC ACCOUNT -->
							<% if @receiver_account['classic_id'] > 0 %>
								<p><strong><%= @receiver.first_name %> <%= @receiver.last_name %></strong></p>
								<p>Phone: <%= @receiver_account.classic.classic_phone%></p>
							<!-- IF RECEIVER IS CORPORATE ACCOUNT -->
							<% elsif @receiver_account['corporate_id'] > 0%>
								<p><strong><%= @receiver_account.corporate.company_name %></strong></p>
								<p>Phone: <%= @receiver_account.corporate.company_phone%></p>
							<%end%>
							
							<p>Email: <%= @receiver.emails.take.email%></p>
						</div>
				
						<div class="col-xs-4 col-sm-4">
							<div class="invoice-info-title">Billing address:</div>
							<!-- IF RECEIVER IS CLASSIC ACCOUNT -->
							<% if @receiver_account['classic_id'] > 0 %>
								<p><%= @receiver_account.classic.classic_street %>, <%= @receiver_account.classic.classic_street_number %></p>
								<p><%= @receiver_account.classic.classic_city %>, <%= @receiver_account.classic.classic_postal_code%></p>
								<p>Belgium</p>
							<!-- IF RECEIVER IS CORPORATE ACCOUNT -->
							<% elsif @receiver_account['corporate_id'] > 0%>
								<p><%= @receiver_account.corporate.company_street %>, <%= @receiver_account.corporate.company_street_number %></p>
								<p><%= @receiver_account.corporate.company_city %>, <%= @receiver_account.corporate.company_postal_code%></p>
								<p>Belgium</p>
							<%end%>
						</div>
				
						<div class="col-xs-4 col-sm-4">
							<div class="invoice-info-title">Invoice details:</div>
							<p><strong><u>Invoice Number</u></strong>: <%= @invoice.ref_number%></p>
							<p><strong><u>Issue date</u></strong>: <%= @invoice.issue_date.strftime("%d/%m/%Y")%></p>
							<p><strong><u>Due date</u></strong>: <%= @invoice.due_date.strftime("%d/%m/%Y")%></p>
							<p><strong><u>Account number</u></strong>: <%= (@sender_account.corporate.bank_account).scan(/.{1,4}/).join(' ') %></p>
							<p><strong><u>TVA number</u></strong>: <%= @sender_account.corporate.tva_number %></p>
							<p><strong><u>Currency</u></strong>: <%= @invoice.currency%></p>
						</div>
					</div><!--/row-->
					<hr>
				</div><!--/new-invoice-info-->
				
				<div class="new-invoice-content">
					<table class="table table-invoice">
						<thead>
							<tr>
								<th class="product">Product</th>
								<th class="description">Description</th>
								<th class="quantity">Qty</th>
								<th class="unit_price">Unit price</th>
								<th class="tax_rate">Tax %</th>
								<th class="total">Total</th>
								<th class="total_with_taxes">Total (tax incl.)</th>
							</tr>
						</thead>
						<tbody>
							<% LedgerLine.where(ledger_item_id: @invoice.id).find_each do |line| %>
								<tr>
									<td><%= line.product_name %></td>
									<td><%= line.product_description %></td>
									<td class="quantity"><%= line.quantity %></td>
									<td class="unit_price"><%= number_to_currency(line.unit_price, unit: "€", separator: ",", delimiter: ".", precision: 2)%></td>
									<td class="tax_rate"><%= line.tax_rate%>%</td>
									<td class="total"><%= number_to_currency(line.total_price, unit: "€", separator: ",", delimiter: ".", precision: 2)%></td>
									<td class="total_with_taxes"><%= number_to_currency(line.total_price_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%></td>
								</tr>
							<%end%>
						</tbody>
					</table>
					<hr>
				</div>
				
				<div class="new-invoice-footer">
					<div class="row">
						<div class="col-xs-6 col-sm-6">
							<div class="invoice-info-title">Payment terms and conditions:</div>
								<div class="communication-container">
									<%= simple_format(@invoice.communication)%>
								</div>
						</div>
				
						<div class="col-xs-6 col-sm-6">
							<div class="invoice-info-title">Invoice balance:</div>
							<table class="table table-invoice">
								<tbody>
									<tr class="row-sizing">
										<th style="vertical-align: middle;">Total (tax excl.)</th>
										<td style="vertical-align: middle;">
											<%= number_to_currency(@invoice.total_without_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</td>
									</tr>
									<tr class="row-sizing">
										<th style="vertical-align: middle;">Total tax</th>
										<td style="vertical-align: middle;">
											<%= number_to_currency(@invoice.total_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</td>
									</tr>
									<tr class="row-sizing total-balance">
										<th style="vertical-align: middle;">Total (tax incl.)</th>
										<td style="vertical-align: middle;">
											<%= number_to_currency(@invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</td>
									</tr>
								</tbody>
							</table>
							
							<div class="invoice-save-container">
								<% if @invoice.ledger_status == "new"%>
									<% if @current_corporate.present? %>
										<% if !@current_corporate.corporate_id = @sender_account.corporate_id %>
											<%= link_to pay_path(:id => @invoice), class: "btn btn-blue" do %>
												<i class="fa fa-payment"></i> Pay <%= number_to_currency(@invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
											<% end %>
										<% else %>
											<%= link_to "#", class: "btn btn-blue" do %>
												<i class="fa fa-paper-plane-o"></i> Send reminder
											<%end%>
										<% end %>
									<%else%>
										<%= link_to pay_path(:id => @invoice), class: "btn btn-blue" do %>
											<i class="fa fa-payment"></i> Pay <%= number_to_currency(@invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										<%end%>
									<%end%>
								<%end%>
								<%= link_to ledger_item_path(@invoice, format: "pdf"), class: "btn btn-blue", target: "_blank" do%>
									<i class="fa fa-file-pdf-o"></i> Save as PDF
								<%end%>
							</div>
						</div>
					</div>
				</div><!--/new-invoice-footer-->
			</div>
		</div>
	</div>
</div>