<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoice <small>#<%= @invoice.id%></small></h3>
		<% if @invoice.ledger_status == "New"%>
			<span class="label label-waiting">Awaiting payment</span>
		<% elsif @invoice.ledger_status == "Paid"%>
			<span class="label label-received">Paid</span> 
		<%end%>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Sent to accountant</span>
				<% if current_corporate.accountant_id == 0%>
					<h4><%= link_to "Add an accountant",edit_corporate_registration_path %></h4>
				<%else %>
					<% if @invoice.sent_to_accountant == false%>
						<h4 class="info">Details not sent</h4>
					<% else %>
						<h4 class="info">Details sent</h4>
					<%end%>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<% if @invoice.ledger_status == "Paid"%>
			<li>
				<div class="dashboard-header-invoice-stats-item">
					<span>Invoice paid on</span>
					<h4 class="paid"><%= @invoice.paid_date.strftime("%d/%m/%Y") %></h4>
				</div><!--/dashboard-header-invoice-stats-item-->
			</li>
		<%end%>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->


<div class="dashboard-invoice">
	<section class="invoice-description-container">
		<div class="row">
			<div class="col-xs-12">
				<div class="invoice-description-page-header">
					<div class="invoice-description-header-brand-container">
						<%if !(Corporate.where(email: @invoice.sender).first).avatar.exists? %>
							<% if corporate_signed_in? and current_corporate.email == Corporate.where(email: @invoice.sender).take.email %>
								<h2>
									<%= Corporate.where(email: @invoice.sender).take.business_name %>
									<small>
										(Upload your company logo <%= link_to "here", edit_corporate_registration_path%>)
									</small>
								</h2>
							<%else%>
								<h2>
									<%= Corporate.where(email: @invoice.sender).take.business_name %>
								</h2>
							<%end%>
						<%else%>
							<%= image_tag((Corporate.where(email: @invoice.sender).first).avatar.url(:medium))%>
						<%end%>
					</div><!--/brand-container-->
					<div class="invoice-description-header-date">
						Issue date: <%= @invoice.issue_date.strftime("%d/%m/%Y") %>
					</div>
				</div>
			</div><!--/col-xs-12-->
		</div> <!--/row-->
		
		<div class="row">
			<div class="col-sm-4">
				<table class="table table-invoice-info">
					<tbody>
						<tr class="active">
							<td><strong>From</strong></td>
							<td></td>
						</tr>
						<tr>
							<td><strong>Name:</strong></td>
							<td><%= Corporate.where(email: @invoice.sender).take.business_name %></td>
						</tr>
						<tr>
							<td><strong>Address:</strong></td>
							<td><%= Corporate.where(email: @invoice.sender).take.address %>, <%= Corporate.where(email: @invoice.sender).take.address_number %><br></td>
						</tr>
						<tr>
							<td></td>
							<td><%= Corporate.where(email: @invoice.sender).take.city %>, <%= Corporate.where(email: @invoice.sender).take.postal_code %></td>
						</tr>
						<tr>
							<td><strong>Phone:</strong></td>
							<td><%= Corporate.where(email: @invoice.sender).take.telephone %></td>
						</tr>
						<tr>
							<td><strong>Email:</strong></td>
							<td><%= Corporate.where(email: @invoice.sender).take.email %></td>
						</tr>
						<tr>
							<td><strong>Account:</strong></td>
							<td><%= Corporate.where(email: @invoice.sender).take.bank_account %></td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-sm-4">						
				<table class="table table-invoice-info">
					<% if Corporate.where(email: @invoice.recipient).any?%>
						<tbody>
							<tr class="active">
								<td><strong>To</strong></td>
								<td></td>
							</tr>
							<tr>
								<td><strong>Name:</strong></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.business_name %></td>
							</tr>
							<tr>
								<td><strong>Address:</strong></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.address %>, <%= Corporate.where(email: @invoice.recipient).take.address_number %></td>
							</tr>
							<tr>
								<td></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.city %>, <%= Corporate.where(email: @invoice.recipient).take.postal_code %></td>
							</tr>
							<tr>
								<td><strong>Phone:</strong></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.telephone %></td>
							</tr>
							<tr>
								<td><strong>Email:</strong></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.email %></td>
							</tr>
							<tr>
								<td><strong>Account:</strong></td>
								<td><%= Corporate.where(email: @invoice.recipient).take.bank_account %></td>
							</tr>
						</tbody>
					<%else%>
						<tbody>
							<tr class="active">
								<td><strong>To</strong></td>
								<td></td>
							</tr>
							<tr>
								<td><strong>Name:</strong></td>
								<td><%= User.where(email: @invoice.recipient).take.first_name %> <%= User.where(email: @invoice.recipient).take.last_name %></td>
							</tr>
							<tr>
								<td><strong>Address:</strong></td>
								<td><%= User.where(email: @invoice.recipient).take.address %>, <%= User.where(email: @invoice.recipient).take.address_number %><br></td>
							</tr>
							<tr>
								<td></td>
								<td><%= User.where(email: @invoice.recipient).take.city %>, <%= User.where(email: @invoice.recipient).take.postal_code %></td>
							</tr>
							<tr>
								<td><strong>Phone:</strong></td>
								<td><%= User.where(email: @invoice.recipient).take.telephone %></td>
							</tr>
							<tr>
								<td><strong>Email:</strong></td>
								<td><%= User.where(email: @invoice.recipient).take.email %></td>
							</tr>
							<tr>
								<td><strong>Account:</strong></td>
								<td><%= User.where(email: @invoice.recipient).take.bank_account %></td>
							</tr>
						</tbody>
					<%end%>
				</table>
			</div>
			
			<div class="col-sm-4">
				<table class="table table-invoice-info">
					<tbody>
						<tr class="active">
							<td><strong>Details</strong></td>
							<td></td>
						</tr>
						<tr>
							<td><strong>Invoice #</strong></td>
							<td><%= @invoice.id%></td>
						</tr>
						<tr>
							<td><strong>Ref Number</strong></td>
							<td><%= @invoice.ledger_id%>
						</tr>
						<tr>
							<td><strong>Payment due date</strong></td>
							<td><%= @invoice.due_date.strftime("%d/%m/%Y")%></td>
						</tr>
						<% if @invoice.ledger_status == "Paid"%>
							<tr>
								<td><strong>Payment date</strong></td>
								<td><%= @invoice.paid_date.strftime("%d/%m/%Y")%></td>
							</tr>
							<tr>
								<td><strong>Payment method</strong></td>
								<td><%= @invoice.payment_method%></td>
							</tr>
						<%end%>
						<tr>
							<td><strong>Currency</strong></td>
							<td><%= @invoice.currency %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><!--/row-->
		
		<br><br><br>
		
		<div class="row">
			<div class="col-xs-12 table-responsive">
				<table class="table table-invoices">
					<thead>
						<tr>
							<th>Product</th>
							<th>Description</th>
							<th>Quantity</th>
							<th>Unit Price</th>
							<th>VAT Rate</th>
							<th>Total</th>
							<th>Total VAT incl.</th>
						</tr>
					</thead>
					<tbody>
						<% LedgerLine.where(ledger_info_id: @invoice.id).find_each do |line| %>
							<tr class="border-tr">
								<td><%= line.product %></td>
								<td><%= line.description %></td>
								<td class="td-pricing"><%= "%g" % ("%.2f" % line.quantity) %></td>
								<td class="td-pricing">
									<% if @invoice.currency == "EUR"%>
										€<%= "%g" % ("%.2f" % line.unit_price)%>
									<%elsif @invoice.currency == "USD"%>
										$<%= "%g" % ("%.2f" % line.unit_price)%>
									<%end%>
								</td>
								<td class="td-pricing"><%= "%g" % ("%.2f" % line.tax_rate)%>%</td>
								<td class="td-pricing">
									<% if @invoice.currency == "EUR"%>
										€<%= "%g" % ("%.2f" % line.total_price)%>
									<%elsif @invoice.currency == "USD"%>
										$<%= "%g" % ("%.2f" % line.total_price)%>
									<%end%>
								</td>
								<td class="td-pricing">
									<% if @invoice.currency == "EUR"%>
										€<%= "%g" % ("%.2f" % line.total_price_with_taxes)%>
									<%elsif @invoice.currency == "USD"%>
										$<%= "%g" % ("%.2f" % line.total_price_with_taxes)%>
									<%end%>
								</td>
							</tr>
						<%end%>
					</tbody>
				</table>
			</div><!--/col-->
		</div><!--/row-->
		
		<div class="row">
			<div class="col-xs-6">
				<div class="row">
					<div class="col-xs-12">
						<p class="invoice-page-header">Special Notes and Instructions</p>
						<div class="invoice-notes-and-instructions-container">
							<div class="invoice-notes-and-instructions-item">
								<%= simple_format(@invoice.notes)%>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<p class="invoice-page-header accepted-payments">Accepted Payment Methods</p>
						<%= image_tag('/assets/payment_methods/visa.png')%>
						<%= image_tag('/assets/payment_methods/mastercard.png')%>
						<%= image_tag('/assets/payment_methods/american-express.png')%>
						<%= image_tag('/assets/payment_methods/paypal.png')%>
						<%= image_tag('/assets/payment_methods/maestro.png')%>
					</div>
				</div>
			</div><!--col-xs-6-->
			
			<div class="col-xs-6">
				<p class="invoice-page-header">Due Date: <%= @invoice.due_date.strftime("%d/%m/%Y")%></p>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr class="invoice-row-sizing">
								<th style="vertical-align: middle;">Total (VAT excl.)</th>
								<td style="vertical-align: middle;">
									<% if @invoice.currency == "EUR"%>
										€<%= "%g" % ("%.2f" % @invoice.total_without_taxes)%>
									<%elsif @invoice.currency == "USD"%>
										$<%= "%g" % ("%.2f" % @invoice.total_without_taxes)%>
									<%end%>
								</td>
							</tr>
							<tr class="invoice-row-sizing">
								<th style="vertical-align: middle;">VAT <%= "%g" % ("%.2f" % LedgerLine.where(ledger_info_id: @invoice.id).take.tax_rate)%>%</th>
								<td style="vertical-align: middle;">
									<% if @invoice.currency == "EUR"%>
										€<%= "%g" % ("%.2f" % @invoice.total_tax)%>
									<%elsif @invoice.currency == "USD"%>
										$<%= "%g" % ("%.2f" % @invoice.total_tax)%>
									<%end%>
								</td>
							</tr>
							<tr class="invoice-row-sizing info">
								<th style="vertical-align: middle;">Total (VAT incl.)</th>
								<td style="vertical-align: middle;">
									<% if @invoice.currency == "EUR"%>
										<strong>€<%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></strong>
									<%elsif @invoice.currency == "USD"%>
										<strong>$<%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></strong>
									<%end%>
								</td>
							</tr>
						</tbody>
					</table>
				</div> <!--/table-responsive-->
				
				<!--Buttons-->
				<!--New invoice-->
				<% if @invoice.ledger_status == "New"%>
						<div class="show-invoice-button-container">
							<% if @invoice.sender != current_corporate.email %>
								<!--pay button-->
								<div class="show-invoice-button-pay">
									<%= link_to new_transaction_path(:id => @invoice), class: "btn btn-join", method: :get do %>
										<i class="fa fa-credit-card"></i> proceed to payment
									<%end%>
								</div>
							<%end%>
							<!--Save button-->
							<div class="show-invoice-button-save">
								<div class="dropup">
								  <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown">
									  <i class="fa fa-download"></i> Save as
								  </button>
								  <ul class="dropdown-menu show-invoice-button-save-items-container">
								    <li>
										<%= link_to ledger_info_path(@invoice, format: "pdf"), class: "btn btn-blue", target: "_blank" do %>
											<i class="fa fa-file-pdf-o"></i> Save as PDF
										<%end%>
								    </li>
								    <li class="divider"></li>
								    <li>
										<%= link_to ledger_info_path(@invoice, format: "xml"), class: "btn btn-blue", target: "_blank" do %>
											<i class="fa fa-file-code-o"></i> Save as XML
										<%end%>
									</li>
								  </ul>
								</div>
							</div>
						</div>
							
					
				<!--Paid invoice-->
				<%elsif @invoice.ledger_status == "Paid"%>
					<div class="show-invoice-button-container">
						<!--Save button-->
						<div class="show-invoice-button-save">
							<div class="dropup">
							  <button class="btn btn-blue dropdown-toggle" type="button" data-toggle="dropdown">
								  <i class="fa fa-download"></i> Save as
							  </button>
							  <ul class="dropdown-menu show-invoice-button-save-items-container">
							    <li>
									<%= link_to ledger_info_path(@invoice, format: "pdf"), class: "btn btn-blue", target: "_blank" do %>
										<i class="fa fa-file-pdf-o"></i> Save as PDF
									<%end%>
							    </li>
							    <li class="divider"></li>
							    <li>
									<%= link_to ledger_info_path(@invoice, format: "xml"), class: "btn btn-blue", target: "_blank" do %>
										<i class="fa fa-file-code-o"></i> Save as XML
									<%end%>
								</li>
							  </ul>
							</div>
						</div>
					</div>
				<%end%>
			</div><!--col-xs-6-->
		</div><!--row-->
		
	</section>
</div>