<% provide(:title, "Accounting | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Accounting - 
			<small>
			<% if @accountant.any?%>
				<%= @accountant.take.business_name%>
			<%else%>
				<%= link_to "Add an accountant",edit_corporate_registration_path %>
			<%end%>
			</small>
		</h3>
		<span>
			<div class="progress progress-header">
			  <div class="progress-bar <% if @progress_sent_to_accountant < 100%>progress-bar-pending <%else%> progress-bar-paid <%end%>" role="progressbar" aria-valuenow="<%= @progress_sent_to_accountant %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @progress_sent_to_accountant %>%;">
			    <%=@sent_invoices_this_month_to_accountant_count%>/<%=@sent_invoices_this_month_count%>
			  </div>
			</div>
		</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Total invoices sent to accountant this month</span>
				<h4 class="info"><%=@sent_invoices_this_month_to_accountant_count%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Total invoices this month</span>
				<h4 class="info"><%=@sent_invoices_this_month_count%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<% if @sent_invoices_this_month_list.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>To</th>
								<th>Sent Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Accountant Status</th>
							</tr>
						</thead>
						<tbody>
							<% @sent_invoices_this_month_list.each do |invoice| %>
								<tr>
									<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
									
									<td>
										<%if Corporate.where(email: invoice.recipient).any?%>
											<%= Corporate.where(email: invoice.recipient).take.business_name %>
										<%else%>
											<%if User.where(email: invoice.recipient).any? %>
												<%= User.where(email: invoice.recipient).take.first_name %> <%= User.where(email: invoice.recipient).take.last_name %>
											<%else%>
												<a href="#" title="Not yet a member! Click to send an invite"><%= invoice.recipient%></a>
											<%end%>
										<%end%>
									</td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if (invoice.paid_date != nil) %>
											<%= invoice.paid_date.strftime("%d/%m/%Y")%>
										<%else%>
											<span class="warning-text">Not paid yet</span>
										<%end%>
									</td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td>
										<div class="invoice-label">
											<% if invoice.sent_to_accountant == false%>
												<%= link_to corporate_pages_send_to_accountant_path(:id => invoice), class: "btn btn-send-accountant", method: :get do %>
													Send details
												<%end%>
											<% elsif invoice.sent_to_accountant == true%>
												<span class="label label-accounting-received">Details sent</span>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @sent_invoices_this_month_list,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You haven't sent any invoices yet this month.
		</div>
	<%end%>
</div>
