<% provide(:title, "Dashboard")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Dashboard</h3>
		<span>
			<% if current_corporate.sign_in_count > 1%>
				Welcome back, 
			<% else %>
				Welcome, 
			<%end%>
			<%= "#{current_corporate.business_name}"%> !
		</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Invoices sent</span>
				<h4 class="info"><%= @sent_invoices_this_month_count %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Invoices received</span>
				<h4 class="info"><%= @invoices_this_month_count %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>This month Expenses</span>
				<h4 class="info">€<%= "%g" % ("%.2f" % @total_expenses_this_month)%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>This month balance</span>
				<% if @balance_this_month < 0 %>
				
					<h4 class="remaining">- €<%= "%g" % ("%.2f" % @balance_this_month.abs)%></h4>
				<%else%>
					<h4 class="paid">€<%= "%g" % ("%.2f" % @balance_this_month.abs)%></h4>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="col-sm-6 col-md-6 col-info-panels">
				<ul class="dashboard-invoice-info-container">
					<!--New invoices-->
					<li>
						<%= link_to new_invoices_path do%>
							<div class="panel panel-new-invoices">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-envelope-o fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @invoices_new_this_month_count %></div>
											<div>New <%= "invoice".pluralize(@invoices_new_this_month_count)%></div>
										</div>
									</div>
								</div>
							</div>
						<%end%>
					</li>
					<!--Paid invoices-->
					<li>
						<%= link_to paid_invoices_path do%>
							<div class="panel panel-paid-invoices">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-check-square-o fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @invoices_paid_this_month_count %></div>
											<div>Paid <%= "invoice".pluralize(@invoices_paid_this_month_count)%></div>
										</div>
									</div>
								</div>
							</div>
						<%end%>
					</li>
					<!--All invoices-->
					<li>
						<%= link_to invoice_path do%>
							<div class="panel panel-all-invoices">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-folder-open fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @invoices_this_month_count %></div>
											<div><%= "Invoice".pluralize(@invoices_this_month_count)%></div>
										</div>
									</div>
								</div>
							</div>
						<%end%>
					</li>
				</ul><!--/dashboard-invoice-info-container-->
			</div>
			
			<div class="col-sm-6 col-md-6 col-info-panels">
				<ul class="dashboard-invoice-info-container">
					<!--Invoices sent-->
					<li>
						<%= link_to sent_invoices_path do%>
							<div class="panel panel-sent-invoices">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-share-square-o fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @sent_invoices_this_month_count %></div>
											<div>Sent <%= "invoice".pluralize(@sent_invoices_this_month_count)%></div>
										</div>
									</div>
								</div>
							</div> <!--Panel heading-->
						<%end%>
					</li>
					<!--Received payments-->
					<li>
						<%= link_to received_payments_path do%>
							<div class="panel panel-received-payments-invoices">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<i class="fa fa-usd fa-5x"></i>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @sent_invoices_paid_this_month_count %></div>
											<div><%= "Payment".pluralize(@sent_invoices_paid_this_month_count)%> received</div>
										</div>
									</div>
								</div>
							</div>
						<%end%>
					</li>
					
					<li>
						<%= link_to unpaid_path do%>
							<div class="panel panel-not-paid">
								<div class="panel-heading">
									<div class="row">
										<div class="col-xs-3">
											<% if @unpaid_invoices_last_month_count > 0 %>
												<i class="fa fa-exclamation exclamation-warning fa-5x"></i>
											<%else%>
												<i class="fa fa-exclamation fa-5x"></i>
											<%end%>
										</div>
										<div class="col-xs-9 text-right">
											<div class="info-number"><%= @unpaid_invoices_last_month_count %></div>
											<div>Unpaid last month</div>
										</div>
									</div>
								</div>
							</div>
						<%end%>
					</li>
				</ul><!--/dashboard-invoice-info-container-->
			</div>
		</div>
		
		<div class="col-sm-6 col-md-6">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<div class="progress-info-title">
						<%= Date.today.strftime("%B")%>'s payments progress
					</div>
					<div class="progress-info-title">
						<%= Date.today.strftime("%B")%>'s received payments progress
					</div>
				</div>
				
				<div class="col-sm-6 col-md-6">
					<div class="progress">
					  <div class="progress-bar <% if @progress < 100 and @invoices_this_month_count !=0%>progress-bar-pending <%else%> progress-bar-paid <%end%>" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%if @invoices_this_month_count == 0%>100<%else%> <%=@progress%><%end%>%;">
					    <%=@invoices_paid_this_month_count%>/<%=@invoices_this_month_count%>
					  </div>
					</div>
					
					<div class="progress">
					  <div class="progress-bar <% if @progress_sent_invoices < 100 and @sent_invoices_this_month_count !=0%>progress-bar-pending <%else%> progress-bar-paid <%end%>" role="progressbar" aria-valuenow="<%= @progress_sent_invoices %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%if @sent_invoices_this_month_count == 0%>100<%else%> <%=@progress_sent_invoices%><%end%>%;">
					    <%=@sent_invoices_paid_this_month_count%>/<%=@sent_invoices_this_month_count%>
					  </div>
					</div>
				</div><!--col-sm7-->
			</div><!--/row-->
			
			<div class="row">
				<div class="col-sm12 col-md-12">
					<div class="graph-title">Number of invoices sent and received per day in <%= Date.today.strftime("%B")%></div>
					<div class="graph-container-side" id="invoices_sent_and_received_per_day"></div>
				</div>
			</div>	
		</div><!--/row-->
		
	</div><!--/row-->
	<div class="row">
		<div class="col-sm-6 col-md-6 col-graph">
			<div class="graph-title">Number of invoices received per month in <%= Date.current.year%></div>
			<div class="graph-container" id="invoices_per_month"></div>
		</div>
		<div class="col-sm-6 col-md-6 col-graph">
			<div class="graph-title">Total expenses per month in <%= Date.current.year%> <small>(in €)</small></div>
			<div class="graph-container" id="expenses_per_month"></div>
		</div><!--/col-6-->
	</div><!--/row-->
	
	<div class="row">
		<div class="col-sm-6 col-md-6 col-graph">
			<div class="graph-title">Number of invoices sent per month in <%= Date.current.year%></div>
			<div class="graph-container" id="invoices_sent_per_month"></div>
		</div>
		<div class="col-sm-6 col-md-6 col-graph">
			<div class="graph-title">Total incomes per month in <%= Date.current.year%> <small>(in €)</small></div>
			<div class="graph-container" id="incomes_per_month"></div>
		</div><!--/col-6-->
	</div><!--/row-->
</div><!--/dashboard-invoice-->


<% if Rails.env.development?%>
	<script type="text/javascript">
		new Morris.Bar({
			element: 'invoices_sent_and_received_per_day',
			parseTime: false,
			resize: true,
			barColors: ['#43b497', '#fbb91c'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ day: '01/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 1).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 1).count %>},
			  	{ day: '02/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 2).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 2).count %>},
			  	{ day: '03/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 3).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 3).count %>},
			  	{ day: '04/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 4).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 4).count %>},
				{ day: '05/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 5).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 5).count %>},
			  	{ day: '06/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 6).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 6).count %>},
				{ day: '07/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 7).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 7).count %>},
				{ day: '08/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 8).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 8).count %>},
				{ day: '09/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 9).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 9).count %>},
				{ day: '10/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 10).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 10).count %>},
				{ day: '11/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '12/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 12).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 12).count %>},
				{ day: '13/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 13).count %>},
				{ day: '14/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 14).count %>},
				{ day: '15/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 15).count %>},
				{ day: '16/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 16).count %>},
				{ day: '17/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 17).count %>},
				{ day: '18/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 18).count %>},
				{ day: '19/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 19).count %>},
				{ day: '20/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 20).count %>},
				{ day: '21/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 21).count %>},
				{ day: '22/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 22).count %>},
				{ day: '23/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 23).count %>},
				{ day: '24/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 24).count %>},
				{ day: '25/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 25).count %>},
				{ day: '26/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 26).count %>},
				{ day: '27/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 27).count %>},
				{ day: '28/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 28).count %>},
				{ day: '29/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 29).count %>},
				{ day: '30/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 30).count %>},
				{ day: '31/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("strftime('%d', created_at)+0=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("strftime('%d', created_at)+0=?", 31).count %>}
			],
		  	xkey: 'day',
		 	ykeys: ['value', 'sent'],
		 	labels: ['Received', 'Sent']
		});
	</script>


	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_invoices.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	<script type="text/javascript">
		new Morris.Bar({
			element: 'expenses_per_month',
			parseTime: false,
			resize: true,
			barColors: ['#fc7d3f'],
			hideHover: 'auto',
			data: [
				{ y: 'Jan', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 1).sum :total_with_taxes %>},
			  	{ y: 'Feb', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 2).sum :total_with_taxes %> },
			  	{ y: 'Mar', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 3).sum :total_with_taxes %> },
			  	{ y: 'Apr', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 4).sum :total_with_taxes %> },
				{ y: 'May', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 5).sum :total_with_taxes %> },
			  	{ y: 'Jun', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 6).sum :total_with_taxes %> },
				{ y: 'Jul', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 7).sum :total_with_taxes %> },
				{ y: 'Aug', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 8).sum :total_with_taxes %> },
				{ y: 'Sep', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 9).sum :total_with_taxes %> },
				{ y: 'Oct', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 10).sum :total_with_taxes %> },
				{ y: 'Nov', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 11).sum :total_with_taxes %> },
				{ y: 'Dec', value: <%= @this_year_paid_invoices.where("strftime('%m', created_at)+0=?", 12).sum :total_with_taxes %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_sent_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fbb91c'],
			lineColors: ['#fbb91c'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_sent_invoices.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	
	<script type="text/javascript">
		new Morris.Bar({
			element: 'incomes_per_month',
			parseTime: false,
			resize: true,
			barColors: ['#008000'],
			hideHover: 'auto',
			data: [
				{ y: 'Jan', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 1).sum :total_with_taxes %>},
			  	{ y: 'Feb', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 2).sum :total_with_taxes %> },
			  	{ y: 'Mar', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 3).sum :total_with_taxes %> },
			  	{ y: 'Apr', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 4).sum :total_with_taxes %> },
				{ y: 'May', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 5).sum :total_with_taxes %> },
			  	{ y: 'Jun', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 6).sum :total_with_taxes %> },
				{ y: 'Jul', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 7).sum :total_with_taxes %> },
				{ y: 'Aug', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 8).sum :total_with_taxes %> },
				{ y: 'Sep', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 9).sum :total_with_taxes %> },
				{ y: 'Oct', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 10).sum :total_with_taxes %> },
				{ y: 'Nov', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 11).sum :total_with_taxes %> },
				{ y: 'Dec', value: <%= @this_year_paid_invoices_sent.where("strftime('%m', created_at)+0=?", 12).sum :total_with_taxes %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
<%else%>
	<script type="text/javascript">
		new Morris.Bar({
			element: 'invoices_sent_and_received_per_day',
			parseTime: false,
			resize: true,
			barColors: ['#43b497', '#fbb91c'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ day: '01/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 1).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 1).count %>},
			  	{ day: '02/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 2).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 2).count %>},
			  	{ day: '03/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 3).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 3).count %>},
			  	{ day: '04/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 4).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 4).count %>},
				{ day: '05/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 5).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 5).count %>},
			  	{ day: '06/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 6).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 6).count %>},
				{ day: '07/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 7).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 7).count %>},
				{ day: '08/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 8).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 8).count %>},
				{ day: '09/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 9).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 9).count %>},
				{ day: '10/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 10).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 10).count %>},
				{ day: '11/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 11).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 11).count %>},
				{ day: '12/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 12).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 12).count %>},
				{ day: '13/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 13).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 13).count %>},
				{ day: '14/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 14).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 14).count %>},
				{ day: '15/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 15).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 15).count %>},
				{ day: '16/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 16).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 16).count %>},
				{ day: '17/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 17).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 17).count %>},
				{ day: '18/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 18).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 18).count %>},
				{ day: '19/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 19).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 19).count %>},
				{ day: '20/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 20).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 20).count %>},
				{ day: '21/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 21).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 21).count %>},
				{ day: '22/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 22).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 22).count %>},
				{ day: '23/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 23).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 23).count %>},
				{ day: '24/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 24).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 24).count %>},
				{ day: '25/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 25).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 25).count %>},
				{ day: '26/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 26).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 26).count %>},
				{ day: '27/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 27).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 27).count %>},
				{ day: '28/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 28).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 28).count %>},
				{ day: '29/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 29).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 29).count %>},
				{ day: '30/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 30).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 30).count %>},
				{ day: '31/<%= Date.today.strftime("%m")%>', value: <%= @this_month_invoices.where("extract(day from created_at)=?", 31).count %>, sent: <%= @this_month_sent_invoices.where("extract(day from created_at)=?", 31).count %>}
			],
		  	xkey: 'day',
		 	ykeys: ['value', 'sent'],
		 	labels: ['Received', 'Sent']
		});
	</script>


	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			lineColors: ['#43b497'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_invoices.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Bar({
			element: 'expenses_per_month',
			parseTime: false,
			resize: true,
			barColors: ['#fc7d3f'],
			hideHover: 'auto',
			data: [
				{ y: 'Jan', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 1).sum :total_with_taxes  %>},
			  	{ y: 'Feb', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 2).sum :total_with_taxes %> },
			  	{ y: 'Mar', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 3).sum :total_with_taxes %> },
			  	{ y: 'Apr', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 4).sum :total_with_taxes %> },
				{ y: 'May', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 5).sum :total_with_taxes %> },
			  	{ y: 'Jun', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 6).sum :total_with_taxes %> },
				{ y: 'Jul', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 7).sum :total_with_taxes %> },
				{ y: 'Aug', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 8).sum :total_with_taxes %> },
				{ y: 'Sep', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 9).sum :total_with_taxes %> },
				{ y: 'Oct', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 10).sum :total_with_taxes %> },
				{ y: 'Nov', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 11).sum :total_with_taxes %> },
				{ y: 'Dec', value: <%= @this_year_paid_invoices.where("extract(month from created_at)=?", 12).sum :total_with_taxes %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_sent_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fbb91c'],
			lineColors: ['#fbb91c'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_sent_invoices.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	
	<script type="text/javascript">
		new Morris.Bar({
			element: 'incomes_per_month',
			parseTime: false,
			resize: true,
			barColors: ['#008000'],
			hideHover: 'auto',
			data: [
				{ y: 'Jan', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 1).sum :total_with_taxes  %>},
			  	{ y: 'Feb', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 2).sum :total_with_taxes %> },
			  	{ y: 'Mar', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 3).sum :total_with_taxes %> },
			  	{ y: 'Apr', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 4).sum :total_with_taxes %> },
				{ y: 'May', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 5).sum :total_with_taxes %> },
			  	{ y: 'Jun', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 6).sum :total_with_taxes %> },
				{ y: 'Jul', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 7).sum :total_with_taxes %> },
				{ y: 'Aug', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 8).sum :total_with_taxes %> },
				{ y: 'Sep', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 9).sum :total_with_taxes %> },
				{ y: 'Oct', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 10).sum :total_with_taxes %> },
				{ y: 'Nov', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 11).sum :total_with_taxes %> },
				{ y: 'Dec', value: <%= @this_year_paid_invoices_sent.where("extract(month from created_at)=?", 12).sum :total_with_taxes %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
<%end%>