<% provide(:title, "Received payments | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Payments received this month</h3>
		<span>
			<div class="progress progress-header">
			  <div class="progress-bar <% if @progress_sent_invoices < 100%>progress-bar-pending <%else%> progress-bar-paid <%end%>" role="progressbar" aria-valuenow="<%= @progress_sent_invoices %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @progress_sent_invoices %>%;">
			    <%=@payment_received_invoices_this_month_count%>/<%=@sent_invoices_this_month_count%>
			  </div>
			</div>
		</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Amount to receive this month</span>
				<h4 class="info">€<%= "%g" % ("%.2f" % @sent_invoices_this_month_sum)%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Amount received this month</span>
				<% if @payment_received_invoices_this_month_sum < @sent_invoices_this_month_sum %>
					<h4 class="remaining">€<%= "%g" % ("%.2f" % @payment_received_invoices_this_month_sum)%></h4>
				<%else%>
					<h4 class="paid">€<%= "%g" % ("%.2f" % @payment_received_invoices_this_month_sum)%></h4>
				<%end%>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->



<div class="dashboard-invoice">
	<% if @payment_received_invoices_this_month_list.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>From</th>
								<th>Sent Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Payment method</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% @payment_received_invoices_this_month_list.each do |invoice| %>
								<tr>
									<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
									<% if Corporate.where(email: invoice.recipient).any? %>
										<td><%= Corporate.where(email: invoice.recipient).take.business_name%></td>
									<% else %>
										<td><%= User.where(email: invoice.recipient).take.first_name%> <%= User.where(email: invoice.recipient).take.last_name%></td>
									<%end%>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.paid_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td><%= invoice.payment_method%></td>
									<td>
										<div class="invoice-label">
											<% if invoice.ledger_status == "New"%>
												<span class="label label-waiting">Awaiting payment</span>
											<% elsif invoice.ledger_status == "Paid"%>
												<span class="label label-received">Paid</span>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @payment_received_invoices_this_month_list,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You didn't receive any payment yet.
		</div>
	<%end%>
</div>