<% provide(:title, "Sent invoices | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoices sent</h3>
		<span>This month:  <%= @sent_invoices_this_month_count%></span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->


<div class="dashboard-invoice">
	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active">
			<a href="#invoiceMonth" aria-controls="invoiceMonth" role="tab" data-toggle="tab">
				<%= Date.today.strftime("%B %Y")%>
			</a>
		</li>
		<li role="presentation">
			<a href="#allInvoices" aria-controls="allInvoices" role="tab" data-toggle="tab">All invoices</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane fade in active" id="invoiceMonth">
			<% if @sent_invoices_this_month_list.any? %>
				<div class="all-invoices-list-container">
					<div class="row">
						<div class="col-xs-12 table-responsive">
							<table class="table table-invoices">
							<thead>
								<tr>
									<th>#</th>
									<th>To</th>
									<th>Sent Date</th>
									<th>Due Date</th>
									<th>Paid Date</th>
									<th>Total <small>(VAT incl.)</small></th>
									<th>Payment Method</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% @sent_invoices_this_month_list.each do |invoice| %>
									<tr>
										<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
										<td>
											<%if Corporate.where(email: invoice.recipient).any?%>
												<%= Corporate.where(email: invoice.recipient).take.business_name %>
											<%else%>
												<%if User.where(email: invoice.recipient).any? %>
													<%= User.where(email: invoice.recipient).take.first_name %> <%= User.where(email: invoice.recipient).take.last_name %>
												<%else%>
													<a href="#" title="Not yet a member! Click to send an invite"><%= invoice.recipient%></a>
												<%end%>
											<%end%>
										</td>
										<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
										<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<%= link_to "#", class: "btn btn-send-accountant", method: :get do %>
													Send reminder
												<%end%>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%end%>
										</td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<span class="warning-text">Not paid yet</span>
											<%end%>
										</td>
										<td>
											<div class="invoice-label">
												<% if invoice.ledger_status == "New"%>
													<span class="label label-waiting">Awaiting payment</span>
												<% elsif invoice.ledger_status == "Paid"%>
													<span class="label label-received">Paid</span>
												<%end%>
											</div>
										</td>
									</tr>
								<%end%>
							</tbody>
							</table><!--/table-->
						</div><!--/col-->
					</div><!--/row-->
				</div><!--all-invoices-list-container-->
				<div class="invoice-pagination">
					<%= will_paginate @sent_invoices_this_month_list, renderer: BootstrapPagination::Rails %>
				</div>
			<%else%>
				<div class="no-invoice-container">
					You don't have any invoices for this month yet.
				</div>
			<%end%>
		</div>
			
		<div role="tabpanel" class="tab-pane fade" id="allInvoices">
			<% if @all_sent_invoices.any? %>
				<div class="all-invoices-list-container">
					<div class="row">
						<div class="col-xs-12 table-responsive">
							<table class="table table-invoices">
							<thead>
								<tr>
									<th>#</th>
									<th>To</th>
									<th>Sent Date</th>
									<th>Due Date</th>
									<th>Paid Date</th>
									<th>Total <small>(VAT incl.)</small></th>
									<th>Payment Method</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody>
								<% @all_sent_invoices.each do |invoice| %>
									<tr>
										<td><%= link_to invoice.id, ledger_info_path(invoice) %></td>
										<td>
											<%if Corporate.where(email: invoice.recipient).any?%>
												<%= Corporate.where(email: invoice.recipient).take.business_name %>
											<%else%>
												<%if User.where(email: invoice.recipient).any? %>
													<%= User.where(email: invoice.recipient).take.first_name %> <%= User.where(email: invoice.recipient).take.last_name %>
												<%else%>
													<a href="#" title="Not yet a member! Click to send an invite"><%= invoice.recipient%></a>
												<%end%>
											<%end%>
										</td>
										<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
										<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<%= link_to "#", class: "btn btn-send-accountant", method: :get do %>
													Send reminder
												<%end%>
											<%end%>
										</td>
										<td>
											<% if invoice.currency == "EUR"%>
												€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%elsif invoice.currency == "USD"%>
												$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
											<%end%>
										</td>
										<td>
											<% if (invoice.paid_date != nil) %>
												<%= invoice.paid_date.strftime("%d/%m/%Y")%>
											<%else%>
												<span class="warning-text">Not paid yet</span>
											<%end%>
										</td>
										<td>
											<div class="invoice-label">
												<% if invoice.ledger_status == "New"%>
													<span class="label label-waiting">Awaiting payment</span>
												<% elsif invoice.ledger_status == "Paid"%>
													<span class="label label-received">Paid</span>
												<%end%>
											</div>
										</td>
									</tr>
								<%end%>
							</tbody>
							</table><!--/table-->
						</div>
					</div>
				</div><!--all-invoices-list-container-->
				<div class="invoice-pagination">
					<%= will_paginate @all_sent_invoices, renderer: BootstrapPagination::Rails %>
				</div>
			<%else%>
				<div class="no-invoice-container">
					You haven't sent any invoices yet.
				</div>
			<%end%>
		</div>
	</div><!--/tab-content-->
</div>
