<%= form_for @user, :url => user_path(@user) do |f| %>
  <div class="form-group">
	  <div class="input-icon icon-form"><i class="fa fa-user" aria-hidden="true"></i></div>
	  <%= f.text_field :first_name, class: "form-control", placeholder: "First name", autofocus: true, id:"first_name" %>
  </div>

  <div class="form-group">
	  <div class="input-icon icon-form"><i class="fa fa-user" aria-hidden="true"></i></div>
	  <%= f.text_field :last_name, class: "form-control", placeholder: "Last name", id: "last_name" %>
  </div>

  <%= f.fields_for :emails do |builder|%>
  	<div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
		<%= builder.email_field :email, class: "form-control", placeholder: "Email address", id:"email"%>
	</div>
  <%end%>

  <div class="form-group">
	  <div class="input-icon icon-form"><i class="fa fa-lock" aria-hidden="true"></i></div>
	  <%= f.password_field :password, class: "form-control", placeholder: "Password (8 characters minimum)", id:"password" %>
  </div>

  <div class="form-group">
	  <div class="input-icon icon-form"><i class="fa fa-lock" aria-hidden="true"></i></div>
	  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password", id:"confirm_password" %>
  </div>

   <%= f.submit "Update profile", class: 'btn btn-green btn-green-width'%>
<% end %>