<% provide(:title, "Sign up | Invy")%>

<div class="container">
	<div id="static-container">
		<div class="static-container-header-title">
			<h2>
				Create your account
			</h2>
		</div><!--/account-title-container-->
		
		<div class="panel-container">
			
			<% if @user.errors.any?%>
				<div class="error-messages-container-sign-up">
					<div id="error_explanation">
						<h2><%= "Please correct the following #{"line".pluralize(@user.errors.count)}:"%></h2>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<%end%>
			
			<div class="panel panel-sign-up">
				<div class="panel-sign-up-title">
					<h3>Sign up and experience <span class="panel-sign-up-title-branding">invy</span> today</h3>
				</div>
				<div class="panel-body panel-form">
					<%= render 'form' %>
				</div>
				<div class="panel-footer panel-sign-up-footer">
					Already have an account? <%= link_to "Log in", login_path%>
				</div>
			</div>
		</div><!--/panel-container-->
	</div><!--/static-container-->	
</div>




