<% provide(:title, "Sign up | Invy")%>

<div class="container">
	<div id="static-container">
		<div class="static-container-header-title">
			<h2>
				Almost there...
			</h2>
		</div><!--/account-title-container-->
		<div class="verification-text">
			Please check your email (<%= flash[:email] %>)<br>
			to confirm your account.
		</div>
		<div class="verification-link">
			If you haven't received our email in 15 minutes, please check your spam folder<br>
			or click <%= link_to "here", resend_activation_path %> to resend the activation link.
		</div>
	</div>
</div>