<% flash.each do |key, value| %>
	<% if key == "alert"%>
		<div class="alert warning" role="alert">
			<%= value.html_safe %>
	    </div>
	<%else%>
		<div class="alert <%= key %> fade in" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-lable="close">
				<span aria-hidden="true">&times;</span>
			</button>
			<%= value.html_safe %>
	    </div>
	<%end%>
<% end %>