<nav class="navbar navbar-custom navbar-static-top" role="navigation">
	<% if not user_signed_in? and not corporate_signed_in? and not accountant_signed_in? %>
		<div class="container">
			<div class="navbar-header">
				<%= link_to 'invy', root_path, class: 'navbar-brand'%>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav">
					<li><%= link_to 'Contact', "#" %></li>
					<li><%= link_to 'Help', "#" %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to 'Sign in', "#"%></li>
					<li class="divider">|</li>
					<li><%= link_to 'Join', sign_up_path%></li>
				</ul>
			</div>
		
		
		
	<%else%>
	<!--USER CONNECTED-->
		<div class="navbar-header" id="brand-dashboard">
			<%= link_to 'invy', dashboard_path, class: 'navbar-brand'%>
		</div>
		<div id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<!-- CREATE INVOICE -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
						<i class="fa fa-pencil-square-o fa-lg"></i>
						Create an invoice
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li>
							<%= link_to create_path do %>
								<div>
									<i class="fa fa-cogs fa-lg"></i>&nbsp; Generator
								</div>
							<%end%>
						</li>
						
						<li class="divider"></li>
						
						<li>
							<%= link_to parser_path do %>
								<div>
									<i class="fa fa-file-code-o fa-lg"></i>&nbsp; XML Parser
								</div>
							<%end%>
						</li>
					</ul>
					
				</li>
				
				<!-- ALERTS -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
						<i class="fa fa-bell fa-fw"></i>
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li>
							<a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i>&nbsp; New Comment
									<span class="pull-right text-muted small">3 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i>&nbsp; New Comment
									<span class="pull-right text-muted small">3 minutes ago</span>
								</div>
							</a>
						</li>
						
						<li class="divider"></li>
						
						<li>
							<a class="text-center" href="#">
								<strong>See All Notifications</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown">
					<% if user_signed_in? %>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
							<i class="fa fa-user fa-fw"></i>
							<i class="fa fa-caret-down"></i>
							
							<ul class="dropdown-menu" role="menu">
								<li>
									<%= link_to edit_user_registration_path do %>
									<i class="fa fa-edit fa-fw"></i>&nbsp; Edit profile
									<% end %>
								</li>
								<li>
									<%= link_to edit_user_registration_path do %>
									<i class="fa fa-gear fa-fw"></i>&nbsp; Settings
									<% end %>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to destroy_user_session_path, method: :delete do %>
									<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
									<% end %>
								</li>
							</ul>
						</a>
					<%elsif corporate_signed_in?%>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
							<i class="fa fa-user fa-fw"></i>
							<i class="fa fa-caret-down"></i>
							
							<ul class="dropdown-menu" role="menu">
								<li>
									<%= link_to edit_corporate_registration_path do %>
									<i class="fa fa-user fa-fw"></i>&nbsp; <%= current_corporate.business_name %>
									<% end %>
								</li>
								<li>
									<%= link_to edit_corporate_registration_path do %>
									<i class="fa fa-gear fa-fw"></i>&nbsp; Settings
									<% end %>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to destroy_corporate_session_path, method: :delete do %>
									<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
									<% end %>
								</li>
							</ul>
						</a>
					<%elsif accountant_signed_in?%>
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
							<i class="fa fa-user fa-fw"></i>
							<i class="fa fa-caret-down"></i>
							
							<ul class="dropdown-menu" role="menu">
								<li>
									<%= link_to edit_accountant_registration_path do %>
									<i class="fa fa-user fa-fw"></i>&nbsp; <%= current_accountant.first_name %>
									<% end %>
								</li>
								<li>
									<%= link_to edit_accountant_registration_path do %>
									<i class="fa fa-gear fa-fw"></i>&nbsp; Settings
									<% end %>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to destroy_accountant_session_path, method: :delete do %>
									<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
									<% end %>
								</li>
							</ul>
						</a>
					<%end%>
				</li>
			</ul>
		</div>
	<% end %>
</nav>