<nav class="navbar navbar-default navbar-dashboard">
	<div class="collapse navbar-collapse">
		<div class="navbar-header">
			<%= link_to 'invy', root_path, class: 'navbar-brand'%>
		</div><!--/navbar-header-->
		
		<ul class="nav navbar-nav navbar-right">
			
			<!--BASIC DASHBOARD-->
			<%if user_signed_in?%>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<% if @invoices_new_this_month_count > 0 %>
							<i class="fa fa-exclamation-circle"></i></span>
						<%end%>
						My Invoices
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to new_invoices_path do %>
									<i class="fa fa-envelope-o fa-fw"></i>&nbsp; New Invoices
									<% if @invoices_new_this_month_count > 0 %>
										<span class="pull-right"><span class="badge new_invoice"><%= @invoices_new_this_month_count %></span></span>
									<%end%>
								<%end%>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to paid_invoices_path do %>
									<i class="fa fa-check-square fa-fw"></i>&nbsp; Paid Invoices
									<% if @invoices_paid_this_month_count > 0 %>
										<span class="pull-right"><span class="badge paid_invoices"><%= @invoices_paid_this_month_count %></span></span>
									<%end%>
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to invoice_path do %>
								<i class="fa fa-folder-open fa-fw"></i>&nbsp; All My Invoices
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a>
				</li>
				
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<%= image_tag(current_user.avatar.url(:thumb))%>
						<%= "#{current_user.first_name} #{current_user.last_name}"%>
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-account" role="menu">
							<li>
								<%= link_to edit_user_registration_path do %>
								<i class="fa fa-edit fa-fw"></i>&nbsp; Edit profile
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to destroy_user_session_path, method: :delete do %>
								<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a><!--/dropdown-toggle-->
				</li><!--/dropdown-->
			<%end%>
			
			<!--CORPORATE DASHBOARD-->
			<%if corporate_signed_in?%>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						Create an Invoice
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to create_path do %>
								<i class="fa fa-cogs fa-fw"></i>&nbsp; Creation Tool
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to parser_path do %>
								<i class="fa fa-file-code-o fa-fw"></i>&nbsp; XML Parser
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to parser_path do %>
								<i class="fa fa-shopping-cart fa-fw"></i>&nbsp; My Products
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a>
				</li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<%= "#{current_corporate.business_name}'s Invoices"%>
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to sent_invoices_path do %>
								<i class="fa fa-share-square-o fa-fw"></i>&nbsp; Sent Invoices
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to received_payments_path do %>
								<i class="fa fa-exchange fa-fw"></i>&nbsp; Received Payments
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to accounting_path do %>
								<i class="fa fa-archive fa-fw"></i>&nbsp; Accounting
								<% end %>
							</li>
						</ul>
					</a>
				</li>
					
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<% if @invoices_new_this_month_count > 0 %>
							<i class="fa fa-exclamation-circle"></i></span>
						<%end%>
						My Invoices
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to new_invoices_path do %>
									<i class="fa fa-envelope-o fa-fw"></i>&nbsp; New Invoices
									<% if @invoices_new_this_month_count > 0 %>
										<span class="pull-right"><span class="badge new_invoice"><%= @invoices_new_this_month_count %></span></span>
									<%end%>
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to paid_invoices_path do %>
									<i class="fa fa-check-square fa-fw"></i>&nbsp; Paid Invoices
									<% if @invoices_paid_this_month_count > 0 %>
										<span class="pull-right"><span class="badge paid_invoices"><%= @invoices_paid_this_month_count %></span></span>
									<%end%>
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to invoice_path do %>
								<i class="fa fa-folder-open fa-fw"></i>&nbsp; All My Invoices
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a>
				</li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<i class="fa fa-institution"></i>
						<%= "#{current_corporate.business_name}"%>
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-account" role="menu">
							<li>
								<%= link_to edit_corporate_registration_path do %>
								<i class="fa fa-edit fa-fw"></i>&nbsp; Edit profile
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to destroy_corporate_session_path, method: :delete do %>
								<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a><!--/dropdown-toggle-->
				</li><!--/dropdown-->
				
			<%end%>
			
			<!--ACCOUNTANT DASHBOARD-->
			<%if accountant_signed_in?%>
				<li>
					<%= link_to "My Customers", customers_path %>
				</li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						<i class="fa fa-university"></i>
						<%= "#{current_accountant.business_name}"%>
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-account" role="menu">
							<li>
								<%= link_to edit_accountant_registration_path do %>
								<i class="fa fa-edit fa-fw"></i>&nbsp; Edit profile
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to destroy_accountant_session_path, method: :delete do %>
								<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a><!--/dropdown-toggle-->
				</li><!--/dropdown-->
			<%end%>
			
			
			<!--ADMIN DASHBOARD-->
			<%if admin_signed_in?%>
				<li>
					<%= link_to "Beta Access", beta_path %>
				</li>
			
			
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						Customers
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to basics_path do %>
									<i class="fa fa-user fa-fw"></i>&nbsp; Basics
									
										<span class="pull-right"><span class="badge"><%= @total_basics %></span></span>
									
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to corporates_path do %>
									<i class="fa fa-user fa-fw"></i>&nbsp; Corporates
									
										<span class="pull-right"><span class="badge"><%= @total_corporates %></span></span>
									
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to accountants_path do %>
									<i class="fa fa-user fa-fw"></i>&nbsp; Accountants
									
										<span class="pull-right"><span class="badge"><%= @total_accountants %></span></span>
									
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a>
				</li>
			
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						Invoices
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-invoice" role="menu">
							<li>
								<%= link_to invoices_admin_path do %>
									<i class="fa fa-envelope-o fa-fw"></i>&nbsp; Sent invoices
									
										<span class="pull-right"><span class="badge"><%= @total_sent_invoices %></span></span>
									
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a>
				</li>
				
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
						Administrator
						<i class="fa fa-angle-down fa-fw"></i>
						<ul class="dropdown-menu dropdown-account" role="menu">
							<li>
								<%= link_to edit_admin_registration_path do %>
								<i class="fa fa-edit fa-fw"></i>&nbsp; Edit profile
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to destroy_admin_session_path, method: :delete do %>
								<i class="fa fa-sign-out fa-fw"></i>&nbsp; Log out
								<% end %>
							</li>
						</ul><!--/dropdown-menu-->
					</a><!--/dropdown-toggle-->
				</li><!--/dropdown-->
			<%end%>
			
		</ul><!--/navbar-right-->
	</div><!--/collapse-->
</nav>