<div class="navbar-container">
	<nav class="navbar navbar-default navbar-page">
		
		<div class="navbar-header">
			<%= link_to 'invy', root_path, class: 'navbar-brand'%>
		</div><!--/navbar-header-->
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="sign-up-container">
					<div class="sign-up-container-item">
						<%= link_to 'Sign up', sign_up_path%>
					</div>
				</li>
				<li class="dropdown-log-in-container">
					<a class="dropdown-log-in">Log in</a>
					<div class="dropdown-log-in-content">
						<%= link_to 'Classic', new_user_session_path%>
						<%= link_to 'Corporate', new_corporate_session_path%>
						<%= link_to 'Accountant', new_accountant_session_path%>
					</div><!--/dropdown-log-in-content-->
				</li>
			</ul><!--/navbar-right-->
		</div><!--/collapse-->
	</nav><!--/navbar-->
</div><!--/navbar-container-->