<div class="sidebar-container">
	<div class="sidebar-menu">
		<div class="user-info clearfix">
			<%= link_to dashboard_path do %>
				<%if user_signed_in? %>
					<%= image_tag(current_user.avatar.url(:thumb))%>
				<%elsif corporate_signed_in? %>
					<%= image_tag(current_corporate.avatar.url(:thumb))%>
				<%elsif accountant_signed_in? %>
					<%= image_tag(current_accountant.avatar.url(:thumb))%>
				<%end%>
			<% end %>
			<div class="user-details">
				<%if user_signed_in? %>
					<strong><%= "#{current_user.first_name} #{current_user.last_name.first}."%></strong>
				<%elsif corporate_signed_in? %>
					<strong><%= "#{current_corporate.business_name}"%></strong>
				<%elsif accountant_signed_in? %>
					<strong><%= "#{current_accountant.first_name}"%></strong>
				<%end%>
				
				<ul class="list-inline">
					<%if user_signed_in? %>
						<li><%= link_to 'Profile', edit_user_registration_path %></li>
					<%elsif corporate_signed_in? %>
						<li><%= link_to 'Profile', edit_corporate_registration_path %></li>
					<%elsif accountant_signed_in? %>
						<li><%= link_to 'Profile', edit_accountant_registration_path %></li>
					<%end%>
					
					<li>Inbox</li>
				</ul>
			</div>
		</div> <!-- /div user-info -->
		
		<div class="search-block">
			<div class="input-group">
				<input type="text" class="form-control input-sm" placeholder="Search here...">
				<span class="input-group-btn">
					<button class="btn btn-default btn-sm" type="button">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</div> <!-- /div search-block -->
		
		<div class="sidebar-main-menu">
			<ul>
				<li class="<%= 'active' if current_page?(dashboard_path)%>">
					<%= link_to dashboard_path do %>
						<div class="menu-icon">
							<span><i class="fa fa-desktop fa-lg"></i></span>
						</div>
						<span class="menu-text">Dashboard</span>
						
					<% end %>
				</li>
				<li>
					<%= link_to dashboard_path do %>
						<div class="menu-icon">
							<span><i class="fa fa-bar-chart-o fa-lg"></i></span>
						</div>
						<span class="menu-text">Chart</span>
					<% end %>
				</li>
				
				<li class="<%= 'active' if current_page?(new_invoices_path) or current_page?(sent_payments_path) or current_page?(paid_invoices_path) or current_page?(invoice_path) or current_page?(received_payments_path) or current_page?(sent_invoices_path)%>">
					<%= link_to '#invoice_menu', data: {parent: '#sidebar-main-menu', toggle: :collapse} do %>
						<div class="menu-icon">
							<span><i class="fa fa-file-text fa-lg"></i></span>
						</div>
							<span class="menu-text">My invoices</span>
							<% if @invoice_count > 0 or @payments_received > 0 or @paid_invoices_count > 0 %>
								<i class="fa fa-exclamation-circle fa-lg"></i></span>
							<%end%>
							<span class="pull-right">
								<i class="fa fa-caret-down"></i>
							</span>
						</span>
					<%end%>
					<div class="list-invoice-menu collapse in" id="invoice_menu">
						<ul>
							<li class="invoice-menu-item <%= 'active' if current_page?(new_invoices_path) %>" data-parent="#invoice_menu">
								<%= link_to new_invoices_path do %>
									<div class="menu-icon">
										<span><i class="fa fa-envelope-o fa-lg"></i></span>
									</div>
										<span class="text">New invoices</span>
										<% if @invoice_count > 0 %>
											<span class="pull-right"><span class="badge new_invoice"><%= @invoice_count %></span></span>
										<%end%>
									</span>
								<% end %>
							</li>
							<li class="invoice-menu-item <%= 'active' if current_page?(sent_payments_path)%>" data-parent="#invoice_menu">
								<%= link_to sent_payments_path do %>
									<div class="menu-icon">
										<span><i class="fa fa-usd fa-lg"></i></span>
									</div>
										<span class="text">Sent payments</span>
										<% if @payments_sent > 0 %>
											<span class="pull-right"><span class="badge sent_payment"><%= @payments_sent %></span></span>
										<%end%>
									</span>
								<% end %>
							</li>
							<li class="invoice-menu-item <%= 'active' if current_page?(paid_invoices_path)%>" data-parent="#invoice_menu">
								<%= link_to paid_invoices_path do %>
									<div class="menu-icon">
										<span><i class="fa fa-check-square-o fa-lg"></i></span>
									</div>
										<span class="text">Paid invoices</span>
										<% if @paid_invoices_count > 0 %>
											<span class="pull-right"><span class="badge paid_invoices"><%= @paid_invoices_count %></span></span>
										<%end%>
									</span>
								<% end %>
							</li>
							
							<li class="invoice-menu-item <%= 'active' if current_page?(invoice_path)%>" data-parent="#invoice_menu">
								<%= link_to invoice_path do %>
									<div class="menu-icon">
										<span><i class="fa fa-folder-open fa-lg"></i></span>
									</div>
										<span class="text">All my invoices</span>
									</span>
								<% end %>
							</li>
							<%if corporate_signed_in? %>
								<hr>
								<li class="invoice-menu-item <%= 'active' if current_page?(received_payments_path)%>" data-parent="#invoice_menu">
									<%= link_to received_payments_path do %>
										<div class="menu-icon">
											<span><i class="fa fa-exchange fa-lg"></i></span>
										</div>
											<span class="text">Received payments</span>
											<% if @payments_received> 0 %>
												<span class="pull-right"><span class="badge received_payment"><%= @payments_received %></span></span>
											<%end%>
										</span>
									<% end %>
								</li>
								
								<li class="invoice-menu-item <%= 'active' if current_page?(sent_invoices_path)%>" data-parent="#invoice_menu">
									<%= link_to sent_invoices_path do %>
										<div class="menu-icon">
											<span><i class="fa fa-share-square-o fa-lg"></i></span>
										</div>
											<span class="text">Sent invoices</span>
										</span>
									<% end %>
								</li>
								
								<li class="invoice-menu-item" data-parent="#invoice_menu">
									<%= link_to "#" do %>
										<div class="menu-icon">
											<span><i class="fa fa-shopping-cart fa-lg"></i></span>
										</div>
											<span class="text">My products</span>
										</span>
									<% end %>
								</li>
							<%end%>
						</ul>
					</div>
				</li><!--My_invoices-->
				<%if corporate_signed_in? %>
					<li class="<%= 'active' if current_page?(create_path) or current_page?(parser_path) %>">
						<%= link_to '#send_invoice_menu', data: {parent: '#sidebar-main-menu', toggle: :collapse} do %>
							<div class="menu-icon">
								<span><i class="fa fa-pencil-square-o fa-lg"></i></span>
							</div>
								<span class="text">Create an invoice</span>
								<span class="pull-right">
									<i class="fa fa-caret-down"></i>
								</span>
							</span>
						<%end%>
						<div class="list-invoice-menu collapse in" id="send_invoice_menu">
							<ul>
								<li class="invoice-menu-item <%= 'active' if current_page?(create_path)%>">
									<%= link_to create_path do %>
										<div class="menu-icon">
											<span><i class="fa fa-cogs fa-lg"></i></span>
										</div>
											<span class="text">Generator</span>
										</span>
									<% end %>
								</li>
						
								<li class="invoice-menu-item <%= 'active' if current_page?(parser_path)%>">
									<%= link_to parser_path do %>
										<div class="menu-icon">
											<span><i class="fa fa-file-code-o fa-lg"></i></span>
										</div>
											<span class="text">XML Parser</span>
										</span>
									<% end %>
								</li>
							</ul>
						</div>
					</li><!--Send_invoices-->
				<%end%>	
			</ul>
		</div> <!-- /div sidebar main-menu -->
	</div>
</div> <!-- /div sidebar-container-->