<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
 	   	<title><%= yield(:title)%></title>
		<%= favicon_link_tag 'favicon.png' %>
		<%= include_gon %>
 		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	   	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
		<%= csrf_meta_tags %>
		<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
	</head>
	<body>
		<div id="wrapper-dashboard">
			<div class="container">
				<%= render 'layouts/nav_dashboard' %>
			</div>
			
			<div class="container">
				<div id="dashboard-container">
					<%= yield %>
				</div>
			</div>
		</div><!--/wrapper-->
		
		<%= render 'layouts/footer' %>
	</body>
</html>
