<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
 	   	<title><%= yield(:title)%></title>
		<%= favicon_link_tag 'favicon.png' %>
 		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	   	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper-pages">
			<%= render 'layouts/nav_pages' %>
			
			<%= yield %>
			
		</div><!--/wrapper-->
		
		<%= render 'layouts/footer' %>
	</body>
</html>