<% provide(:title, "Sign up | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="account-type">&nbsp;Accountant account</span>
				</h2>
			</div>
		</div><!--/account-title-->
		<div class="panel-container">
			
			<!--Beta whitelisting-->
			<div class="error-messages-container-sign-up">
				<%= render 'layouts/alert'%>
			</div>
			<!--/Beta whitelisting-->
			
			<% if resource.errors.any?%>
				<div class="error-messages-container-sign-up">
					<%= devise_error_messages! %>
				</div>
			<%end%>
			<div class="panel panel-account">
				<div class="panel-account-title">
					<h3>Sign up and experience <span class="panel-account-title-branding">invy</span> today</h3>
					<span class="beta-info">Only beta testers can register.<br>
					Click <%= link_to "here", beta_request_path %> to request your access today.</span>
					
				</div>
				<div class="panel-body panel-form">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
							<%= f.text_field :first_name, autofocus: true, class: 'form-control', placeholder: 'First name', id: "first_name"%>
						</div>
						
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
							<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name', id: "last_name"%>
						</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-bank" aria-hidden="true"></i></div>
							<%= f.text_field :business_name, class: 'form-control', placeholder: 'Company name', id: "company_name"%>
						</div>
						
				  		<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
				    		<%= f.email_field :email, placeholder: "Email address", class: "form-control", id: "email" %>
				  		</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-usd" aria-hidden="true"></i></div>
							<%= f.text_field :bank_account, class: 'form-control', placeholder: 'Bank account number', id: "bank_account"%>
						</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-phone" aria-hidden="true"></i></div>
							<%= f.text_field :telephone, class: 'form-control', placeholder: 'Telephone number', id: "telephone"%>
						</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
							<%= f.text_field :address, class: 'form-control', placeholder: 'Address', id: "address"%>
						</div>
						
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
							<%= f.text_field :address_number, class: 'form-control', placeholder: 'Address number', id:"address_number"%>
						</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
							<%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal code', id: "postal_code"%>
						</div>
					
						<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
							<%= f.text_field :city, class: 'form-control', placeholder: 'City', id: "city"%>
						</div>
					
					    <div class="form-group">
							<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
							<%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimun)", class: 'form-control', id:"password" %>
					    </div>
					
						<div class="form-group">
							<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
							<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm password", id: "confirm_password"%>
						</div>
						
						<div class="form-group">
							<%= f.label :terms_and_condititions, class: "info-text" do %>
								<%= f.check_box :terms_and_conditions%>
								<span class="create-account-checkbox"></span>I accept Invy's <a href="#">Terms of Service</a> and the <a href="#">Privacy Policy</a>.
							<%end%>
						</div>

						<div class="form-group">
							<div class="form-submit-button">
								<%= f.submit "Register", class: 'btn btn-join btn-join-width' %><br>
							</div>
						</div>
					<%end%>
				</div><!--/panel-body-->
				<div class="panel-footer panel-account-footer">
					<div class="panel-account-footer-middle">
						Already have an account? <%= link_to "Log in", new_accountant_session_path%>
					</div>
				</div>
			</div><!--/panel-->
		</div>
	</div><!--/wrapper-pages-content-->
</div>
