<nav class="navbar navbar-default navbar-dashboard">
	<div class="collapse navbar-collapse">
		<%= link_to 'invy', root_path, class: 'navbar-brand'%>
		
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<i class="fa fa-bars fa-fw"></i>
					<ul class="dropdown-menu dropdown-user" role="menu">
						<li>
							<%= link_to "#" do %>
								<i class="fa fa-tasks fa-fw"></i>&nbsp; Account settings
							<% end %>
						</li>
						<li class="divider">
						<li>
							<%= link_to logout_path, method: :delete do %>
								<i class="fa fa-arrow-right fa-fw"></i>&nbsp; Log out
							<% end %>
						</li>
					</ul>
				</a>
			</li>
		</ul>
	</div>
</nav>