<nav class="navbar navbar-default navbar-dashboard">
	<div class="collapse navbar-collapse">
		
		<div class="row">
			<div class="col-sm-2">
				<%= link_to 'invy', classic_account_path, class: 'navbar-brand'%>
			</div>
			<div class="col-sm-8">
				<ul class="nav navbar-nav navbar-center">
					<li>
						<%= link_to usage_path do %>
							<i class="fa fa-bar-chart" aria-hidden="true"></i> My usage
						<% end %>
					</li>
					
					<li>
						<%= link_to invoices_path do %>
							<i class="fa fa-file-o" aria-hidden="true"></i> My invoices
						<% end %>
					</li>
				</ul>
			</div>
			<div class="col-sm-2">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" role="button" aria-haspopup="true">
						<i class="fa fa-bars fa-fw"></i></a>
						<ul class="dropdown-menu dropdown-user-menu">
							<li class="dropdown-header account-title">Classic account</li>
					
							<div class="profile-picture-container">
								<div class="picture">
									<%= link_to profile_path do %>
										<% if current_user.profile_picture.present?%>
											<%= image_tag current_user.profile_picture_url(:thumb).to_s %>
										<%else%>
											<%= image_tag("users/profile_picture/empty.png")%>
										<%end%>
										<p><%= @current_user.first_name%> <%= current_user.last_name%></p>
									<%end%>
								</div>
							</div>
					
					
							<% if other_accounts_than_classic?%>
							 	<div class="account-switch">
									<%if corporate_account?%>
										<p><%= link_to "Corporate account", switch_corporate_path %></p>
									<%end%>
									<%if accountant_account?%>
										<p><%= link_to "Accountant account", switch_accountant_path %></p>
									<%end%>
								</div>
							<%end%>
					
							<li class="divider"></li>
							<li>
								<%= link_to profile_path do %>
									<i class="fa fa-sliders fa-fw"></i>&nbsp; My profile
								<% end %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to logout_path, method: :delete do %>
									<i class="fa fa-arrow-right fa-fw"></i>&nbsp; Log out
								<% end %>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>