<nav class="navbar navbar-default navbar-dashboard">
	<div class="collapse navbar-collapse">
		<%= link_to 'invy', accountant_account_path, class: 'navbar-brand'%>
		
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					Invoices
					<i class="fa fa-caret-down fa-fw"></i></a>
					<ul class="dropdown-menu dropdown-invoices" role="menu">
						<li>
							<%= link_to "#" do %>
								<i class="fa fa-file-text fa-fw"></i>&nbsp; New invoices
							<% end %>
						</li>
						<li class="divider">
						<li>
							<%= link_to "#" do %>
								<i class="fa fa-check-square fa-fw"></i>&nbsp; Paid invoices
							<% end %>
						</li>
						<li class="divider">
						<li>
							<%= link_to "#" do %>
								<i class="fa fa-archive fa-fw"></i>&nbsp; All invoices
							<% end %>
						</li>
					</ul>
			</li>
			
			
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" role="button" aria-haspopup="true"><i class="fa fa-bars fa-fw"></i></a>
					<ul class="dropdown-menu dropdown-user-menu">
						<li class="dropdown-header account-title">Accountant account</li>
						<% if other_accounts?%>
						 	<div class="account-switch">
								<%if classic_account?%>
									<p><%= link_to "Classic account", switch_classic_path %></p>
								<%end%>
								<%if corporate_account?%>
									<p><%= link_to "Corporate account", switch_corporate_path %></p>
								<%end%>
							</div>
						<%end%>
						<li class="divider">
						<li>
							<%= link_to profile_path do %>
								<i class="fa fa-sliders fa-fw"></i>&nbsp; Profile settings
							<% end %>
						</li>
						<li class="divider">
						<li>
							<%= link_to logout_path, method: :delete do %>
								<i class="fa fa-arrow-right fa-fw"></i>&nbsp; Log out
							<% end %>
						</li>
					</ul>
			</li>
		</ul>
	</div>
</nav>