<div class="navbar-container">
	<nav class="navbar navbar-default navbar-page">
		
		<div class="navbar-header">
			<%= link_to 'invy', root_path, class: 'navbar-brand'%>
		</div><!--/navbar-header-->
		
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<%= link_to 'Log in', login_path%>
				</li>
				<li class="sign-up-container">
					<div class="sign-up-container-item">
						<%= link_to 'Sign up', signup_path%>
					</div>
				</li>
			</ul><!--/navbar-right-->
		</div><!--/collapse-->
	</nav><!--/navbar-->
</div><!--/navbar-container-->