<div class="profile-content" id="edit">
	
	<div class="errors-profile-container hide">
		<div class="errors-profile-explanation">
			<h2>Please correct the following lines:</h2>
			<ul class="error_messages"></ul>
		</div>
	</div>
	
	<div class="header">
		<div class="title">Update my personal info</div>
	</div>
	
	<%= form_for @user, remote: true, :html => {:multipart => true, :id => "edit_user"}, :url => user_path(@user) do |f| %>
	
	<div class="profile-content-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">First name:</p>
				<p class="info-content"><%= f.text_field :first_name, class: "form-control edit", placeholder: "First name", autofocus: true, id:"edit_first_name" %></p>
			</div>

			<div class="col-sm-6">
				<p class="info-title">Last name:</p>
				<p class="info-content"><%= f.text_field :last_name, class: "form-control edit", placeholder: "First name", autofocus: true, id:"edit_last_name" %></p>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">Email:</p>
				<p class="info-content"><%= @user.emails.first.email%></p>
			</div>
		
			<div class="col-sm-6">
				<p class="info-title">Profile picture:</p>
				<p class="info-content"><%= f.file_field :profile_picture %></p>
			</div>
		</div>
	
	
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">New password (8 characters minimum):</p>
				<p class="info-content"><%= f.password_field :password, class: "form-control edit", placeholder: "New password", id:"edit_password" %></p>
			</div>
		
			<div class="col-sm-6">
				<p class="info-title">Confirm new password:</p>
				<p class="info-content"><%= f.password_field :password_confirmation, class: "form-control edit", placeholder: "Confirm new password", id:"edit_confirm_password" %></p>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">Enter your current password to confirm changes:</p>
				<p class="info-content"><%= f.password_field :current_password, class: "form-control edit", placeholder: "Password", id:"edit_current_password" %></p>
			</div>
			<div class="col-sm-6">
				<div class="update-button">
					<%= f.submit "Update personnal info", class: 'btn btn-green btn-green-width'%>
				</div>
			</div>
		</div>
	</div>
	<%end%>
	
	<% if @corporate.present? %>
		<div class="header">
			<div class="title">Update my corporate info</div>
		</div>
		
			<%= form_for @corporate, remote: true, :html => {:multipart => true, :id => "edit_corporate"}, :url => corporate_path(@corporate) do |f| %>
		<div class="profile-content-wrapper">	
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Company name:</p>
					<p class="info-content"><%= f.text_field :company_name, class: "form-control edit", placeholder: "Company name", autofocus: true, id:"edit_company_name" %></p>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Street:</p>
					<p class="info-content"><%= f.text_field :company_street, class: "form-control edit", placeholder: "Street", autofocus: true, id:"edit_company_street" %></p>
				</div>
			
				<div class="col-sm-6">
					<p class="info-title">Street number:</p>
					<p class="info-content"><%= f.text_field :company_street_number, class: "form-control edit", placeholder: "Street number", autofocus: true, id:"edit_company_street_number" %></p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Postal code:</p>
					<p class="info-content"><%= f.text_field :company_postal_code, class: "form-control edit", placeholder: "Postal code", autofocus: true, id:"edit_company_postal_code" %></p>
				</div>
			
				<div class="col-sm-6">
					<p class="info-title">City:</p>
					<p class="info-content"><%= f.text_field :company_city, class: "form-control edit", placeholder: "City", autofocus: true, id:"edit_company_city" %></p>
				</div>
			</div>
		
			
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Phone number:</p>
					<p class="info-content"><%= f.text_field :company_phone, class: "form-control edit", placeholder: "Phone number", autofocus: true, id:"edit_phone" %></p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Bank account number:</p>
					<p class="info-content"><%= f.text_field :bank_account, class: "form-control edit", placeholder: "Bank Account", autofocus: true, id:"edit_bank_account" %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">TVA:</p>
					<p class="info-content"><%= f.text_field :tva_number, class: "form-control edit", placeholder: "TVA number", autofocus: true, id:"edit_tva" %></p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Company logo</p>
					<p class="info-content"><%= f.file_field :company_image %></p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Enter your current password to confirm changes:</p>
					<p class="info-content"><%= f.password_field :current_corporate_password, class: "form-control edit", placeholder: "Password", id:"edit_current_password" %></p>
				</div>
				<div class="col-sm-6">
					<div class="update-button">
						<%= f.submit "Update corporate info", class: 'btn btn-green btn-green-width'%>
					</div>
				</div>
			</div>
		<%end%>
	</div>
	<%end%>
</div><!--#edit-->