<div class="profile-content" id="plan">
	<div class="header">
		<div class="title">My plan</div>
	</div>
	<div class="profile-content-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">Your current plan:</p>
				<p class="info-content">
					<% if @corporate.present? %>
						Corporate
					<%elsif @classic.present?%>
						Classic
					<%else%>
						Accountant
					<%end%>
				</p>
			</div>
		
			<div class="col-sm-6">
				<p class="info-title">Plan added on:</p>
				<p class="info-content">
					<% if @corporate.present? %>
						<%= @corporate.created_at.strftime("%d %B %Y") %>
					<%elsif @classic.present?%>
						<%= @classic.created_at.strftime("%d %B %Y") %>
					<%else%>
						<%= @accountant.created_at.strftime("%d %B %Y") %>
					<%end%>
				</p>
			</div>
		</div>
	
		<% if @corporate.present? %>
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Client pack:</p>
					<p class="info-content">
						Pack 1 (up to 50 clients)
					</p>
				</div>
		
				<div class="col-sm-6">
					<p class="info-title">Your clients:</p>
					<div id="client_counter"></div>
				</div>
			</div>
		<%end%>
	</div>

	
	<div class="header">
		<div class="title">Add a new plan</div>
	</div>
	
	<div class="profile-content-wrapper">
		<div class="row">
			<div class="col-sm-6">
				<% if @corporate.present? %>
					<div class="add-classic-plan">
						<%= render 'layouts/account/account_types/classic'%>
					</div>
				<%else%>
					<div class="add-corporate-plan">
						<%= render 'layouts/account/account_types/corporate'%>
					</div>
				<%end%>
			</div>
		
			<div class="col-sm-6">
				<div class="add-accountant-plan">
					<%= render 'layouts/account/account_types/accountant'%>
				</div>
			</div>
		</div>
	</div>
</div><!--#plan-->

<% if @corporate.present? %>
	<script>
		var bar = new ProgressBar.Line(client_counter, {
		  strokeWidth: 4,
		  easing: 'easeInOut',
		  duration: 1400,
		  color: '#43b497',
		  trailColor: '#eee',
		  trailWidth: 1,
		  svgStyle: {width: '60%', height: '100%'}
		});

		bar.animate(<%= @clients.count.to_f/50 %>);  // Number from 0.0 to 1.0
	</script>
<% end %>