<div class="profile-content" id="profile">
	<div class="header">
		<div class="title">My personal info</div>
	</div>
	
	<div class="profile-content-wrapper">
		<div class="row ">
			<div class="col-sm-6">
				<p class="info-title">First name:</p>
				<p class="info-content"><%= @user.first_name%></p>
			</div>
	
			<div class="col-sm-6">
				<p class="info-title">Last name:</p>
				<p class="info-content"><%= @user.last_name%></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<p class="info-title">Email:</p>
				<p class="info-content"><%= @user.emails.first.email%></p>
			</div>
		
			<div class="col-sm-6">
				<p class="info-title">Member since:</p>
				<p class="info-content"><%= @user.created_at.strftime("%d %B %Y")%></p>
			</div>
		</div>
	</div>
	<!--CLASSIC INFO-->
	<% if @classic.present?%>
		<div class="header">
			<div class="title">My classic account info</div>
		</div>
		
		<div class="profile-content-wrapper">
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Address:</p>
					<p class="info-content">
						<%= @classic.classic_street%>, <%= @classic.classic_street_number%><br>
						<%= @classic.classic_city%>, <%= @classic.classic_postal_code%>
					</p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Phone number:</p>
					<p class="info-content"><%= @classic.classic_phone%></p>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Bank account number:</p>
					<p class="info-content"><%= @classic.bank_account %></p>
				</div>
			</div>
		</div>
	
	<%end%>
	<!--CORPORATE INFO-->
	<% if @corporate.present? %>
		<div class="header">
			<div class="title">My corporate account info:</div>
		</div>
		
		<div class="profile-content-wrapper">
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Company name:</p>
					<p class="info-content"><%= @corporate.company_name%></p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Address:</p>
					<p class="info-content">
						<%= @corporate.company_street%>, <%= @corporate.company_street_number%><br>
						<%= @corporate.company_city%>, <%= @corporate.company_postal_code%>
					</p>
				</div>
			</div>
		
			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">Phone number:</p>
					<p class="info-content"><%= @corporate.company_phone%></p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Bank account number:</p>
					<p class="info-content"><%= @corporate.bank_account %></p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<p class="info-title">TVA:</p>
					<p class="info-content"><%= @corporate.tva_number%></p>
				</div>
	
				<div class="col-sm-6">
					<p class="info-title">Company logo</p>
					<p class="info-content"><%= image_tag @corporate.company_image_url(:thumb).to_s %></p>
				</div>
			</div>
		</div>
	<%end%>
</div><!--#profile-->