<% provide(:title, "Dashboard")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Hi, <%= current_user.first_name%></h3>
		<span>Welcome to invy</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->


<div id="dashboard-inner-container">
	
	<%= render 'layouts/alert'%>
	
	<%= render 'layouts/account/add_account'%>
	
	
</div>