<% provide(:title, "#{current_user.first_name} #{current_user.last_name} | Invy")%>

<div class="container">
	
	<div class="profile-container">
		<p class="profile-name"><%= @user.first_name %> <%= @user.last_name%></p>
		<hr>
		<div class="row">
			<div class="col-sm-3 no-padding-right">
				<div class="side-menu">
					<div class="side-menu-user-info">
						<div class="profile-picture">
							<% if @user.profile_picture.present?%>
								<%= image_tag @user.profile_picture_url(:thumb).to_s %>
							<%else%>
								<%= image_tag("users/profile_picture/empty.png")%>
							<%end%>
						</div>
					</div>
					
					<h4>General</h4>
					<div class="side-menu-links">
						<ul id="menu_list">
							<li><a id="#profile">My profile</a></li>
							<li><a id="#edit">Edit profile</a></li>
						</ul>
					</div>
					<h4>Corporate account</h4>
					<div class="side-menu-links">
						<ul id="menu_list">
							<li><a id="#plan">My plan</a></li>
							<li><a id="#customer_pack">My customer pack</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-sm-9 no-padding-left">
				<%= render 'profile' %>
				<%= render 'edit' %>
				<%= render 'plan' %>
				<%= render 'customer_pack' %>
			</div>
		</div>
	</div>
</div>
