<div class="invoices-content" id="invoices_sent">
	<p class="title">
		<span class="pull-left">Invoices sent</span>
		<span class="pull-right">
			<%= link_to '#', class: "btn btn-blue-no-width" do%>
				<i class="fa fa-share" aria-hidden="true"></i> Export
			<%end%>
		</span>
	</p>
	
	<div class="sent-invoices-table-container">
		<table class="table">
			<thead>
				<tr>
					<th>Status</th>
					<th>Reference</th>
					<th>To</th>
					<th>Date</th>
					<th>Due</th>
					<th>Amount</th>
					<th>Open</th>
					<th></th>
				</tr>
			</thead>
			<% @sent_ledger_list.each do |invoice| %>
				<tr>
					<td>
						<% if invoice.ledger_status == "new" %>
							<span class="fa-stack pending-payment-icon">
								<i class="fa fa-exclamation fa-stack-1x"></i>
								<i class="fa fa-circle-o fa-stack-2x"></i>
							</span>
						<% else%>
							<span class="fa-stack paid-icon">
								<i class="fa fa-check fa-stack-1x"></i>
								<i class="fa fa-circle-o fa-stack-2x"></i>
							</span>
						<% end %>
					</td>
					<td><%= invoice.ref_number%></td>
					<td>
						<% @receiver_account = Account.where(id: invoice.receiver_id).first %>
						<% if @receiver_account['classic_id'] > 0 %>
						    <% @receiver_user_account = UserAccount.where(account_id: @receiver_account).first %>
						    <% @receiver = User.where(id: @receiver_user_account.user_id).first %>
							<%= @receiver.first_name.first %>. <%= @receiver.last_name %>
							
						<% elsif @receiver_account['corporate_id'] > 0%>
							<%= @receiver_account.corporate.company_name%>
						<%end%>
					</td>
					<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
					<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
					<td>
						<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
					</td>
					<td>
						<% if invoice.ledger_status == "new"%>
							<span class="unpaid">
								<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>			
							</span>
						<% else %>
							<span class="paid">
								<%= number_to_currency(0, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
							</span>
						<%end%>
					</td>
					<td>
						<%= link_to ledger_item_path(invoice) do %>
							<i class="fa fa-file-o invoice-icon" aria-hidden="true"></i>
						<%end%>
					</td>
				</tr>
			<%end%>
		</table>
		
		<% if @sent_ledger_list.empty? %>
			<div class="no-invoices">
				You haven't sent any invoices yet.
			</div>
		<%end%>
	</div>
</div>
