<div class="invoices-content" id="overview">
	<p class="title">
		<span class="pull-left">Overview</span>
		<span class="pull-right">
			<%= link_to '#', class: "btn btn-blue-no-width" do%>
				<i class="fa fa-share" aria-hidden="true"></i> Export
			<%end%>
		</span>
	</p>
</div>
