<% provide(:title, "Your invoices | Invy") %>

<div class="container">
	<div class="invoices-container">
		<p class="invoices-container-title">Your invoices</p>
		<hr>
		
		<div class="row">
			<div class="col-sm-3 no-padding-right">
				<div class="side-menu">
					
					<h4>Invoices</h4>
					<div class="side-menu-links">
						<ul id="invoices_menu_list">
							<% if @current_corporate.present? %>
								<li>
									<a id="#invoices_sent">
										Invoices sent
									</a>
								</li>
							<%end%>
							<li>
								<a id="#invoices_received">
									Invoices received
								</a>
							</li>
						</ul>
					</div>
			
				</div><!--side-menu-->
			</div><!-- col-sm-3 -->
			<div class="col-sm-9 no-padding-left">
				<% if @current_corporate.present? %>
					<%= render 'invoices_sent'%>
				<%end%>
				<%= render 'invoices_received'%>
			</div><!-- col-sm-3 -->
		</div>
	</div><!--invoices-container-->
</div>