<% provide(:title, "Log in | Invy")%>

<div class="container">
	<div id="static-container">
		<div class="static-container-header-title">
			<h2></h2>
		</div><!--/account-title-container-->
		
		<div class="panel-container">
			<div class="panel panel-sign-up">
				<div class="panel-sign-up-title">
					<h3>Log in to your account</h3>
				</div>
				<div class="panel-body panel-form">
					<%= render 'layouts/alert'%>
					<%= form_tag sessions_path do %>
					  	<div class="form-group">
							<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
							<%= email_field_tag :email, nil, class: "form-control", placeholder: "Email address", id:"email"%>
						</div>
						
					  	<div class="form-group">
							<div class="input-icon icon-form"><i class="fa fa-lock" aria-hidden="true"></i></div>
							<%= password_field_tag :password, nil, class: "form-control", placeholder: "Password", id:"password"%>
						</div>
						
						<div class="forgot-password">
							<%= link_to "Forgot your password?", reset_password_path%>
						</div>
						
						<%= submit_tag "Log in", class: 'btn btn-green btn-green-width'%>
					<%end%>
				</div>
				<div class="panel-footer panel-sign-up-footer">
					Don't have an account yet? <%= link_to "Sign up", signup_path%>
				</div>
			</div>
		</div><!--/panel-container-->
	</div><!--/static-container-->
</div>


