<%= form_for(@corporate) do |f| %>
	<% if @corporate.errors.any?%>
		<div class="error-messages-container-account">
			<div id="error_explanation">
				<h2><%= "Please correct the following #{"line".pluralize(@corporate.errors.count)}:"%></h2>
				<ul>
					<% @corporate.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<%end%>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-bank" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_name, class: "form-control", placeholder: "Company name", id: "company_name" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-phone" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_phone, class: "form-control", placeholder: "Phone number", id: "phone_number" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-euro" aria-hidden="true"></i></div>
  	  	<%= f.text_field :bank_account, class: "form-control", placeholder: "IBAN", id: "bank_account" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-book" aria-hidden="true"></i></div>
  	  	<%= f.text_field :tva_number, class: "form-control", placeholder: "VAT number", id: "company_tva" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_street, class: "form-control", placeholder: "Street", id: "address_street" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_street_number, class: "form-control", placeholder: "Number", id: "address_number" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_postal_code, class: "form-control", placeholder: "Postal code", id: "address_pc" %>
    </div>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
  	  	<%= f.text_field :company_city, class: "form-control", placeholder: "City", id: "address_city" %>
    </div>
	
  	<%= f.submit "Add a corporate account", class: 'btn btn-green btn-green-width'%>
<% end %>
<div class="back-button">
	<%= link_to "Back", root_path, class: "btn btn-grey btn-grey-width" %>
</div>