<% provide(:title, "Confirmation instructions | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="account-type">&nbsp;Corporate account</span>
				</h2>
			</div>
		</div><!--/account-title-container-->
		<div class="panel-container">	
			<div class="panel panel-account">
				<div class="panel-account-title">
					<h3>Resend confirmation instructions</h3>
				</div>
				<div class="panel-body panel-form">
					<% if resource.errors.any? %>
						<div class="error-messages-container-password">
							<div id="error_explanation" class="error-padding">
								Email not found.
							</div>
						</div>
					<% end %>
					
					<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name)) do |f| %>
					
				  		<div class="form-group">
							<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
				    		<%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", id: "email" %>
				  		</div>
						
				  	  	<div class="form-group">
							<div class="form-submit-button">
				    			<%= f.submit "Resend instructions", class: "btn btn-join btn-join-width" %>
							</div>
				  	   	</div>
					<%end%>
				</div><!--panel-body-->
				<div class="panel-footer panel-account-footer">
					<div class="panel-account-footer-middle">
						<%= link_to "Log in", new_corporate_session_path%> or <%= link_to "Sign up", new_corporate_registration_path%>
					</div>
				</div>
			</div><!--panel-account-->
		</div><!--panel-container-->
	</div>
</div>