<script>
function received_payments_graph() {
	var config = {
		type: 'line',
		data: {
			labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
			datasets: [{
				label: "EUR",
				data: [
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 1).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 2).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 3).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 4).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 5).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 6).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 7).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 8).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 9).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 10).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 11).sum :total_with_taxes %>, 
					<%= @sent_ledger_list.where("strftime('%m', payment_date)+0=?", 12).sum :total_with_taxes %>],
				fill: false,
	            borderColor: "#0c84ab",
	            borderCapStyle: 'square',
	            borderJoinStyle: 'miter',
	            pointBorderColor: "#fff",
	            pointBackgroundColor: "#0c84ab",
	            pointBorderWidth: 1,
	            pointHoverRadius: 4,
	            pointHoverBackgroundColor: "#0c84ab",
	            pointHoverBorderColor: "#fff",
	            pointHoverBorderWidth: 1,
	            pointRadius: 4,
	            pointHitRadius: 4,
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false
			},
			legend: {
				display: false
			},
	        hover: {
	            mode: 'dataset'
	        },
			scales: {
				xAxes: [{
					display: true,
					gridLines: {
						display: false
					},
					scaleLabel: {
						display: false,
						labelString: 'Month'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: "Value in €"
					},
					ticks: {
						suggestedMin: 0,
						suggestedMax: 100,
					}
				}]
			}
		}	
	};


	var ctx = document.getElementById("received_payments");
	var lineChart = new Chart(ctx, config);
}
</script>