<script>
function successful_charges () {
	var config = {
		type: 'line',
		data: {
			labels: [
					'01/10',
					'02/10',
					'03/10',
					'04/10',
					'05/10',
					'06/10',
					'07/10',
					'08/10',
					'09/10',
					'10/10',
					'11/10',
					'12/10',
					'13/10',
					'14/10',
					'15/10',
					'16/10',
					'17/10',
					'18/10',
					'19/10',
					'20/10',
					'21/10',
					'22/10',
					'23/10',
					'24/10',
					'25/10',
					'26/10',
					'27/10',
					'28/10',
					'29/10',
					'30/10',
					'31/10',
			],
			datasets: [{
				label: "Total",
				data: [
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 1).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 2).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 3).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 4).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 5).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 6).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 7).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 8).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 9).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 10).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 11).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 12).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 13).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 14).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 15).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 16).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 17).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 18).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 19).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 20).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 21).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 22).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 23).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 24).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 25).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 26).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 27).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 28).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 29).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 30).count %>,
					<%= @paid_ledger_list.where("strftime('%d', payment_date)+0=?", 31).count %>,
					],
				fill: false,
	            borderColor: "#0c84ab",
	            borderCapStyle: 'square',
	            borderJoinStyle: 'miter',
	            pointBorderColor: "#fff",
	            pointBackgroundColor: "#0c84ab",
	            pointBorderWidth: 1,
	            pointHoverRadius: 4,
	            pointHoverBackgroundColor: "#0c84ab",
	            pointHoverBorderColor: "#fff",
	            pointHoverBorderWidth: 1,
	            pointRadius: 4,
	            pointHitRadius: 4,
			}]
		},
		options: {
			responsive: true,
			title: {
				display: false
			},
			legend: {
				display: false
			},
	        hover: {
	            mode: 'dataset'
	        },
			scales: {
				xAxes: [{
					display: false,
					gridLines: {
						display: false
					},
					scaleLabel: {
						display: false,
						labelString: 'Month'
					}
				}],
				yAxes: [{
					display: true,
					scaleLabel: {
						display: false,
						labelString: "Value in €"
					},
					ticks: {
						suggestedMin: 0,
						suggestedMax: 20,
					}
				}]
			}
		}	
	}
	
	var ctx = document.getElementById("successful_charges").getContext("2d");
	ctx.canvas.width = 300;
	ctx.canvas.height = 120;
	var lineChart = new Chart(ctx, config);
}
</script>