@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap/theme';
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'custom/alert';
@import 'custom/autocomplete';
@import 'custom/beta';
@import 'custom/booking';
@import 'custom/buttons';
@import 'custom/creation_tool_show';
@import 'custom/dashboard';
@import 'custom/edit_profile';
@import 'custom/fonts';
@import 'custom/footer';
@import 'custom/form';
@import 'custom/home';
@import 'custom/invoice_pages';
@import 'custom/nav_pages';
@import 'custom/nav_dashboard';
@import 'custom/registration';
@import 'custom/sign_in';
@import 'custom/sign_up';
@import 'custom/transaction';
@import 'custom/utils';
@import 'custom/xml';




body {
	font-family: "Roboto", Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/*
 * Wrapper for pages
 */
#wrapper-pages {
	min-height: 100vh;
	width: 100%;
	background-image: url("background/pages/wooden_bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 1px;
}

/*
 * Main container for pages
 */
#pages-container {
	background-color: rgba(0,0,0,0.6);
	border-radius: 6px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	margin-bottom: 30px;
}

/*
 * Wrapper for dashboard
 */
#wrapper-dashboard {
	min-height: 100vh;
	width: 100%;
	background-image: url("background/dashboard/blurry_bg.jpg");
	background-size: cover;
	margin-bottom: 1px;
}

/*
 * Main container for dashboard pages
 */
#dashboard-container {
	min-height: 80vh;
	margin-bottom: 30px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	border-radius: 5px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 5px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.15), 0 1px 5px rgba(0,0,0,0.075);
}
