<% provide(:title, "Booking proposal | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Booking proposal</h3>
		<span>Invoice #<%= @invoice.id%></span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<div class="dashboard-invoice">
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>Account Code</th>
								<th>Description</th>
								<th>Debit</th>
								<th>Credit</th>
							</tr>
						</thead>
						<tbody>
							<% if (@customer.email != @invoice.recipient) %>
							<!--VENTE-->
								<tr class="row-debit">
									<td>400</td>
									<td>
										<%if Corporate.where(email: @invoice.recipient).any?%>
											<%= Corporate.where(email: @invoice.recipient).take.business_name %>
										<%else%>
											<%if User.where(email: @invoice.recipient).any? %>
												<%= User.where(email: @invoice.recipient).take.first_name %> <%= User.where(email: @invoice.recipient).take.last_name %>
											<%else%>
												<%= @invoice.recipient%>
											<%end%>
										<%end%>
									</td>
									<td class="column-debit"><%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></td>
									<td></td>
								</tr>
								<tr class="row-credit">
									<td>70</td>
									<td>Produit</td>
									<td></td>
									<td class="column-credit"><%= "%g" % ("%.2f" % @invoice.total_without_taxes)%></td>
								</tr>
								<tr class="row-credit">
									<td>451</td>
									<td>TVA due</td>
									<td></td>
									<td class="column-credit"><%= "%g" % ("%.2f" % @invoice.total_tax)%></td>
								</tr>
							
							<!--ACHAT-->
							<%else%>
								<tr class="row-debit">
									<td>600</td>
									<td>Achat Marchandise</td>
									<td class="column-debit"><%= "%g" % ("%.2f" % @invoice.total_without_taxes)%></td>
									<td></td>
								</tr>
								<tr class="row-debit">
									<td>411</td>
									<td>TVA à récupérer</td>
									<td class="column-debit"><%= "%g" % ("%.2f" % @invoice.total_tax)%></td>
									<td></td>
								</tr>
								<tr class="row-credit">
									<td>440</td>
									<td>Fournisseur</td>
									<td></td>
									<td class="column-credit"><%= "%g" % ("%.2f" % @invoice.total_with_taxes)%></td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
			<div class="row">
				<div class="col-xs-12">
					<div class="booking-button-container">
						<button class="btn btn-join"><i class="fa fa-external-link"></i> Book</button>
						<%= link_to accountant_page_path(:id => params[:user]), class: "btn btn-blue" do %>
							<i class="fa fa-undo" aria-hidden="true"></i> Back to invoices
						<%end%>
					</div>
				</div>
			</div>
		</div><!--/invoice-list-container-->
	</div><!--/dashboard-invoice-->
</div><!--/dashboard-invoice-->