<% provide(:title, "My customers | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>My customers</h3>
		<span>Number of customers: <%= @number_of_customers%></span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @list_customers.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>Company Name</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Total Invoices Sent</th>
								<th>Accounting Invoices Received</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<% @list_customers.each do |customer| %>
							<% @invoices_sent_by_customer = LedgerInfo.where(sender: customer.email)%>
								<tr>
									<td><%= link_to customer.id, accountant_page_path(customer) %></td>
									<td><%= customer.business_name %></td>
									<td><%=	customer.first_name %></td>
									<td><%= customer.last_name %></td>
									<td><%= customer.email %></td>
									<td><%= @invoices_sent_by_customer.count%></td>
									<td>
										<% @accounting_invoices_received = @invoices_sent_by_customer.where(sent_to_accountant: true).count%>
										<% if @accounting_invoices_received != @invoices_sent_by_customer.count%>
											<span class="warning-text"><%= @accounting_invoices_received%></span>
										<%else%>
											<%= @accounting_invoices_received%>
										<%end%>
									</td>
									<td>
										<div class="invoice-label">
											<% if @accounting_invoices_received != @invoices_sent_by_customer.count%>
												<%= link_to "#", class: "btn btn-send-accountant", method: :get do %>
													Send reminder
												<%end%>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @list_customers,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			You don't have any customers yet.
		</div>
	<%end%>
</div><!--/dashboard-invoice-->