<% provide(:title, "Dashboard")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Dashboard</h3>
		<span>
			<% if current_accountant.sign_in_count > 1%>
				Welcome back, 
			<% else %>
				Welcome, 
			<%end%>
			<%= "#{current_accountant.business_name}"%> !
		</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Invoices received</span>
				<h4 class="info"><%= @total_invoices_received %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Number of customers</span>
				<h4 class="info"><%= @number_of_customers %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<ul class="dashboard-invoice-info-container">
				<li>
					<%= link_to customers_path do%>
						<div class="panel panel-accountant-customers">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-3">
										<i class="fa fa-user fa-5x"></i>
									</div>
									<div class="col-xs-9 text-right">
										<div class="info-number"><%= @number_of_customers %></div>
										<div><%= "Customer".pluralize(@number_of_customers)%></div>
									</div>
								</div>
							</div>
						</div>
					<%end%>
				</li>
			</ul><!--/dashboard-invoice-info-container-->
		</div>
		
		<div class="col-sm-9 col-md-9">
			<div class="row">
				<div class="col-sm-4 col-md-4">
					<div class="progress-info-title">
						<%= Date.today.strftime("%B")%>'s received invoices progress
					</div>
				</div>
				
				<div class="col-sm-8 col-md-8">
					<div class="progress">
					  <div class="progress-bar <% if @progress < 100 and @total_invoices != 0%>progress-bar-pending <%else%> progress-bar-paid <%end%>" role="progressbar" aria-valuenow="<%= @progress %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%if @total_invoices == 0%>100<%else%> <%=@progress%><%end%>%;">
					    <%=@total_invoices_received%>/<%=@total_invoices%>
					  </div>
					</div>
				</div>
			</div><!--/row-->
			
			<div class="row">
				<div class="col-sm-12 col-md-12 col-graph">
					<div class="graph-title">Number of invoices received per day in <%= Date.today.strftime("%B")%></div>
					<div class="graph-container" id="invoices_per_day"></div>
				</div>
			</div><!--/row-->
			<div class="row">
				<div class="col-sm-12 col-md-12 col-graph">
					<div class="graph-title">Number of invoices received per month in <%= Date.current.year%></div>
					<div class="graph-container" id="invoices_per_month"></div>
				</div>
			</div><!--/row-->
		</div>
	</div><!--/row-->
</div><!--/dashboard-invoice-->

<% if Rails.env.development?%>
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_day',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ day: '01/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 1).count %>},
			  	{ day: '02/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 2).count %>},
			  	{ day: '03/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 3).count %>},
			  	{ day: '04/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 4).count %>},
				{ day: '05/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 5).count %>},
			  	{ day: '06/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 6).count %>},
				{ day: '07/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 7).count %>},
				{ day: '08/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 8).count %>},
				{ day: '09/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 9).count %>},
				{ day: '10/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 10).count %>},
				{ day: '11/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '12/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 12).count %>},
				{ day: '13/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '14/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '15/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '16/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '17/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '18/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '19/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '20/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '21/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '22/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '23/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '24/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '25/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '26/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '27/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '28/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '29/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '30/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>},
				{ day: '31/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("strftime('%d', created_at)+0=?", 11).count %>}
			],
		  	xkey: 'day',
		 	ykeys: ['value'],
		 	labels: ['Received']
		});
	</script>
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_received_invoices.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>	
	
<%else%>
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_day',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fbb91c'],
			lineColors: ['#fbb91c'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ day: '01/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 1).count %>},
			  	{ day: '02/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 2).count %> },
			  	{ day: '03/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 3).count %> },
			  	{ day: '04/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 4).count %> },
				{ day: '05/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 5).count %> },
			  	{ day: '06/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 6).count %> },
				{ day: '07/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 7).count %> },
				{ day: '08/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 8).count %> },
				{ day: '09/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 9).count %> },
				{ day: '10/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 10).count %> },
				{ day: '11/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 11).count %> },
				{ day: '12/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 12).count %> },
				{ day: '13/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 13).count %> },
				{ day: '14/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 14).count %> },
				{ day: '15/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 15).count %> },
				{ day: '16/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 16).count %> },
				{ day: '17/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 17).count %> },
				{ day: '18/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 18).count %> },
				{ day: '19/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 19).count %> },
				{ day: '20/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 20).count %> },
				{ day: '21/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 21).count %> },
				{ day: '22/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 22).count %> },
				{ day: '23/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 23).count %> },
				{ day: '24/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 24).count %> },
				{ day: '25/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 25).count %> },
				{ day: '26/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 26).count %> },
				{ day: '27/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 27).count %> },
				{ day: '28/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 28).count %> },
				{ day: '29/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 29).count %> },
				{ day: '30/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 30).count %> },
				{ day: '31/<%= Date.today.strftime("%m")%>', value: <%= @this_month_received_invoices.where("extract(day from created_at)=?", 31).count %> }
			],
		  	xkey: 'day',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_per_month',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			ymax: 'auto[10]',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_received_invoices.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
<%end%>