<% provide(:title, "Received invoices | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Received Invoices</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	Yo
</div><!--/dashboard-invoice-->