<% provide(:title, "#{@customer.business_name} | invy")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3><%= @customer.business_name%>'s invoices</h3>
		<span>Total exchanged invoices: <%= @customer_invoices.count%></span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Invoices sent to <%= @customer.business_name%></span>
				<h4 class="info"><%= @invoices_received_from_customer.count %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Invoices sent by <%= @customer.business_name%></span>
				<h4 class="info"><%= @invoices_sent_from_customer.count %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @customer_invoices.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>To</th>
								<th>Send Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Payment Method</th>
								<th>Status</th>
								<th>Accounting</th>
							</tr>
						</thead>
						<tbody>
							<% @customer_invoices.each do |invoice| %>
								<tr>
									<td>
										<% if invoice.sent_to_accountant == false and invoice.recipient != @customer.email%>
											<%= invoice.id %>
										<%else%>
											<%= link_to invoice.id, ledger_info_path(:id => invoice, :user => @customer.id) %>
										<%end%>
									</td>
									<td>
										<%if Corporate.where(email: invoice.recipient).any?%>
											<%= Corporate.where(email: invoice.recipient).take.business_name %>
										<%else%>
											<%if User.where(email: invoice.recipient).any? %>
												<%= User.where(email: invoice.recipient).take.first_name %> <%= User.where(email: invoice.recipient).take.last_name %>
											<%else%>
												<a href="#" title="User not yet a member"><%= invoice.recipient%></a>
											<%end%>
										<%end%>
									</td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if (invoice.paid_date != nil) %>
											<%= invoice.paid_date.strftime("%d/%m/%Y")%>
										<%else%>
											<span class="warning-text">Not paid yet</span>
										<%end%>
									</td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td>
										<% if (invoice.payment_method != nil) %>
											<%= invoice.payment_method%>
										<%else%>
											<span class="warning-text">Not paid yet</span>
										<%end%>
									<td>
										<div class="invoice-label">
											<% if invoice.ledger_status == "New"%>
												<span class="label label-waiting">Awaiting payment</span>
											<% elsif invoice.ledger_status == "Paid"%>
												<span class="label label-received">Paid</span>
											<%end%>
										</div>
									</td>
									<td>
										<div class="invoice-label">
											<% if invoice.sent_to_accountant == false and invoice.recipient != @customer.email %>
												<%= link_to "#", class: "btn btn-send-accountant", method: :get do %>
													Send reminder
												<%end%>
											<%else%>
												<span class="label label-accounting-received">Received</span>
											<%end%>
										</div>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @customer_invoices,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			No invoices yet from this customer.
		</div>
	<%end%>
</div><!--/dashboard-invoice-->