<% provide(:title, "Log in | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="account-type">&nbsp;Accountant account</span>
				</h2>
			</div>
		</div><!--/account-title-container-->
		<div class="panel-container">
			<div class="panel panel-account">
				<div class="panel-account-title">
					<h3>Log in to your account</h3>
				</div>
				<div class="panel-body panel-form">
					<%= render 'layouts/alert'%>
					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					
				  		<div class="form-group">
				   			<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
				    		<%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", id: "email" %>
				  		</div>
						
				  	  	<div class="form-group">
							<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
							<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "password" %>
				  	  	</div>
						
						<div class="forgot-password-container">
							<%= link_to "Forgot your password?", new_password_path(resource_name) %>
						</div>
	
				  	  	<div class="form-group">
							<div class="form-submit-button">
				    			<%= f.submit "Log in", class: "btn btn-join btn-join-width" %>
							</div>
				  	   	</div>
					<%end%>
				</div><!--panel-body-->
				<div class="panel-footer panel-account-footer">
					<div class="panel-account-footer-middle">
						Don't have an account yet? <%= link_to "Sign up", new_accountant_registration_path%>
					</div>
				</div>
			</div><!--panel-account-->
		</div><!--panel-container-->
	</div>
</div>