<div class="getting-started">
	<p class="title">Getting started with invy</p>
	<p>In order to set up your account completely, select your desired account type.<br>You can always add another account type to your profile later.</p>
	<div class="offering">
		<div class="row">
			<div class="col-sm-4">
				<%= render 'layouts/account/account_types/classic'%>
			</div>
	
			<div class="col-sm-4">
				<%= render 'layouts/account/account_types/corporate'%>
			</div>
	
			<div class="col-sm-4">
				<%= render 'layouts/account/account_types/accountant'%>
			</div>
		</div>
	</div>
</div>