<% provide(:title, "GWA Initiative: New password")%>

<div class="container">
	<h1>Change your password<h1>
		
	<%= render 'layouts/alert'%>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
 		<%= devise_error_messages! %>
  	  	<%= f.hidden_field :reset_password_token %>

  	<div class="form-group">
    	<%= f.label :password, "New password" %><br />
    	<%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
  	</div>

  	<div class="form-group">
    	<%= f.label :password_confirmation, "Confirm new password" %><br />
    	<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  	</div>

  	<div class="actions">
    	<%= f.submit "Change my password", class: "btn btn-primary" %>
  	</div>
	<% end %>

	<%= render "accountants/shared/links" %>
</div>