<% provide(:title, "Reset password | Invy")%>

<div class="container">
	<div id="static-container">
		<div class="panel-container">
			
			<% if @user.errors.any?%>
				<div class="error-messages-container-sign-up">
					<div id="error_explanation">
						<h2><%= "Please correct the following issues:"%></h2>
						<ul>
							<% @user.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
			<%end%>
			
			<div class="panel panel-sign-up">
				<div class="panel-sign-up-title">
					<h3>Reset your password</h3>
				</div>	
				<div class="panel-body panel-form">
					<%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
					  	<div class="form-group">
							<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
							<%= f.password_field :password, class: "form-control", placeholder: "Password", id:"password"%>
						</div>
						
					  	<div class="form-group">
							<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
							<%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation", id:"password"%>
						</div>
						
						<%= f.submit "Update password", class: 'btn btn-green btn-green-width'%>
					<%end%>
				</div>
			</div>
		</div><!--/panel-container-->
	</div><!--/static-container-->
</div>


