<div class="xml-form-container">
	<% if @xml_upload.errors.any? %>
	  <div id="error_explanation">
		  <h2><%= pluralize(@xml_upload.errors.count, "error") %> prohibited this invoice from being saved:</h2>
		  <ul>
			  <% @xml_upload.errors.full_messages.each do |msg| %>
			  	<li><%= msg %></li>
			  <% end %>
		  </ul>
	  </div>
	<% end %>
	<div class="xml-form-container-item">
		<%= form_for @xml_upload do |f| %>
		    <div class="form-group">
				<%= f.file_field :xml, class:"input-custom" %>
			</div>
	
			<div class="form-group">
				<%= f.submit "Send", class: 'btn btn-join' %>
			</div>
		<%end%>
	</div>
</div><!--/xml-form-container-->