<div class="xml-list-container">
	<div class="row">
		<div class="col-xs-12 table-responsive">
			<table class="table table-invoices">
				<thead>
					<tr>
						<th>#</th>
						<th>File Name</th>
						<th>Recipient</th>
						<th>Sent Date</th>
						<th>Due Date</th>
						<th>Paid Date</th>
						<th>Total <small>(VAT incl.)</small></th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% @ledger_items.each do |item| %>
					<% ledger_info_id = LedgerInfo.where(ledger_item_id: item.xml_upload_id).select(:id) %>
					<tr>
						<td><%= item.xml_upload_id %></td>
						<td><%= @xml_from_corporate.where(id: item.xml_upload_id).take.xml_file_name %></td>
						<td>
							<% if Corporate.where(email: @ledger_infos.where(ledger_item_id: item.id).take.recipient).any?%>
								<%= Corporate.where(email: @ledger_infos.where(ledger_item_id: item.id).take.recipient).take.business_name %>
							<%else%>
								<%= User.where(email: @ledger_infos.where(ledger_item_id: item.id).take.recipient).take.first_name %> <%= User.where(email: @ledger_infos.where(ledger_item_id: item.id).take.recipient).take.last_name %>
							<%end%>
						</td>
						<td><%= @xml_from_corporate.where(id: item.xml_upload_id).take.created_at.strftime("%d/%m/%Y")%></td>
						<td><%= @ledger_infos.where(ledger_item_id: item.id).take.due_date.strftime("%d/%m/%Y") %></td>
						<td>
							<% if (@ledger_infos.where(ledger_item_id: item.id).take.paid_date != nil) %>
								<%= @ledger_infos.where(ledger_item_id: item.id).take.paid_date.strftime("%d/%m/%Y")%>
							<%else%>
								<%= link_to "Send reminder","#" %>
							<%end%>
						</td>
						<td>
							<% if @ledger_infos.where(ledger_item_id: item.id).take.currency == "EUR"%>
								€<%= "%g" % ("%.2f" % @ledger_infos.where(ledger_item_id: item.id).take.total_with_taxes)%>
							<%elsif @ledger_infos.where(ledger_item_id: item.id).take.currency == "USD"%>
								$<%= "%g" % ("%.2f" % @ledger_infos.where(ledger_item_id: item.id).take.total_with_taxes)%>
							<%end%>
						</td>
						<td>
							<div class="invoice-label">
								<% if @ledger_infos.where(ledger_item_id: item.id).take.ledger_status == "New"%>
									<span class="label label-waiting">Awaiting payment</span>
								<% elsif @ledger_infos.where(ledger_item_id: item.id).take.ledger_status == "Paid"%>
									<span class="label label-received">Paid</span>
								<%end%>
							</div>
						</td>
					</tr>
					<%end%>
				</tbody>
			</table>
		</div><!--/col-->
	</div><!--/row-->
</div><!--/xml-list-container-->
<div class="invoice-pagination">
	<%= will_paginate @ledger_items,  renderer: BootstrapPagination::Rails %>
</div>