<% provide(:title, "XML Parser | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>XML parser</h3>
		<span>Upload an XML file and create the according invoice. Click <a data-toggle="modal" data-target="#xmlExample">here</a> to see an sample of an XML file.</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->


<div class="dashboard-invoice">
	<%= render 'layouts/alert'%>
	<%= render 'xml_uploads/form' %>
	<%= render 'xml_uploads/list' %>
</div>


<!--xml_example-->
<div class="modal fade" id="xmlExample" tabindex="-1" role="dialog" aria-labelledby="xmlExample">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">XML Format</h4>
      </div>
      <div class="modal-body">
		  <p>In order to create invoices, please write your XML files according to the following example:</p>
		  &lt;?xml version="1.0" encoding="UTF-8"?><br>
		  &lt;document><br>
		  	&emsp;&lt;ledger_item><br>
		  		&emsp;&emsp;&lt;ledger_info><br>
		  			&emsp;&emsp;&emsp;&lt;recipient><strong>Recipient's email</strong>&lt;/recipient><br>
		  			&emsp;&emsp;&emsp;&lt;type><strong>Invoice</strong> or <strong>Credit Note</strong>&lt;/type><br>
		  			&emsp;&emsp;&emsp;&lt;ledger_id><strong>Reference number</strong>&lt;/ledger_id><br>
		  			&emsp;&emsp;&emsp;&lt;currency><strong>EUR</strong> or <strong>USD</strong>&lt;/currency><br>
		  			&emsp;&emsp;&emsp;&lt;total_without_taxes><strong>Total without taxes</strong>&lt;/total_without_taxes><br>
					&emsp;&emsp;&emsp;&lt;total_tax><strong>Total taxes</strong>&lt;/total_tax><br>
		  			&emsp;&emsp;&emsp;&lt;total_with_taxes><strong>Total with taxes</strong>&lt;/total_with_taxes><br>
		  			&emsp;&emsp;&emsp;&lt;due_date><strong>YYYY-MM-DD</strong>&lt;/due_date><br>
		  			&emsp;&emsp;&emsp;&lt;ledger_line><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;product><strong>Product name</strong>&lt;/product><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;description><strong>Product description</strong>&lt;/description><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;quantity><strong>Quantity</strong>&lt;/quantity><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;unit_price><strong>Unit price</strong>&lt;/unit_price><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;tax_rate><strong>Taxe rate</strong>&lt;/tax_rate><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;total_price><strong>Total price</strong>&lt;/total_price><br>
		  				&emsp;&emsp;&emsp;&emsp;&lt;total_price_with_taxes><strong>Total price with taxes</strong>&lt;/total_price_with_taxes><br>
		  			&emsp;&emsp;&emsp;&lt;/ledger_line><br>
		  		&emsp;&emsp;&lt;/ledger_info><br>
		  	&emsp;&lt;/ledger_item><br>
		  &lt;/document>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>