.error-messages-container-sign-up {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.error-messages-container-update {
	width: 450px;
	margin-bottom: 20px;
}

.error-messages-container-invoice {
	margin-bottom: 20px;
}

.error-messages-container-password {
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
	font-size: 14px;
}

.error-padding {
	padding: 15px;
}

/*
 * Form alert
 */
#error_explanation {
	background-color: #d64242;
	border: 1px solid #d64242;
	border-radius: 3px;
}

#error_explanation h2 {
 	text-align: left;
  	font-weight: bold;
  	padding: 5px 5px 5px 15px;
  	font-size: 14px;
  	margin: 0px;
  	background-color: #d64242;
  	color: #fff;
	margin-bottom: 10px;
}

#error_explanation ul li {
  	font-size: 14px;
  	color: #fff;
}

.field_with_errors .form-control{
	box-shadow: none;
}

.field_with_errors > #first_name::-webkit-input-placeholder,
.field_with_errors > #last_name::-webkit-input-placeholder,
.field_with_errors > #company_name::-webkit-input-placeholder,
.field_with_errors > #first_name::-webkit-input-placeholder,
.field_with_errors > #email::-webkit-input-placeholder,
.field_with_errors > #vat::-webkit-input-placeholder,
.field_with_errors > #bank_account::-webkit-input-placeholder,
.field_with_errors > #telephone::-webkit-input-placeholder,
.field_with_errors > #address::-webkit-input-placeholder,
.field_with_errors > #address_number::-webkit-input-placeholder,
.field_with_errors > #postal_code::-webkit-input-placeholder,
.field_with_errors > #city::-webkit-input-placeholder,
.field_with_errors > #password::-webkit-input-placeholder,
.field_with_errors > #confirm_password::-webkit-input-placeholder {
	color: #d64242;
}

.field_with_errors > #first_name:-moz-placeholder,
.field_with_errors > #last_name:-moz-placeholder,
.field_with_errors > #company_name:-moz-placeholder,
.field_with_errors > #first_name:-moz-placeholder,
.field_with_errors > #email:-moz-placeholder,
.field_with_errors > #vat:-moz-placeholder,
.field_with_errors > #bank_account:-moz-placeholder,
.field_with_errors > #telephone:-moz-placeholder,
.field_with_errors > #address:-moz-placeholder,
.field_with_errors > #address_number:-moz-placeholder,
.field_with_errors > #postal_code:-moz-placeholder,
.field_with_errors > #city:-moz-placeholder,
.field_with_errors > #password:-moz-placeholder,
.field_with_errors > #confirm_password:-moz-placeholder {
	color: #d64242;
}

.field_with_errors > #first_name::-moz-placeholder,
.field_with_errors > #last_name::-moz-placeholder,
.field_with_errors > #company_name::-moz-placeholder,
.field_with_errors > #first_name::-moz-placeholder,
.field_with_errors > #email::-moz-placeholder,
.field_with_errors > #vat::-moz-placeholder,
.field_with_errors > #bank_account::-moz-placeholder,
.field_with_errors > #telephone::-moz-placeholder,
.field_with_errors > #address::-moz-placeholder,
.field_with_errors > #address_number::-moz-placeholder,
.field_with_errors > #postal_code::-moz-placeholder,
.field_with_errors > #city::-moz-placeholder,
.field_with_errors > #password::-moz-placeholder,
.field_with_errors > #confirm_password::-moz-placeholder {
	color: #d64242;
}	

.field_with_errors > #first_name:-ms-input-placeholder,
.field_with_errors > #last_name:-ms-input-placeholder,
.field_with_errors > #company_name:-ms-input-placeholder,
.field_with_errors > #first_name:-ms-input-placeholder,
.field_with_errors > #email:-ms-input-placeholder,
.field_with_errors > #vat:-ms-input-placeholder,
.field_with_errors > #bank_account:-ms-input-placeholder,
.field_with_errors > #telephone:-ms-input-placeholder,
.field_with_errors > #address:-ms-input-placeholder,
.field_with_errors > #address_number:-ms-input-placeholder,
.field_with_errors > #postal_code:-ms-input-placeholder,
.field_with_errors > #city:-ms-input-placeholder,
.field_with_errors > #password:-ms-input-placeholder,
.field_with_errors > #confirm_password:-ms-input-placeholder {
	color: #d64242;
}	

/*
 * Flash alert
 */
.warning {
	background-color: #d64242;
	border-color: #d64242;
	color: #fff;
	text-align: center;
	box-shadow: none;
	font-size: 14px;
} 
 
 .notice {
	background-color: #5890ff;
	border-color: #5890ff;
	color: #fff;
	text-align: center;
	box-shadow: none;
	font-size: 14px;
 }
 
