.beta-info {
	color: #d64242;
}

.beta-request-info-container {
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	font-family: "OpenSans", Arial, sans-serif;
	text-align: center;
	font-size: 13px;
	color: #43b497;
	margin-bottom: -20px;
}

#request_type {
	background: #fff;
	padding: 8px;
	height: 34px;
	line-height: 1;
	border: 1px solid #ccc;
	font-size: 14px;
}

.beta-access-form-container {
	width: 600px;
	left: 0;
	right: 0;
	margin: auto;
	position: relative;
	margin-bottom: 20px;
}