/*
 * Table columns color
 */
.row-debit {
	background-color: rgba(0, 128, 0, 0.3);
}

.row-credit {
	background-color: rgba(184, 40, 38, 0.3);
}

.column-debit {
	font-weight: bold;
}

.column-credit {
	font-weight: bold;
}

.booking-button-container {
	float: right;
}