/*
 * Button turquoise
 */

.btn-join {
	background-image: none;
	background-color: #43b497;
	border-color: #43b497;
	box-shadow: none;
	border-radius: 4px;
	min-width: 170px;
	color: #fff;
	text-shadow: none;
}

.btn-join:hover,
.btn-join:focus{
	background-color: #6ed3b9;
	border-color: #6ed3b9;
	color: #fff;
}

.btn-join:active {
	box-shadow: none;
}

.btn-join-width {
	width: 100%;
}

/*
 * Button grey
 */
.btn-grey {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	border-radius: 4px;
	min-width: 170px;
	border-color: #ccc;
	color: #43b497;
}

.btn-grey:hover,
.btn-grey:focus {
	color: #fff;
	border-color: #6ed3b9;
	background-color: #6ed3b9;
}

.btn-grey:active {
	box-shadow: none;
}

/*
 * Button red
 */
.btn-red {
	background-image: none;
	background-color: #b82826;
	border-color: #b82826;
	box-shadow: none;
	border-radius: 4px;
	min-width: 170px;
	color: #fff;
	text-shadow: none;
}

.btn-red:hover,
.btn-red:focus {
	background-color: #d72e2c;
	border-color: #d72e2c;
	color: #fff;
}

.btn-red:active {
	box-shadow: none;
}

.btn-red-width {
	width: 100%;
}

/*
 * Button blue
 */
.btn-blue {
	background-image: none;
	background-color: #73a1b0;
	border-color: #73a1b0;
	box-shadow: none;
	border-radius: 4px;
	min-width: 176px;
	color: #fff;
	text-shadow: none;
}

.btn-blue:hover,
.btn-blue:focus {
	background-color: #89becf;
	border-color: #89becf;
	color: #fff;
}

.btn-blue:active {
	box-shadow: none;
}


.btn-blue + .dropdown-toggle {
	background-image: none;
	background-color: #73a1b0;
	border-color: #73a1b0;
	border-left: 1px solid #e2e2e2;
	box-shadow: none;
	color: #fff;
	text-shadow: none;
	min-width: 20px;
}

.btn-blue:hover + .dropdown-toggle,
.btn-blue:focus + .dropdown-toggle {
	background-color: #89becf;
	border-color: #89becf;
	color: #fff;
}

.btn-blue:active + .dropdown-toggle{
	box-shadow: none;
}

/* 
 * Button send to accountant
 */
.btn-send-accountant {
	background-image: none;
	background-color: #43b497;
	box-shadow: none;
	border-radius: 2px;
	min-width: 100px;
	color: #fff;
	text-shadow: none;
	font-size: 11px;
	font-weight: bold;
	padding: 0 0 0 0;
}

/*
 * Button dashboard corporate
 */
.btn-dashboard-corporate {
	min-width: 230px;
}

/*
 * Generator tool
 */
 /* 
  * Links to add and remove
  */
 .fa-minus-circle {
 	color: #d64242;
 }

 .fa-plus-circle {
 	color: #43b497;
 }

/*
 * Generator Tool - Add line
 */
 .link_to_add_lines {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	color: #777;
	font-size: 12px;
 }
 
 .link_to_add_lines:hover,
 .link_to_add_lines:focus {
 	color: #555;
	background-color: #f2f2f2;
 }
