.invoice-description-container {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-family: 'OpenSans', Arial, sans-serif;
	font-size: 12px;
	padding: 20px;
}

.invoice-description-page-header {
	margin-bottom: 20px;
	height: 60px;
	
}

.invoice-description-header-brand-container {
	float: left;
}

.invoice-description-header-brand-container img {
	height: 60px;
}

.invoice-description-header-date {
	float: right;
	margin-top: 30px;
	height: 20px;
	color: #555;
	font-size: 16px;
}

.invoice-page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
	font-size: 16px;
	color: #555;
}

.accepted-payments {
	margin-top: 14px;
}


/*
 * Table invoices creation
 */

.table-invoice-info {
	border-collapse: collapse;
	border: 1px solid #ddd;
}

.table-invoice-info > thead > tr > th {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}

.table-invoice-info > tbody > tr > td {
	border: none;
}

th.remove,
th.quantity,
th.unit-price,
th.vat,
th.total,
th.total-vat {
	text-align: center;
}

td.remove {
	width: 50px;
	text-align: center;
}

td.quantity {
	width: 100px;
}

td.unit-price {
	width: 100px;
}

td.vat {
	width: 100px;
}

td.total {
	width: 100px;
}

td.total-vat {
	width: 100px;
}

td.ledger_id {
	width: 250px;
}

.invoice-row-sizing {
	height: 51px;
}

#quantity.form-invoice {
	width: 50px;
	margin: auto;
	text-align: center;
}

#unit_price.form-invoice {
	width: 50px;
	margin: auto;
	text-align: center;
}

#tax_rate.form-invoice {
	width: 51px;
	margin: auto;
	text-align: center;
}

.total_price {
	width: 60px;
	margin: auto;
	text-align: center;
}

.total_with_taxes {
	width: 100px;
	margin: auto;
	text-align: center;
}

#ledger_id {
	width: 120px;
	height: 17px;
	padding-left: 0px;
}

#product,
#description,
#quantity,
#unit_price,
#tax_rate,
#ledger_info_ledger_lines_attributes_0_total_price,
#ledger_info_ledger_lines_attributes_0_total_price_with_taxes {
	padding-left: 0px;
}

#ledger_info_recipient,
#recipient_name,
#recipient_address,
#recipient_city,
#recipient_bank_account,
#recipient_phone {
	height: 17px;
	width: 100%;
	color: #333;
	padding-left: 0px;
}


.form-notes-and-instructions {
	border: 1px solid #ddd;
	height: 104px;
	width: 100%;
	resize: none;
}

.form-notes-and-instructions:focus {
	border: 1px solid #ddd;
	outline: none;
	box-shadow: none;
}

.invoice-notes-and-instructions-container {
	border: 1px solid #ddd;
	height: 104px;
	width: 100%;
}

.invoice-notes-and-instructions-item {
	padding: 5px;
}


/*
 * Transaction
 */
.transaction-container {
	float: left;
	width: 170px;
	margin-right: 10px;
}

/*
 * Buttons container
 */
.show-invoice-button-container {
	height: 34px;
}

.show-invoice-button-pay {
	position: relative;
	float: left;
	margin-right: 5px;
}

.show-invoice-button-save {
	position: relative;
	float: left;
}

.show-invoice-button-booking-proposal {
	position: relative;
	float: left;
	margin-right: 5px;
}

.show-invoice-button-save-items-container {
	background-color: #73a1b0;
}

.show-invoice-button-save-items-container > li > a {
	color: #fff;
}

.show-invoice-button-save-items-container > li > a:hover {
	background-image: none;
	background-color: transparent;
	border:1px solid #73a1b0;
	color: #333;
}

/*
 * New invoices buttons
 */
.sent-to-accountant-container {
	display: inline-block;
	padding: 6px;
	min-width: 170px;
	height: 34px;
	border: 1px solid #43b497;
	border-radius: 2px;
}

.sent-to-accountant-container span {
	font-size: 13px;
}

.new-invoice-submit-container {
	margin-top: 10px;
} 