/*
 * Dashboard header
 */
.dashboard-header {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	background-color: #f5f5f5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.dashboard-header-title {
	float: left;
}

.dashboard-header-title > h3 {
	margin-top: 0;
}

.dashboard-header-title > span {
	display: block;
	font-size: 12px;
	color: #999;
}

.dashboard-header-title > span > a{
	text-decoration: none;
	cursor: pointer;
}

.dashboard-header-title > .label{
	color: #fff;
}

.dashboard-header-invoice-stats {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.dashboard-header-invoice-stats > li {
	float: left;
	display: block;
	padding: 0 20px;
}

.dashboard-header-invoice-stats > li {
	border-right: 1px solid #ccc;
	padding-right: 0px;
}

.dashboard-header-invoice-stats > li:last-child {
	border: none;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item {
	margin-right: 20px;
	text-align: right;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item > span {
	text-transform: uppercase;
	font-size: 11px;
	color: #999;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item > h4 {
	font-family: "OpenSans";
	text-align: right;
	margin: 5px 0;
	color: #000;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item > .info {
	color: #555;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item > .remaining {
	color: #fc7d3f;
}

.dashboard-header-invoice-stats > li > .dashboard-header-invoice-stats-item > .paid {
	color: #008000;
}

.progress-header {
	margin-bottom: 0px;
	min-width: 300px;
}

/*
 * Dashboard Invoice
 */
.dashboard-invoice {
	padding: 20px;
}

.dashboard-invoice-info-container {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
 
/*
 * Panels
 */
.col-info-panels {
	padding-left: 0px;
}

.info-number {
	font-size: 34px;
}

.panel-new-invoices {
	color: #fff;
	background-color: #b82826;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}

.panel-accountant-customers,
.panel-paid-invoices {
	color: #fff;
	background-color: #008000;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}

.panel-all-invoices {
	color: #fff;
	background-color: #5890ff;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}

.panel-sent-invoices {
	color: #fff;
	background-color: #fbb91c;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}

.panel-received-payments-invoices {
	color: #fff;
	background-color: #43b497;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}

.panel-not-paid {
	color: #fff;
	background-color: #73a1b0;
	border: 5px solid #fff;
	outline: 1px solid #dfdfdf;
}


.progress-info-title {
	text-align: right;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 25px;
}

/*
 * Charts
 */
.graph-container-side {
	height: 200px;
	margin-bottom: 30px;
}
 
.graph-container {
	height: 300px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

.graph-title {
	font-family: "Roboto";
	font-size: 14px;
	text-align: Right;
}

.dashboard-corporate-create-container {
	text-align: right;
	margin-bottom: 25px;
}