.dashboard-profile {
	padding: 20px;
}

.profile-picture {
}

.profile-picture img {
	width: 200px;
	max-height: 200px;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #e2e2e2;
	margin-bottom: 30px;
}

.profile-information {
	font-size: 12px;
	color: #777;
}


.edit-form {
	width: 450px;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 12px;
}