@font-face {
	font-family: 'OpenSans';
	src: font-url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OleoScript';
	src: font-url('OleoScript-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: font-url('Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto-Regular.ttf') format('truetype');
}