#footer {
	clear: both;
	position: relative;
	height: 100px;
	background-color: #2c2e2d;
}

.container-footer {
	margin-top: 15px;
}

.footer-items {
	color: #b0bfc7;
	font-size: 13px;
}

.footer-items a {
	text-decoration: none;
	color: inherit;
}

.footer-items ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer-items ul li {
	display: inline;
	margin: 0 10px 0 0;
}

.footer-items ul li a {
	text-decoration: none;
	color: #b0bfc7;
}

.footer-items ul li a:hover {
	color: #6f7c82;
}
