/*
 * Invy teal color for focus form
 */

.form-control:focus {
	border-color: #6ed3b9;
	box-shadow: none;
}


/*
 * File input
 */
.file-input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input + label {
	font-size: 14px;
	color: #9c9c9c;
	font-weight: normal;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
	padding: 7px;
	margin-bottom: -1px;
}

.file-input:focus + label,
.file-input + label:hover {
	background-color: #fff;
}

.file-input:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/*
 * Select input birthdate
 */
#user_date_of_birth_3i,
#user_date_of_birth_2i,
#user_date_of_birth_1i {
	background: #fff;
	padding: 8px;
	height: 34px;
	line-height: 1;
	border: 1px solid #ccc;
	font-size: 14px;
}

/*
 * Select input accountant
 */
#corporate_accountant_id {
	background: #fff;
	padding: 8px;
	height: 34px;
	line-height: 1;
	border: 1px solid #ccc;
	font-size: 14px;
}

/*
 * Select create invoice
 */
#ledger_info_ledger_info_type,
#ledger_info_due_date_3i,
#ledger_info_due_date_2i,
#ledger_info_due_date_1i,
#ledger_info_currency {
	background: #fff;
	padding: 8px;
	height: 34px;
	line-height: 1;
	border: 1px solid #ccc;
	font-size: 14px;
}

/*
 * Checkbox create account
 */
input[type=checkbox] {
	position: absolute;
	width: 15px;
	height: 15px;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

input[type=checkbox]+.create-account-checkbox {
	display: inline-block;
	content:"";
	font-size: 12px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
	text-align: center;
	width: 17px;
	height: 17px;
	line-height: 15px;
	vertical-align: middle;
	border-radius: 3px;
	margin-right: 3px;
	position: relative;
	cursor: pointer;
}

input[type=checkbox]:checked+.create-account-checkbox {
	background-color: #eee;
}

input[type=checkbox]:checked+.create-account-checkbox:before {
	content: '\2714';
	color: #6ed3b9;
}

/*
 * Generator tool form
 */
.form-clean[readonly] {
	background-color: transparent;
	border: none;
	text-align: center;
}

.form-info-clean[readonly] {
	background-color: transparent;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
}

.form-invoice {
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #43b497;
	box-shadow: none;
	background-color: transparent;
	height: 30px;
	padding: 0px;
	font-size: 12px;
}

.form-invoice:focus {
	box-shadow: none;
}


.form-clean {
	box-shadow: none;
}

.form-clean:focus {
	box-shadow: none;
}


/*
 * Pages form
 */
.form-group {
	position: relative;
	margin-bottom: 20px;
} 

.inline label {
	font-size: 13px;
	font-weight: normal;
	margin-right: 10px;
}

.inline-radio {
	display: inline;
	margin-left: 12px;
}
 
form input[type="text"],
form input[type="email"],
form input[type="password"] {
	padding-left: 50px;
}

form .input-icon {
	position: absolute;
	top: 40%;
	margin-top: -9px;
	left: 12px;
	width: 18px;
}

form .input-icon::after {
	content: '';
	position: absolute;
	right: -11px;
	top: -10px;
	bottom: -10px;
	width: 1px;
	opacity: .5;
	background-color: rgba(212,212,212,0);
	background-image: -webkit-linear-gradient(bottom,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
	background-image: linear-gradient(to top,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
}

form .input-icon.icon-user,
form .input-icon.icon-password {
	text-align: center;
	font-size: 18px;
	color: #43b497;
}
