/*
 * Container with info about Invy
 */ 
.container-branding {
	text-align: center;
	margin-top: 100px;
}

.text-branding {
	color: #fff;
	font-family: "Montserrat", Arial, sans-serif;
}

.text-branding-info {
	color: #fff;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 400;
}

.branding-logo {
	color: #43b497;
	font-family: "OleoScript", Helvetica, sans-serif;
	font-size: 42px;
}

.container-branding a {
	margin-top: 20px;
}