.no-invoice-container {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 450px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	padding-bottom: 10px;
	text-align: center;
}

/*
 * New invoices
 */
.invoice-list-container {
	position: relative;
	margin: 0 auto;
	font-size: 12px;
	min-height: 550px;
}

/*
 * All invoices tab
 */
.all-invoices-list-container {
	position: relative;
	margin: 0 auto;
	min-height: 550px;
	font-size: 12px;
}

/*
 * Table invoices
 */
.table-invoices thead {
	border-top: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
}

.table-invoices > thead > tr > th {
	background-color: #f5f5f5;
	padding: 15px;
	border-bottom: none;
	font-family: "OpenSans";
	font-weight: 600;
	text-align: center;
}

.table-invoices > tbody > tr {
	border: 1px solid #e2e2e2;
}

.table-invoices > tbody > tr > td {
	padding: 15px;
	text-align: center;
}

.table-responsive {
	border: none;
}

.invoice-label{
	position: relative;
	margin: 0 auto;
	width: 100px;
	font-size: 11px;
}

/* 
 * Navtabs 
 */
.nav-tabs {
	border-bottom: none;
}