.navbar-container {
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	z-index: 1000;
}

.navbar-page {
	border: none;
	background-color: transparent;
	background-image: none;
	box-shadow: none;
}

.navbar-page .navbar-brand {
	color: #fff;
	font-family: "OleoScript", Helvetica, sans-serif;
	font-size: 35px;
}

.navbar-page .navbar-brand:hover {
	color: #fff;
}

.navbar-page ul.navbar-right li a {
	color: #fff;
}

.navbar-page ul.navbar-right li a:hover {
	color: #fff;
}

.sign-up-container {
	height: 50px;
	width: 80px;
	text-align: center;
}

.sign-up-container-item {
	margin-top: 4px;
	border: 1px solid #fff;
}

.sign-up-container-item a {
	text-decoration: none;
	display: block;
	width: 80px;
	height: 40px;
	padding-top: 10px;
}

/*
 * Log in dropdown
 */
 
.dropdown-log-in {
	cursor: pointer;
}

.dropdown-log-in-content {
	display:none;
	position: absolute;
	width: 100px;
	text-align: right;
	border-right: 1px solid #fff;
	right: 0;
}

.dropdown-log-in-content a {
	color: #fff;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-log-in-content a:hover {
	font-weight: bold;
}

.dropdown-log-in-container:hover .dropdown-log-in-content {
	display: block;
}