.navbar-dashboard {
	margin-top: 20px;
	border-radius: 5px;
	height: 60px;
	background-color: #fff;
	background-image: none;
}

.navbar-collapse {
	margin-top: 3px;
}

.navbar-dashboard .navbar-brand {
	color: #43b497;
	font-family: "OleoScript", Helvetica, sans-serif;
	font-size: 35px;
}

.navbar-dashboard .navbar-brand:hover {
	color: #43b497;
}

.navbar-dashboard ul.navbar-right li a {
	color: #777;
}

.navbar-dashboard ul.navbar-right li a:hover {
	color: #555;
}

.navbar-dashboard img {
	width: 18px;
	height: 18px;
	border-radius: 25px;
	z-index: 1000;
}
/*
 * Dropdown menu
 */

/*
 * Link in navbar
 */
.navbar-dashboard .navbar-nav > .open > a,
.navbar-dashboard .navbar-nav > .open > a:hover, 
.navbar-dashboard .navbar-nav > .open > a:focus {
    background-image: none;
	background-color: transparent;
	box-shadow: none;
}

/*
 * Account dropdown menu
 * Invoice dropdown menu
 */
.navbar-dashboard .navbar-nav .dropdown-account{
	margin-top: 7px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.navbar-dashboard .navbar-nav .dropdown-invoice {
	min-width: 185px;
	margin-top: 7px;
	border-radius: 5px;
	background-color: #f5f5f5;
}

.navbar-dashboard .navbar-nav .dropdown-account li a:hover,
.navbar-dashboard .navbar-nav .dropdown-invoice li a:hover {
	background-image: none;
	background-color: transparent;
}

/*
 * Carret up in account dropdown menu (1)
 * Carret up in invoice dropdown menu
 */
.navbar-dashboard .navbar-nav .dropdown-account:before {
	position: absolute;
	top: -7px;
	left: 74px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

.navbar-dashboard .navbar-nav .dropdown-invoice:before {
	position: absolute;
	top: -7px;
	left: 84px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
}

/*
 * Carret up in account dropdown menu (2)
 * Carret up in invoice dropdown menu
 */
.navbar-dashboard .navbar-nav .dropdown-account:after {
  position: absolute;
  top: -6px;
  left: 74px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #eee;
  border-left: 6px solid transparent;
  content: '';
}

.navbar-dashboard .navbar-nav .dropdown-invoice:after {
  position: absolute;
  top: -6px;
  left: 85px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #eee;
  border-left: 6px solid transparent;
  content: '';
}