.account-title-container {
	text-align: center;
}

.account-title {
	padding: 5px;
}

.account-title .branding {
	font-family: "OleoScript", Helvetica, sans-serif;
	font-size: 45px;
	color: #6ed3b9;
}

.account-title .account-type {
	font-family: "OpenSans", Arial, sans-serif;
	color: #fff;
}

.panel-container {
	padding: 15px;
}

.panel-account {
	position: relative;
	margin: 0 auto;
	margin-bottom: 30px;
	width: 450px;
	background-color: #f7f7f7;
	border-radius: 8px;
}

.panel-update {
	background-color: transparent;
	width: 450px;
	border: none;
	box-shadow: none;
}

.panel-account-title {
	margin: 40px 0 0;
	text-align: center;
}

.panel-account-title-branding {
	font-family: "OleoScript", Helvetica, sans-serif;
	font-size: 28px;
	color: #43b497;
}

.panel-account h3 {
	color: #333;
}

.panel-account-footer {
	background-color: #eee;
}

.panel-update-footer {
	background-color: transparent;
	padding-left: 0;
	padding-right: 0;
	padding-top: 20px;
}

.panel-account-footer-middle {
	text-align: center;
	font-size: 14px;
	color: #777;
}

.panel-account-footer-middle a {
	color: #43b497;
}

.panel-form {
	padding: 40px;
	font-family: "OpenSans", Arial, sans-serif;
	font-size: 12px;
}

.info-text {
	font-weight: normal;
}


.form-submit-button {
	margin-top: 15px;
	text-align: center;
}


