.panel-links {
	font-size: 12px;
	padding-bottom: 10px;
}

.panel-links a {
	text-decoration: none;
}

.forgot-password-container {
	margin-top: -15px;
	text-align: right;
	font-size: 13px;
}

.forgot-password-container a {
	color: #43b497;
}