.pricing-container {
	padding: 30px;
}

.pricing-item {
	border: 1px solid #f1f5fc;
	border-radius: 2px;
}

.pricing-item-head {
	background-color: #fff;
	border-bottom: 1px solid #f1f5fc;
	padding: 6px 20px;
	font-size: 13px;
}

.pricing-item-body {
	background-color: #fff;
}

.pricing-item-cost {
	font-family: "OpenSans", Arial, sans-serif;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #f1f5fc;
	font-size: 18px;
	min-height: 120px;
}

.account-price {
	font-size: 30px;
	display: block;
}

.pricing-item-description {
	position: relative;
	text-align: center;
	min-height: 500px;
	font-size: 13px;
	color: #555;
}

.pricing-item-description-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.pricing-item-description-list li {
	padding: 10px;
	border-bottom: 1px solid #f1f5fc;
}

.join-select {
	position: absolute;
	bottom: 40px;
	left:0;
	right:0;
}


/*
 * Pricing questions
 */
 
.pricing-faq-title {
	width: 700px;
	position: relative;
	margin: 0 auto;
	font-family: "Montserrat", Arial, sans-serif;
	font-weight: 400;
	color: #fff;
	text-align: center;
	border-bottom: 1px solid #e2e2e2;
}

.pricing-faq-details {
	min-height: 280px;
	margin-top: 30px;
}

.pricing-faq-details-item {
	margin-bottom: 30px;
}

#faq-separator {
	border-right: 1px solid #e2e2e2;
	border-left: 1px solid #e2e2e2;
}


.pricing-faq-details-item-title > h4{
	font-family: "Montserrat", Arial, sans-serif;
	color: #fff;
}

.pricing-faq-details-item-title > p{
	color: #f1f5fc;
}

.fa-join-icon {
	color: #43b497;
}


