.payment-container {
	position: relative;
	margin: 0 auto;
	margin-top: 20px;
	width: 500px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	font-family: 'OpenSans', Arial, sans-serif;
	font-size: 12px;
}