/*
 * Badges
 */
.new_invoice {
	background-color: #b82826;
	font-size: 11px;
	display: inline;
	font-weight: normal;
}

.received_payment {
	background-color: #337ab7;
	font-size: 11px;
	display: inline;
	font-weight: normal;
}

.paid_invoices {
	background-color: #008000;
	font-size: 11px;
	display: inline;
	font-weight: normal;
}

/*
 * Labels
 */
.label-waiting {
	display: inherit;
	min-width: 100px;
	color: #fff;
	background-color: #d64242;
	font-size: inherit;
}

.label-received {
	display: inherit;
	min-width: 100px;
	color: #fff;
	background-color: #008000; 
	font-size: inherit;
}

.label-reminder {
	display: inherit;
	min-width: 100px;
	color: #43b497;
	background-color: none; 
	border-color: black;
	font-size: inherit;
}

.label-accounting-received {
	display: inherit;
	min-width: 100px;
	color: #fff;
	background-color: #008000; 
	font-size: inherit;
}


/*
 * Will Paginate
 */
 
.invoice-pagination {
	text-align: center;
	font-size: 12px;
}

.pagination > li > a {
	color: #777;
}

.pagination > li > a:hover {
	background-color: #fff;
	color: #555;
}

.pagination > .active > span{
	background-color: #43b497;
	border-color: #43b497;
}

.pagination > .active > span:hover{
	background-color: #43b497;
	border-color: #43b497;
}

.disabled {
	pointer-events: none;	
	cursor: default;
}

/*
 * Progress bar pending
 */
.progress-bar-pending {
	background-image: none;
	background-color: #fc7d3f;
}

.progress-bar-paid {
	background-image: none;
	background-color: #43b497;
}

/*
 * Font Awesome
 */
.exclamation-warning {
	color: #b82826;
}

/*
 * Text
 */
.warning-text {
	color: #b82826;
}