.xml-form-container {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	width: 450px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
}

.xml-form-container-item {
	width: 180px;
	position: relative;
	margin: 0 auto;
}

.xml-list-container {
	position: relative;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 12px;
	width: 900px;
	min-height: 380px;
}
