<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Beta access request</h1>
    <p>
      A new access request as been received from:<br>
	  <strong>email:</strong> <%= @email%><br>
	  <strong>type:</strong> <%= @type%><br>
    </p>
    <p>
      Please, add it to the whitelist by going to the administration dashboard.
    </p>
  </body>
</html>