<%= form_for(@accountant) do |f| %>
	<% if @accountant.errors.any?%>
		<div class="error-messages-container-account">
			<div id="error_explanation">
				<h2><%= "Please correct the following #{"line".pluralize(@accountant.errors.count)}:"%></h2>
				<ul>
					<% @accountant.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	<%end%>
	
    <div class="form-group">
		<div class="input-icon icon-form"><i class="fa fa-usd" aria-hidden="true"></i></div>
  	  	<%= f.text_field :bank_account, class: "form-control", placeholder: "Bank account", id: "bank_account" %>
    </div>
	
  	<%= f.submit "Add an accountant account", class: 'btn btn-green btn-green-width'%>
<% end %>
<div class="back-button">
	<%= link_to "Back", root_path, class: "btn btn-grey btn-grey-width" %>
</div>