/*
 * Flash alert
 */
.error {
	background-color: #d64242;
	border-color: #d64242;
	color: #fff;
	text-align: center;
	box-shadow: none;
	font-size: 14px;
	
	a {
		color: #fff;
		text-decoration: underline;
	}
} 
 
 .notice {
	background-color: #5890ff;
	border-color: #5890ff;
	color: #fff;
	text-align: center;
	box-shadow: none;
	font-size: 14px;
 }
 
/*
 * Errors in form validation
 */
.error-messages-container-invoice {
	margin-bottom: 20px;
}

#error_explanation {
	background-color: #d64242;
	border: 1px solid #d64242;
	border-radius: 8px;
}

#error_explanation h2 {
 	text-align: left;
  	font-weight: bold;
  	padding: 15px 5px 5px 15px;
  	font-size: 14px;
  	margin: 0px;
  	background-color: transparent;
  	color: #fff;
}

#error_explanation ul li {
  	font-size: 14px;
  	color: #fff;
}