/*
 * Button join (homepage)
 */

.btn-join {
	background-image: none;
	border-color: #fff;
	box-shadow: none;
	border-radius: 0px;
	min-width: 170px;
	color: #fff;
	text-shadow: none;
	height: 46px;
}

.btn-join:hover,
.btn-join:focus{
	background-color: #43b497;
	border-color: #43b497;
	color: #fff;
}

.btn-join:active {
	box-shadow: none;
}

.btn-join-width {
	width: 100%;
}


/*
 * Button green
 */

.btn-green {
	background-image: none;
	background-color: #43b497;
	border-color: #43b497;
	box-shadow: none;
	border-radius: 4px;
	min-width: 170px;
	color: #fff;
	text-shadow: none;
	height: 46px;
}

.btn-green:hover,
.btn-green:focus{
	background-color: #6ed3b9;
	border-color: #6ed3b9;
	color: #fff;
}

.btn-green:active {
	box-shadow: none;
}

.btn-green-width {
	width: 100%;
}
 

/*
 * Button grey
 */
.btn-grey {
	background-image: none;
	background-color: transparent;
	border-color: #ccc;
	box-shadow: none;
	border-radius: 4px;
	min-width: 170px;
	color: #43b497;
	text-shadow: none;
	height: 46px;
}

.btn-grey:hover,
.btn-grey:focus{
	color: #fff;
	border-color: #43b497;
	background-color: #43b497;
}

.btn-grey:active {
	box-shadow: none;
}

.btn-grey-width {
	width: 100%;
}

/*
 * Button add client dashboard
 */
.btn-add-client {
	background-image: none;
	box-shadow: none;
	height: 63px;
	text-shadow: none;
}

.btn-add-client:hover,
.btn-add-client:focus{
	background-color: #eee;
	border-radius: 10px;
	color: #fff;
}

.btn-add-client:active {
	box-shadow: none;
}

/*
 * Back button
 */
.back-button {
	margin-top: 10px;
	
	a {
		padding-top: 11px;
	}
}

/*
 * Button blue 89becf
 */
.btn-blue,
.btn-blue-no-width {
	background-image: none;
	background-color: #0c84ab;
	border-color: #0c84ab;
	box-shadow: none;
	border-radius: 4px;
	color: #fff;
	text-shadow: none;
}

.btn-blue {
	min-width: 176px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue-no-width:hover,
.btn-blue-no-width:focus {
	background-color: #0d9ac8;
	border-color: #0d9ac8;
	color: #fff;
}

.btn-blue:active {
	box-shadow: none;
}


/*
 * Generator Tool - Add line
 */
 .link_to_add_lines {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	color: #777;
	font-size: 13px;
 }
 
 .link_to_add_lines:hover {
 	color: #43b497;
	background-color: #f2f2f2;
 }
 
 .link_to_add_lines:focus {
 	background-color: transparent;
	border: 1px solid #ccc;
	color: #777;
 }