/*
 * Wrapper for dashboard
 */
#wrapper-dashboard {
	min-height: 100vh;
	width: 100%;
	/*background-image: url("background/dashboard/gradient.jpg");*/
	background: #0c84ab;
	background: -webkit-linear-gradient(to left, #0c84ab , #43b497);
	background: linear-gradient(to left, #0c84ab , #43b497);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 1px;
}

/*
 * Main container for dashboard pages
 */
#dashboard-container {
	min-height: 80vh;
	margin-bottom: 30px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
	border-radius: 5px;
	-webkit-box-shadow: 0 0 60px rgba(0,0,0,0.2);
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
}

#dashboard-inner-container {
	padding: 20px;
}