@font-face {
	font-family: 'OpenSans';
	src: font-url('OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'OleoScript';
	src: font-url('OleoScript-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	src: font-url('Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: font-url('Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'RobotoSlab';
	src: font-url('RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Regular';
	src: font-url('Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Light';
	src: font-url('Lato-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato-Bold';
	src: font-url('Lato-Bold.ttf') format('truetype');
}