.fa-times-delete {
	color: #d64242;
}

.fa-plus-circle-green {
 	color: #43b497;
}
 
.add-client-icon {
 	color: #43b497;
}

.invoice-icon {
	color: #43b497;
	font-weight: 700;
}

.pending-payment-icon {
	color: #d64242;
}

.paid-icon {
	color: #4ca64c;
}

.client-icon {
	color: #43b497;
}