.form-group {
	margin-bottom: 20px;
	position: relative;
} 

.form-control {
	height: 46px;
}

.form-control:focus {
	border-color: #6ed3b9;
	box-shadow: none;
}

.edit {
	height: 30px;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #eee;
	border-radius: 0px;
	font-size: 13px;
	width: 200px;
}

.edit_with_errors {
	border-bottom: 1px solid #d64642;
}


form #first_name,
form #last_name,
form #email,
form #password,
form #confirm_password,
form #company_name,
form #phone_number,
form #address_street,
form #address_number,
form #address_pc,
form #address_city,
form #company_tva,
form #bank_account {
	padding-left: 50px;
}

form #edit_first_name,
form #edit_last_name,
form #edit_password,
form #edit_confirm_password,
form #edit_current_password,
form #edit_company_name,
form #edit_company_street,
form #edit_company_street_number,
form #edit_company_postal_code,
form #edit_company_city,
form #edit_bank_account,
form #edit_phone,
form #edit_tva {
	padding-left: 0px;
}

form .input-icon {
	position: absolute;
	top: 40%;
	margin-top: -7px;
	left: 12px;
	width: 18px;
}

form .input-icon::after {
	content: '';
	position: absolute;
	right: -11px;
	top: -10px;
	bottom: -10px;
	width: 1px;
	opacity: .5;
	background-color: rgba(212,212,212,0);
	background-image: -webkit-linear-gradient(bottom,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
	background-image: linear-gradient(to top,rgba(212,212,212,0) 0,#d4d4d4 30%,#d4d4d4 70%,rgba(212,212,212,0) 100%);
}

form .input-icon.icon-form {
	text-align: center;
	font-size: 18px;
	color: #43b497;
}



// FORM INVOICE
.form-invoice {
	border: none;
	border-radius: 0px;
	box-shadow: none;
	background-color: transparent;
	padding: 0px;
	font-size: 12px;
	height: 20px;
}

.form-clean[readonly] {
	background-color: transparent;
	box-shadow: none;
	border: none;
	text-align: center;
}

#ledger_item_email {
	width: 152px;
	font-size: 14px;
	font-weight: 500;
	color: #43b497;
	margin-bottom: 2px;
	background-color: #f5f5f5;
	padding-left: 5px;
}

#ledger_item_due_date {
	color: #43b497;
	margin-bottom: 2px;
	font-size: 13px;
	background-color: #f5f5f5;
	padding-left: 5px;
}

#ledger_item_sender_ref_number {
	color: #43b497;
	margin-bottom: 2px;
	font-size: 13px;
	background-color: #f5f5f5;
	padding-left: 5px;
}

#ledger_item_communication {
	border: 1px solid #ddd;
	resize: none;
	width: 100%;
	height: 190px;
	padding: 10px;
	color: #43b497;
	font-size: 13px;
}

/*
 * Product lines
 */
#product {
	color: #43b497;
	padding-left: 5px;
	font-size: 13px;
	border-bottom: 1px solid #f2f2f2;
	width: 120px;
}

#description {
	color: #43b497;
	padding-left: 5px;
	font-size: 13px;
	border-bottom: 1px solid #f2f2f2;
	width: 120px;
}

#quantity {
	color: #43b497;
	background-color: #f5f5f5;
	padding-left: 5px;
	text-align: center;
	font-size: 13px;
	width: 50px;
}

#unit_price {
	color: #43b497;
	background-color: #f5f5f5;
	padding-left: 5px;
	text-align: center;
	font-size: 13px;
	width: 100px;
}

#tax_rate {
	text-align: center;
	width: 51px;
}

#total_price {
	text-align: center;
	font-size: 13px;
	background-color: transparent;
	width: 80px;
}

#total_price_with_taxes {
	text-align: center;
	font-size: 13px;
	background-color: transparent;
	width: 100px;
}

#total_with_vat {
	font-weight: 700;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}