#ledger_item_due_date_3i,
#ledger_item_due_date_2i,
#ledger_item_due_date_1i {
	background: #fff;
	padding: 8px;
	height: 34px;
	line-height: 1px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
}