/*
 * Wrapper for pages
 */
#wrapper-pages {
	min-height: 100vh;
	width: 100%;
	background-image: url("background/pages/mountains.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-bottom: 1px;
}

/*
 * Main container for pages
 */
#static-container {
	//background-color: rgba(0,0,0,0.6);
	border-radius: 6px;
	// box-shadow: 0 0 60px rgba(0,0,0,0.2);
	margin: 40px 0px 40px 0px;
}