<% provide(:title, "Sign up | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="pricing-container">
			<div class="row">
				<div class="col-md-4 col-sm-8">
					<%= render 'layouts/sign_up/classic'%>
				</div><!--/col-->
			
				<div class="col-md-4 col-sm-8">
					<%= render 'layouts/sign_up/corporate'%>
				</div><!--/col-->
			
				<div class="col-md-4 col-sm-8">
					<%= render 'layouts/sign_up/accountant'%>
				</div><!--/col-->
			</div><!--/row-->
		
			<div class="pricing-faq">
				<div class="pricing-faq-title">
					<h1>Questions?</h1>
				</div><!--pricing-faq-title-->
				<div class="pricing-faq-details">
					<%= render 'layouts/sign_up/faq'%>
				</div><!--/pricing-faq-details-->
			</div><!--/pricing-faq-->`
		</div><!--/pricing-container-->
	</div><!--/pages-container-->
</div><!--/container-->