<div class="pricing-item">
	<div class="pricing-item-head">
		<strong>Accountant account</strong>
	</div><!--pricing-item-head-->
	<div class="pricing-item-body">
		<div class="pricing-item-cost">
			<div class="account-price">€14.99</div>
			<small>per month</small>
		</div><!--/pricing-item-cost-->
		<div class="pricing-item-description">
			<ul class="pricing-item-description-list">
				<li>
					<%= link_to 'Start your 3 months free trial', new_accountant_registration_path, class: 'btn btn-grey' %>
				</li>
				<li>Customised user dashboard</li>
				<li>Private online invoice mailbox</li>
				<li>Online payments</li>
				<li>Online invoice creation tool</li>
				<li>Send invoices to your customers</li>
				<li>Dynamic stats and graphs</li>
				<li>PDF invoice download</li>
				<li>Send all your invoice to your accountant</li>
			</ul>
			<div class="join-select">
				<%= link_to 'Select this account', new_accountant_registration_path, class: 'btn btn-join' %>
			</div><!--/join-select-->
		</div><!--/pricing-item-description-->
	</div><!--pricing-item-body-->
</div><!--/pricing-item-->