<div class="row pricing-faq-details-item">
	<div class="col-md-4">
		<div class="col-xs-3 text-center">
			<i class="fa fa-lock fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>Securing your data</h4>
			<p>Yes, all data exchanges are secured via SSL encryption. We also backup the database several times per day.</p>
		</div><!--/col-->
	</div><!--/col-->
	
	<div class="col-md-4"  id="faq-separator">
		<div class="col-xs-3 text-center">
			<i class="fa fa-money fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>Payment methods</h4>
			<p>Accept domestic or international debit and credit cards from the major card brands right out of the box.</p>
		</div><!--/col-->
	</div><!--/col-->
	
	<div class="col-md-4">
		<div class="col-xs-3 text-center">
			<i class="fa fa-mobile fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>Mobile application</h4>
			<p>Invy is available either on iPhone or on Android. Make sure to have an account before starting to use it.</p>
		</div><!--/col-->
	</div><!--/col-->
</div><!--/row-->

<div class="row pricing-faq-details-item">
	<div class="col-md-4">
		<div class="col-xs-3 text-center">
			<i class="fa fa-globe fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>International coverage</h4>
			<p>Invy is only accessible in Belgium for now. Stay tuned for more information in the coming months.</p>
		</div><!--/col-->
	</div><!--/col-->
	<div class="col-md-4"  id="faq-separator">
		<div class="col-xs-3 text-center">
			<i class="fa fa-ban fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>Deleting your account</h4>
			<p>You don't feel like being part of the Invy family anymore? No problem, you can delete your account anytime.</p>
		</div><!--/col-->
	</div><!--/col-->
	<div class="col-md-4">
		<div class="col-xs-3 text-center">
			<i class="fa fa-question fa-3x fa-join-icon"></i>
		</div><!--/col-->
		<div class="col-xs-9 pricing-faq-details-item-title">
			<h4>Contact us</h4>
			<p>You have more questions? Don't hesitate to contact us.</p>
		</div><!--/col-->
	</div><!--/col-->
</div><!--/row-->