<tr class="nested-fields">
	<td>
		<%= f.text_field :product_name, class:"form-control form-invoice", placeholder: "Product name", id: "product"%>
	</td>
	<td>
		<%= f.text_field :product_description, class:"form-control form-invoice", placeholder: "Product description", id: "description"%>
	</td>
	<td>
		<%= f.text_field :quantity, class:"form-control form-invoice", id: "quantity"%>
	</td>
	<td>
		<%= f.text_field :unit_price, class:"form-control form-invoice", id: "unit_price"%>
	</td>
	<td>
		<%= f.select(:tax_rate, options_for_select([["6%", "6"], ["12%", "12"], ["21%", "21"]], selected: "21"),{}, id: "tax_rate")%>
	</td>
	<td>
		<%= f.text_field :total_price, class:"form-control form-invoice total_price", placeholder: "Total Price", id: "total_price", value: 0, :readonly => true %>
	</td>
	<td>
		<%= f.text_field :total_price_with_taxes, class:"form-control form-invoice total_price_with_taxes", placeholder: "Total Price With Taxes", id: "total_price_with_taxes", value: 0, :readonly => true%>
	</td>

	<td class="remove" style="vertical-align: middle;">
		<%= f.hidden_field :_destroy %>
		<%= link_to("<i class=\"fa fa-times fa-times-delete fa-lg\"></i> ".html_safe, "#",  :class => "link_to_remove_fields", :title => "Remove this line") %>
	</td>
</tr>