<% provide(:title, "Dashboard")%>

<div class="container">
	
	<div class="classic-banner">
		<div class="row">
			<div class="col-sm-4">
				<div class="received-invoices-info">
					<div class="received-invoices-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									<span class="received-amount"><%= @received_ledger_list.count %></span> <%= "invoice".pluralize(@received_ledger_list.count)%> received
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="open-amount">
									<%= number_to_currency(@open_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently total amount
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="paid-invoices-info">
					<div class="paid-invoices-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									<span class="paid-amount"><%= @paid_ledger_list.count %></span> <%= "invoice".pluralize(@paid_ledger_list.count)%> paid
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="paid-amount">
									<% if @paid_amount != @open_amount && @paid_amount != 0 %>
										<span class="red">
											<%= number_to_currency(@paid_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</span>
									<%else%>
										<%= number_to_currency(@paid_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									<%end%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently paid amount
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="payment-progress-info">
					<div class="payment-progress-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									Payment progress
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="payment-progress">
									<div id="progress_bar"></div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently payment progress
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!--/classic-banner-->
	
	
	<div class="classic-banner received-invoices-container">
		
		<div class="title">
			<span class="pull-left">My new <%= "invoice".pluralize(@new_invoices_list.count)%> (<%= @new_invoices_list.count %>)</span>
			<span class="pull-right date"><%= Time.now.strftime("%B %Y")%></span>
		</div>
		
			<div class="received-invoice-table-container">
				<table class="table">
					<thead>
						<tr>
							<th>Status</th>
							<th>Reference</th>
							<th>From</th>
							<th>Date</th>
							<th>Due</th>
							<th>Amount</th>
							<th>Open</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @new_invoices_list.each do |invoice| %>
							<tr>
								<td>
									<% if invoice.ledger_status == "new" %>
										<span class="fa-stack pending-payment-icon">
											<i class="fa fa-exclamation fa-stack-1x"></i>
											<i class="fa fa-circle-o fa-stack-2x"></i>
										</span>
									<% else%>
										<span class="fa-stack paid-icon">
											<i class="fa fa-check fa-stack-1x"></i>
											<i class="fa fa-circle-o fa-stack-2x"></i>
										</span>
									<% end %>
								</td>
								<td><%= invoice.ref_number%></td>
								<td>
									<% @sender_account = Account.where(id: invoice.sender_id).first %>
									<%= @sender_account.corporate.company_name%>
								</td>
								<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
								<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
								<td>
									<% if invoice.ledger_status == "new"%>
										<span class="unpaid">
											<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</span>
									<%else%>
										<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									<%end%>
								</td>
								<td>
									<% if invoice.ledger_status == "new"%>
										<span class="unpaid">
											<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										</span>
									<%else%>
										<%= number_to_currency(0, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									<%end%>
								</td>
								<td>
									<%= link_to ledger_item_path(invoice) do %>
										<i class="fa fa-file-o invoice-icon" aria-hidden="true"></i>
									<%end%>
								</td>
							</tr>
						<%end%>
					</tbody>
				</table>
				<% if @new_invoices_list.empty?%>
					<div class="no-invoices">
						You haven't received any new invoices this month yet.
					</div>
				<%end%>
			</div>
			<div class="footer">
				<%= link_to invoices_path do %>
					All your invoices <i class="fa fa-chevron-right" aria-hidden="true"></i>
				<%end%>
			</div>
		</div> <!--/received-invoices-container-->
		
		<div class="classic-banner paid-invoices-container">
		
			<div class="title">
				<span class="pull-left">My paid <%= "invoice".pluralize(@paid_ledger_list.count)%> (<%= @paid_ledger_list.count %>)</span>
				<span class="pull-right date"><%= Time.now.strftime("%B %Y")%></span>
			</div>
		
				<div class="paid-invoice-table-container">
					<table class="table">
						<thead>
							<tr>
								<th>Status</th>
								<th>Reference</th>
								<th>From</th>
								<th>Date</th>
								<th>Due</th>
								<th>Amount</th>
								<th>Open</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @paid_ledger_list.each do |invoice| %>
								<tr>
									<td>
										<% if invoice.ledger_status == "new" %>
											<span class="fa-stack pending-payment-icon">
												<i class="fa fa-exclamation fa-stack-1x"></i>
												<i class="fa fa-circle-o fa-stack-2x"></i>
											</span>
										<% else%>
											<span class="fa-stack paid-icon">
												<i class="fa fa-check fa-stack-1x"></i>
												<i class="fa fa-circle-o fa-stack-2x"></i>
											</span>
										<% end %>
									</td>
									<td><%= invoice.ref_number%></td>
									<td>
										<% @sender_account = Account.where(id: invoice.sender_id).first %>
										<%= @sender_account.corporate.company_name%>
									</td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if invoice.ledger_status == "new"%>
											<span class="unpaid">
												<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
											</span>
										<%else%>
											<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
										<%end%>
									</td>
									<td>
										<% if invoice.ledger_status == "new"%>
											<span class="unpaid">
												<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
											</span>
										<%else%>
											<span class="paid">
												<%= number_to_currency(0, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
											</span>
										<%end%>
									</td>
									<td>
										<%= link_to ledger_item_path(invoice) do %>
											<i class="fa fa-file-o invoice-icon" aria-hidden="true"></i>
										<%end%>
									</td>
								</tr>
							<%end%>
						</tbody>
					</table>
					<% if @paid_ledger_list.empty?%>
						<div class="no-invoices">
							You haven't paid any invoices this month yet.
						</div>
					<%end%>
				</div>
				<div class="footer">
					<%= link_to invoices_path do %>
						All your invoices <i class="fa fa-chevron-right" aria-hidden="true"></i>
					<%end%>
				</div>
			</div>
		</div><!--/paid-invoices-container-->
		
	</div><!--/classic-banner-->
	
</div>
<script>
var bar = new ProgressBar.Line(progress_bar, {
  strokeWidth: 3,
  easing: 'easeInOut',
  duration: 1400,
  color: '#d64242',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: {width: '100%', height: '100%'},
  from: {color: '#43b497'},
  to: {color: '#43b497'},
  step: (state, bar) => {
    bar.path.setAttribute('stroke', state.color);
  }
});
bar.animate(<%= @paid_ledger_list.count.to_f/@received_ledger_list.count.to_f %>);  // Number from 0.0 to 1.0
</script>