<% provide(:title, "Dashboard")%>
<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Dashboard | <small>Accountant</small></h3>
		<span>Welcome to invy</span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->