<% if Rails.env.development?%>
	<script>
	function expenses_volume_graph () {
		var config = {
			type: 'line',
			data: {
				labels: [
						'01/10',
						'02/10',
						'03/10',
						'04/10',
						'05/10',
						'06/10',
						'07/10',
						'08/10',
						'09/10',
						'10/10',
						'11/10',
						'12/10',
						'13/10',
						'14/10',
						'15/10',
						'16/10',
						'17/10',
						'18/10',
						'19/10',
						'20/10',
						'21/10',
						'22/10',
						'23/10',
						'24/10',
						'25/10',
						'26/10',
						'27/10',
						'28/10',
						'29/10',
						'30/10',
						'31/10',
				],
				datasets: [{
					label: "EUR",
					data: [
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 1).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 2).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 3).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 4).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 5).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 6).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 7).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 8).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 9).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 10).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 11).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 12).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 13).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 14).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 15).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 16).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 17).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 18).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 19).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 20).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 21).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 22).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 23).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 24).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 25).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 26).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 27).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 28).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 29).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 30).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("strftime('%d', created_at)+0=?", 31).sum :total_with_taxes %>,
						],
					fill: false,
		            borderColor: "#0c84ab",
		            borderCapStyle: 'square',
		            borderJoinStyle: 'miter',
		            pointBorderColor: "#fff",
		            pointBackgroundColor: "#0c84ab",
		            pointBorderWidth: 1,
		            pointHoverRadius: 4,
		            pointHoverBackgroundColor: "#0c84ab",
		            pointHoverBorderColor: "#fff",
		            pointHoverBorderWidth: 1,
		            pointRadius: 4,
		            pointHitRadius: 4,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: false
				},
				legend: {
					display: false
				},
		        hover: {
		            mode: 'dataset'
		        },
				scales: {
					xAxes: [{
						display: false,
						gridLines: {
							display: false
						},
						scaleLabel: {
							display: false,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: false,
							labelString: "Value in €"
						},
						ticks: {
							suggestedMin: 0,
							suggestedMax: 20,
						}
					}]
				}
			}	
		}
	
		var ctx = document.getElementById("expenses_volume").getContext("2d");
		ctx.canvas.width = 650;
		ctx.canvas.height = 120;
		var lineChart = new Chart(ctx, config);
	}
	</script>
<%else%>
	<script>
	function expenses_volume_graph () {
		var config = {
			type: 'line',
			data: {
				labels: [
						'01/10',
						'02/10',
						'03/10',
						'04/10',
						'05/10',
						'06/10',
						'07/10',
						'08/10',
						'09/10',
						'10/10',
						'11/10',
						'12/10',
						'13/10',
						'14/10',
						'15/10',
						'16/10',
						'17/10',
						'18/10',
						'19/10',
						'20/10',
						'21/10',
						'22/10',
						'23/10',
						'24/10',
						'25/10',
						'26/10',
						'27/10',
						'28/10',
						'29/10',
						'30/10',
						'31/10',
				],
				datasets: [{
					label: "EUR",
					data: [
						<%= @received_ledger_list.where("extract(day from created_at)=?", 1).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 2).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 3).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 4).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 5).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 6).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 7).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 8).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 9).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 10).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 11).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 12).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 13).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 14).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 15).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 16).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 17).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 18).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 19).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 20).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 21).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 22).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 23).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 24).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 25).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 26).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 27).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 28).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 29).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 30).sum :total_with_taxes %>,
						<%= @received_ledger_list.where("extract(day from created_at)=?", 31).sum :total_with_taxes %>,
						],
					fill: false,
		            borderColor: "#0c84ab",
		            borderCapStyle: 'square',
		            borderJoinStyle: 'miter',
		            pointBorderColor: "#fff",
		            pointBackgroundColor: "#0c84ab",
		            pointBorderWidth: 1,
		            pointHoverRadius: 4,
		            pointHoverBackgroundColor: "#0c84ab",
		            pointHoverBorderColor: "#fff",
		            pointHoverBorderWidth: 1,
		            pointRadius: 4,
		            pointHitRadius: 4,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: false
				},
				legend: {
					display: false
				},
		        hover: {
		            mode: 'dataset'
		        },
				scales: {
					xAxes: [{
						display: false,
						gridLines: {
							display: false
						},
						scaleLabel: {
							display: false,
							labelString: 'Month'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: false,
							labelString: "Value in €"
						},
						ticks: {
							suggestedMin: 0,
							suggestedMax: 20,
						}
					}]
				}
			}	
		}
	
		var ctx = document.getElementById("expenses_volume").getContext("2d");
		ctx.canvas.width = 650;
		ctx.canvas.height = 120;
		var lineChart = new Chart(ctx, config);
	}
	</script>
<%end%>