<div id="footer">
	<div class="container">
		<div class="container-footer">
			<div class="footer-items pull-left">
				<ul>
					<li><%= link_to 'Status', "#" %></li>
					<li><%= link_to 'About', "#" %></li>
					<li><%= link_to 'Jobs', "#" %></li>
					<li><%= link_to 'Contact', "#" %></l>
					<li><%= link_to 'Privacy & Terms', "#" %></li>
				</ul>
			</div><!--/pull-left-->
		
			<div class="footer-items pull-right">
				Copyright © invy <%= Time.now.year%>. All rights reserved.<br>
				Join us on <a href="https://facebook.com/yourinvy" target="_blank"><i class="fa fa-facebook-square"></i></a>
			</div>
		</div><!--/container-footer-->
	</div><!--/container-->
</div><!--/footer-->