<% provide(:title, "Beta access request | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="account-type">&nbsp;Beta access request</span>
				</h2>
			</div>
		</div><!--/account-title-container-->
			<div class="panel-container">	
				<div class="panel panel-account">
					
					<div class="beta-request-info-container">
						Enter your email address and select the account type you would like to have access to.
					</div>
					
					<div class="panel-body panel-form">
						<%= render 'layouts/alert'%>
						<%= form_tag(requests_create_request_path) do %>
					  		<div class="form-group">
								<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
					    		<%= email_field_tag 'email',nil, autofocus: true, placeholder: "Email address", class: "form-control", id: "email" %>
					  		</div>
							
					  		<div class="form-group">
								<div class="form-group inline">
									<%= label_tag 'request_type', "Account type:"%>
									<%= select_tag 'request_type', options_for_select([['Classic', 1], ['Corporate', 2], ['Accountant', 3]])%>
								</div>
					  		</div>
							
							<div class="form-group">
								<div class="form-submit-button">
									<%= submit_tag "Submit access request", class: 'btn btn-join btn-join-width' %><br>
								</div>
							</div>
						<%end%>
					</div><!--panel-body-->					
				</div><!--panel-account-->
			</div><!--panel-container-->
		</div>
	</div>
</div>