<% provide(:title, "Invy - Your personnal online invoices manager")%>

<%= render 'layouts/alert'%>

<div class="container">
	<div class="container-branding">
		<h1 class="text-branding">Introducing <span class="branding-logo">invy</span></h1>
		<h4 class="text-branding-info">Your personal online invoices manager.</h4>
		<h4 class="text-branding-info">Whether you are a simple user, a business entrepreneur</h4> 
		<h4 class="text-branding-info">or an accountant, <span class="branding-name">invy</span> offers you the features that you need</h4> 
		<h4 class="text-branding-info">to manage all your invoices in one and only place.</h4>
		
		<%= link_to 'Create your account for free', signup_path, class: 'btn btn-lg btn-join' %>
	</div>
</div><!--/container-->