<% provide(:title, "Reset password | invy")%>


<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="branding">invy</span>
					<span class="account-type">&nbsp;Classic account</span>
				</h2>
			</div>
		</div><!--/account-title-container-->
		<div class="panel-container">	
			<div class="panel panel-account">
				<div class="panel-body panel-form">
					<div class="error-messages-container-password">
						<% if resource.errors.any? %>
						  <div id="error_explanation" class="error-padding">
							  There was a problem with your password reset.
						  </div>
						<% end %>
					</div>
					
					<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
				  	  	<%= f.hidden_field :reset_password_token %>

					  	<div class="form-group">
					    	<%= f.label :password, "New password" %><br />
					    	<%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control", placeholder: "New password" %>
					  	</div>

					  	<div class="form-group">
					    	<%= f.label :password_confirmation, "Confirm new password" %><br />
					    	<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm new password" %>
					  	</div>

					  	<div class="form-group">
							<div class="form-submit-button">
					    		<%= f.submit "Change my password", class: "btn btn-join" %>
							</div>
					  	</div>
					<% end %>
					
				</div><!--panel-body-->
			</div><!--panel-account-->
		</div><!--panel-container-->
	</div>
</div>
