<% provide(:title, "Administration | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Basic Users</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Number of users registered</span>
				<h4 class="info"><%= @total_basics%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @users.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Postal Code</th>
								<th>City</th>
								<th>Sign Up Date</th>
								<th>Last Sign In</th>
							</tr>
						</thead>
						<tbody>
							<% @users.each do |user| %>
								<tr>
									<td><%= user.id%></td>
									<td><%= user.first_name%></td>
									<td><%= user.last_name%></td>
									<td><%= user.email%></td>
									<td><%= user.postal_code%></td>
									<td><%= user.city%></td>
									<td><%= user.created_at.strftime("%d/%m/%Y")%></td>
									<td><%= user.last_sign_in_at.strftime("%d/%m/%Y")%></td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @users,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			There are no users registered yet.
		</div>
	<%end%>
</div>