<% provide(:title, "Administration | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Beta access</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Number of access granted</span>
				<h4 class="info"><%= @beta_granted_count%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<%= render 'admin_pages/beta/form'%>
	
	<% if @beta_granted.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>Email</th>
								<th>Request type</th>
								<th>Request sent date</th>
								<th>Account created</th>
								<th>Account created date</th>
							</tr>
						</thead>
						<tbody>
							<% @beta_granted.each do |beta| %>
								<tr>
									<td><%= beta.id%></td>
									<td><%= beta.email%></td>
									<td><%= beta.request_type%></td>
									<td><%= beta.created_at.strftime("%d/%m/%Y")%></td>
									<% if beta.request_type == "basic"%>
										<% if User.where(email: beta.email).count != 0%>
											<td>YES</td>
											<td><%= User.where(email: beta.email).take.created_at.strftime("%d/%m/%Y")%></td>
										<%else%>
											<td>NO</td>
											<td>/</td>
										<%end%>
									<%elsif beta.request_type == "corporate"%>
										<% if Corporate.where(email: beta.email).count != 0%>
											<td>YES</td>
											<td><%= Corporate.where(email: beta.email).take.created_at.strftime("%d/%m/%Y")%></td>
										<%else%>
											<td>NO</td>
											<td>/</td>
										<%end%>
									<%else%>
										<% if Accountant.where(email: beta.email).count != 0%>
											<td>YES</td>
											<td><%= Accountant.where(email: beta.email).take.created_at.strftime("%d/%m/%Y")%></td>
										<%else%>
											<td>NO</td>
											<td>/<td>
										<%end%>
									<%end%>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @beta_granted,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			There are no access granted yet.
		</div>
	<%end%>
</div>