<% provide(:title, "Administration | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Corporates</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Number of corporates registered</span>
				<h4 class="info"><%= @total_corporates%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @corporates.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>Company Name</th>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Email</th>
								<th>Postal Code</th>
								<th>City</th>
								<th>Sign Up Date</th>
								<th>Last Sign In</th>
								<th>Invoices</th>
								<th>Accountant</th>
							</tr>
						</thead>
						<tbody>
							<% @corporates.each do |corporate| %>
								<tr>
									<td><%= corporate.id%></td>
									<td><%= corporate.business_name%></td>
									<td><%= corporate.first_name%></td>
									<td><%= corporate.last_name%></td>
									<td><%= corporate.email%></td>
									<td><%= corporate.postal_code%></td>
									<td><%= corporate.city%></td>
									<td><%= corporate.created_at.strftime("%d/%m/%Y")%></td>
									<td><%= corporate.last_sign_in_at.strftime("%d/%m/%Y")%></td>
									<td><%= LedgerInfo.where(sender: corporate.email).count%></td>
									<td><%= corporate.accountant_id%></td>
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @corporates,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			There are no corporates registered yet.
		</div>
	<%end%>
</div>