<% provide(:title, "Administration Dashboard")%>

<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Dashboard</h3>
		<span>Administration</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Total exchanged invoices</span>
				<h4 class="info"><%= @total_sent_invoices %></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Basic users</span>
				<h4 class="info"><%= @total_basics%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Corporates</span>
				<h4 class="info"><%= @total_corporates%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Accountants</span>
				<h4 class="info"><%= @total_accountants%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-invoice">
	<div class="row">
		<div class="col-sm-4 col-md-4">
			<div class="graph-title">Basic accounts created per month</div>
			<div class="graph-container" id="basic_accounts"></div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="graph-title">Corporate accounts created per month</div>
			<div class="graph-container" id="corporate_accounts"></div>
		</div>
		<div class="col-sm-4 col-md-4">
			<div class="graph-title">Accountant accounts created per month</div>
			<div class="graph-container" id="accountant_accounts"></div>
		</div>
	</div><!--/row-->
	<div class="row">
		<div class="col-sm-6 col-md-6">
			<div class="graph-title">Invoices exchanged per month</div>
			<div class="graph-container" id="invoices_exchanged"></div>
		</div>
	</div>
</div><!--/dashboard-invoice-->



<% if Rails.env.development?%>
	<script type="text/javascript">
		new Morris.Line({
			element: 'basic_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_basics.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'corporate_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#008000'],
			lineColors: ['#008000'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_corporates.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
	
	<script type="text/javascript">
		new Morris.Line({
			element: 'accountant_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fc7d3f'],
			lineColors: ['#fc7d3f'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_accountants.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_exchanged',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fbb91c'],
			lineColors: ['#fbb91c'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_exchanged_invoices.where("strftime('%m', created_at)+0=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
<% else %>
	<script type="text/javascript">
		new Morris.Line({
			element: 'basic_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#43b497'],
			lineColors: ['#43b497'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_basics.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_basics.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_basics.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_basics.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_basics.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_basics.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_basics.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_basics.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_basics.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_basics.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_basics.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_basics.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'corporate_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#008000'],
			lineColors: ['#008000'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_corporates.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'accountant_accounts',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fc7d3f'],
			lineColors: ['#fc7d3f'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_accountants.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
		
	<script type="text/javascript">
		new Morris.Line({
			element: 'invoices_exchanged',
			parseTime: false,
			resize: true,
			pointSize: 4,
			pointStrokeColors: ['#fbb91c'],
			lineColors: ['#fbb91c'],
			hideHover: 'auto',
			yLabelFormat: function(y){return y != Math.round(y)?'':y;},
			data: [
				{ y: 'Jan', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 1).count %>},
			  	{ y: 'Feb', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 2).count %> },
			  	{ y: 'Mar', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 3).count %> },
			  	{ y: 'Apr', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 4).count %> },
				{ y: 'May', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 5).count %> },
			  	{ y: 'Jun', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 6).count %> },
				{ y: 'Jul', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 7).count %> },
				{ y: 'Aug', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 8).count %> },
				{ y: 'Sep', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 9).count %> },
				{ y: 'Oct', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 10).count %> },
				{ y: 'Nov', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 11).count %> },
				{ y: 'Dec', value: <%= @this_year_exchanged_invoices.where("extract(month from created_at)=?", 12).count %> }
			],
		  	xkey: 'y',
		 	ykeys: ['value'],
		 	labels: ['Amount']
		});
	</script>
<%end%>

