<% provide(:title, "Administration | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3>Invoices</h3>
		<span>&nbsp;</span>
	</div><!--/dashboard-header-title-->
	<ul class="dashboard-header-invoice-stats">
		<li>
			<div class="dashboard-header-invoice-stats-item">
				<span>Number of exchanged invoices</span>
				<h4 class="info"><%= @total_sent_invoices%></h4>
			</div><!--/dashboard-header-invoice-stats-item-->
		</li>
	</ul><!--dashboard-header-invoice-stats-->
</div><!--/dashboard-header-->

<div class="dashboard-invoice">
	<% if @invoices.any? %>		
		<div class="invoice-list-container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-invoices">
						<thead>
							<tr>
								<th>#</th>
								<th>Sender</th>
								<th>Recipient</th>
								<th>Sent Date</th>
								<th>Due Date</th>
								<th>Paid Date</th>
								<th>Total <small>(VAT incl.)</small></th>
								<th>Payment Method</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<% @invoices.each do |invoice| %>
								<tr>
									<td><%= invoice.id%></td>
									<td><%= Corporate.where(email: invoice.sender).take.business_name %></td>
									<td>
										<%if Corporate.where(email: invoice.recipient).any?%>
											<%= Corporate.where(email: invoice.recipient).take.business_name %>
										<%else%>
											<%if User.where(email: invoice.recipient).any? %>
												<%= User.where(email: invoice.recipient).take.first_name %> <%= User.where(email: invoice.recipient).take.last_name %>
											<%else%>
												<a href="#" title="Not yet a member! Click to send an invite"><%= invoice.recipient%></a>
											<%end%>
										<%end%>
									</td>
									<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
									<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
									<td>
										<% if (invoice.paid_date != nil) %>
											<%= invoice.paid_date.strftime("%d/%m/%Y")%>
										<%else%>
											<%= link_to "Send reminder", "#" %>
										<%end%>
									</td>
									<td>
										<% if invoice.currency == "EUR"%>
											€<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%elsif invoice.currency == "USD"%>
											$<%= "%g" % ("%.2f" % invoice.total_with_taxes)%>
										<%end%>
									</td>
									<td><%= invoice.payment_method%></td>
									<td>
										<div class="invoice-label">
											<% if invoice.ledger_status == "New"%>
												<span class="label label-waiting">Awaiting payment</span>
											<% elsif invoice.ledger_status == "Paid"%>
												<span class="label label-received">Paid</span>
											<%end%>
										</div>
									</td>
									
									
								</tr>
							<%end%>
						</tbody>
					</table><!--/table-->
				</div><!--/col-->
			</div><!--/row-->
		</div><!--/invoice-list-container-->
		<div class="invoice-pagination">
			<%= will_paginate @invoices,  renderer: BootstrapPagination::Rails %>
		</div>
	<%else%>
		<div class="no-invoice-container">
			There are no invoices created yet.
		</div>
	<%end%>
</div>