<div class="usage-content" id="invoices_received">
	<div class="header">
		<div class="title">Your received invoices</div>
	</div>
	
	
	<div class="row">
		<div class="col-sm-12">
			<div class="graph-container">
				<div class="graph-header">
					<div class="pull-left">Received invoices</div>
				</div>
				<canvas id="received_invoices"></canvas>
			</div>
		</div>
	</div>
</div>
