<div class="usage-content" id="overview">
	<div class="header">
		<div class="title">Overview</div>
	</div>
	
	<% if @current_classic.present? %>
		<div class="row">
			<div class="col-sm-12">
				<div class="graph-container">
					<div class="graph-header">
						<div class="pull-left">Expenses in <%= Time.now.strftime("%B")%></div>
						<div class="pull-right"><%= number_to_currency(@expenses_this_month, unit: "€", separator: ",", delimiter: ".", precision: 2)%> EUR total</div>
					</div>
					<canvas id="expenses_volume"></canvas>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12">
				<div class="graph-container">
					<div class="graph-header">
						<div class="pull-left">Expenses in <%= Time.now.strftime("%Y")%></div>
						<div class="pull-right"><%= number_to_currency(@expenses_this_year, unit: "€", separator: ",", delimiter: ".", precision: 2)%> EUR total</div>
					</div>
					<canvas id="expenses_yearly_volume"></canvas>
				</div>
			</div>
		</div>
	<% end %>
	
	<% if @current_corporate.present? %>
		<div class="row">
			<div class="col-sm-12">
				<div class="graph-container">
					<div class="graph-header">
						<div class="pull-left">Gross volume in <%= Time.now.strftime("%B")%></div>
						<div class="pull-right"><%= number_to_currency(@gross_volume_value_this_month, unit: "€", separator: ",", delimiter: ".", precision: 2)%> EUR total</div>
					</div>
					<canvas id="gross_volume"></canvas>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-sm-6">
				<div class="graph-container">
					<div class="graph-header">
						<div class="pull-left">Successfull charges in <%= Time.now.strftime("%B")%></div>
						<div class="pull-right"><%= @paid_ledger_list.count %> total</div>
					</div>
					<canvas id="successful_charges"></canvas>
				</div>
			</div>
		
			<div class="col-sm-6">
				<div class="graph-container">
					<div class="graph-header">
						<div class="pull-left">Clients created in <%= Time.now.strftime("%B")%></div>
						<div class="pull-right"><%= @clients_this_month.count %> total</div>
					</div>
					<canvas id="clients_created"></canvas>
				</div>
			</div>
		</div>
	<%end%>
</div>
