<div class="usage-content" id="payments_sent">
	<div class="header">
		<div class="title">Your sent payments</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="graph-container">
				<div class="graph-header">
					<div class="pull-left">Sent payments</div>
				</div>
				<canvas id="sent_payments"></canvas>
			</div>
		</div>
	</div>
</div>

