<% provide(:title, "Your usage | Invy") %>

<div class="container">
	<div class="usage-container">
		<p class="usage-container-title">Your usage</p>
		<hr>
		
		<div class="row">
			<div class="col-sm-3 no-padding-right">
				<div class="side-menu">
					<h4>General</h4>
					<div class="side-menu-links">
						<ul id="usage_menu_list">
							<li>
								<a id="#overview">
									Overview
								</a>
							</li>
						</ul>
					</div>
					
					
					<h4>Invoices</h4>
					<div class="side-menu-links">
						<ul id="usage_menu_list">
							<% if @current_corporate.present?%>
								<li>
									<a id="#invoices_sent">
										Invoices sent
									</a>
								</li>
							<%end%>
							<li>
								<a id="#invoices_received">
									Invoices received
								</a>
							</li>
						</ul>
					</div>
					
					<h4>Payments</h4>
					
					<div class="side-menu-links">
						<ul id="usage_menu_list">
							<li>
								<a id="#payments_sent">
									Payments sent
								</a>
							</li>
							<% if @current_corporate.present?%>
								<li>
									<a id="#payments_received">
										Payments received
									</a>
								</li>
							<%end%>
						</ul>
					</div>
				</div><!--side-menu-->
			</div><!-- col-sm-3 -->
			<div class="col-sm-9 no-padding-left">
				<%= render 'overview' %>
				<%= render 'invoices_received'%>
				<%= render 'payments_sent' %>
				
				<% if @current_corporate.present? %>
					<%= render 'invoices_sent'%>
					<%= render 'payments_received' %>
				<%end%>
			</div><!-- col-sm-3 -->
		</div>
	</div><!-- usage-container-->
</div>


<% if @current_classic.present?%>
	<%= render 'usage_controllers/usages/graphs/classic/expenses_volume_graph'%>
	<%= render 'usage_controllers/usages/graphs/classic/expenses_yearly_volume_graph'%>
	<script>
		expenses_volume_graph()
		expenses_year_volume_graph()
	</script>
<%end%>

<% if @current_corporate.present?%>
	<%= render 'usage_controllers/usages/graphs/corporate/gross_volume_graph'%>
	<%= render 'usage_controllers/usages/graphs/corporate/successful_charges_graph'%>
	<%= render 'usage_controllers/usages/graphs/corporate/clients_created_graph'%>
	<%= render 'usage_controllers/usages/graphs/corporate/sent_payments_graph'%>
	<%= render 'usage_controllers/usages/graphs/corporate/received_payments_graph'%>
	
	<script>
		gross_volume_graph()
		successful_charges()
		clients_created()
	</script>
<%end%>