<% provide(:title, "#{current_user.first_name} #{current_user.last_name} | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3><%= "#{current_user.first_name} #{current_user.last_name}"%></h3>
		<span>Profile updated on <%= current_user.updated_at.strftime("%d/%m/%Y") %></span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-profile">
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="profile-picture">
				<%= image_tag(current_user.avatar.url(:medium))%>
			</div>
			<div class="profile-information">
				<strong><%= "#{current_user.first_name} #{current_user.last_name}"%></strong><br>
				<%= "#{current_user.email}"%><br>
				Member since: <%= current_user.created_at.strftime("%d/%m/%Y")%><br>
				Invoices received: <%= LedgerInfo.where(recipient: current_user.email).count%>
			</div>
		</div>
		
		<div class="col-sm-9 col-md-9">
			
			<div class="panel-update-container">
				<% if resource.errors.any?%>
					<div class="error-messages-container-update">
						<%= devise_error_messages! %>
					</div>
				<%end%>
			</div>
			<div class="panel panel-update">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
						<%= f.text_field :first_name, class: 'form-control', placeholder: 'First name', id: "first_name"%>
					</div>
					
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
						<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name', id: "last_name"%>
					</div>
					
			  		<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
			    		<%= f.email_field :email, placeholder: "Email address", class: "form-control", id: "email" %>
			  		</div>
					
				    <div class="form-group">
						<%= f.file_field :avatar, class:"input-custom file-input", id: "user_avatar" %>
						<%= f.label :avatar do %>
							<span>Choose a profile picture&hellip;</span>
						<%end%>
					</div>
				
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-usd" aria-hidden="true"></i></div>
						<%= f.text_field :bank_account, class: 'form-control', placeholder: 'Bank account number', id: "bank_account"%>
					</div>
				
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-phone" aria-hidden="true"></i></div>
						<%= f.text_field :telephone, class: 'form-control', placeholder: 'Telephone number', id: "telephone"%>
					</div>
				
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<%= f.text_field :address, class: 'form-control', placeholder: 'Address', id: "address"%>
					</div>
					
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<%= f.text_field :address_number, class: 'form-control', placeholder: 'Address number', id: "address_number"%>
					</div>
				
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<%= f.text_field :postal_code, class: 'form-control', placeholder: 'Postal code', id: "postal_code"%>
					</div>
				
					<div class="form-group">
						<div class="input-icon icon-user"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
						<%= f.text_field :city, class: 'form-control', placeholder: 'City', id: "city"%>
					</div>
			
					<div class="form-group">
						<div class="form-group inline">
							<%= f.label :is_female, "Gender:"%>
							<div class="inline-radio">
								<%= f.radio_button :is_female, true, checked: true %> Female
								<%= f.radio_button :is_female, false %> Male
							</div>
						</div>
					</div>
			
					<div class="form-group">
						<div class="form-group inline">
							<%= f.label :date_of_birth, "Birthdate:"%>
							<%= f.date_select :date_of_birth, prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: 2000, end_year: 1920, order: [:day, :month, :year]%>
						</div>
					</div>
				
				    <div class="form-group">
						<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
						<%= f.password_field :password, autocomplete: "off", placeholder: "New password", class: 'form-control', id: "password"%>
				    </div>
					
				    <div class="form-group">
						<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
						<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm new password", class: 'form-control', id: "password"%>
				    </div>
					
				    <div class="form-group">
						<div class="input-icon icon-password"><i class="fa fa-lock" aria-hidden="true"></i></div>
						<%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter your current password to confirm changes", class: 'form-control', id: "password"%>
				    </div>
					
					<div class="form-group">
						<%= f.submit "Update your profile", class: 'btn btn-join btn-join-width' %>
					</div>
				<%end%>
				<div class="panel-footer panel-update-footer">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
						<div class="form-group">
					  		<%= button_to "Cancel subscription", registration_path(resource_name), class: 'btn btn-red btn-red-width',data: { confirm: "Are you sure?" }, method: :delete %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div><!--/dashboard-profile-->

<script>
var inputs = document.querySelectorAll( '#user_avatar' );
Array.prototype.forEach.call( inputs, function( input )
{
	var label	 = input.nextElementSibling,
		labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split( '\\' ).pop();

		
		if( fileName )
			label.querySelector( 'span' ).innerHTML = fileName;
		else
			label.innerHTML = labelVal;
	});
});
</script>