.add-account {
	padding: 30px;
	
	.title {
		text-align: center;
		font-family: "RobotoSlab", Arial, sans-serif;
		font-weight: 700;
		font-size: 20px;
		color: #777;
	}
	
	p {
		text-align: center;
		font-size: 12px;
		color: #777;
	}
}

.add-account-form-container {
	position: relative;
	margin: 0 auto;
	width: 450px;
	
	.error-messages-container-account {
		margin-bottom: 20px;
	}
}