.client-container {
	background-color: #f5f6f1;
	min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	
	.client-container-title {
		font-size: 25px;
		font-family: "Lato-Light", arial, sans-serif;
	}
	
	.no-padding-right {
		padding-right: 0px;
	}
	
	.no-padding-left {
		padding-left: 0px;
	}
	
	.side-menu {
		
		.side-menu-client-info {
			border-right: 1px solid #eee;
			height: 140px;
			-webkit-font-smoothing: subpixel-antialiased;
			
			.side-menu-package {
				font-size: 18px;
				font-family: "Lato-light", arial, sans-serif;
				padding: 10px;
				width: 130px;
				text-align: center;
				margin: 0 auto;
				border: 1px solid #43b497;
				border-radius: 3px;
				background-color: #43b497;
				color: #fff;
			}
			
			#client_counter {
				padding-top: 10px;
				height: 55px;
				width: 200px;
				margin: 0 auto;
			}
			
			.side-menu-package-max {
				text-align: center;
				font-family: "Lato-light", arial, sans-serif;
				font-size: 13px;
				color: #777;
			}
		}
		
		.side-menu-links {
			
			#client_menu_list {
				list-style-type: none;
				text-align: center;
				font-family: "OpenSans", arial, sans-serif;
				font-size: 13px;
				padding-left: 0px;
				
				li {
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #eee;
					border-right: 1px solid #eee;
					border-left: 1px solid #eee;
					
					a {
						color: #43b497;
						text-decoration: none;
						cursor: pointer;
					}
				}
				li:hover, .active {
					background-color: #fff;
					border-right: none;
					border-left: 1px solid #eee;
					
					a {
						margin-left: -1px;
					}
				}
			}
		}
	}
	.client-content {
		background-color: #fff;
		padding: 20px;
		min-height: 500px;
		border-right: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		
		.header {
			padding: 10px;
			height: 55px;
			border: 1px solid #ddd;
			border-radius: 3px;
			font-size: 20px;
			font-family: "Lato-Light", arial, sans-serif;
			
			.pull-left {
				padding-top: 2px;
			}
		
			.pull-right {
				a {
					font-size: 14px;
					font-family: "Lato-Regular", arial, sans-serif;
				}
			}
		}
		
		.client-list-container {
			margin-top: 10px;
			
			.client-table-container {
				font-size: 13px;
				font-family: "Lato-Light", Arial, sans-serif;
				font-weight: bold;
			}
			
			.table > thead > tr > th {
				color: #000;
				font-weight: 100;
				border-bottom: 1px solid #ccc;
			}
			
			.table > tbody > tr {
				border-bottom: 1px solid #e2e2e2;
			}
			
			.no-clients {
				font-family: "Lato-Light", arial, sans-serif;
				text-align: center;
				font-size: 14px;
				color: #777;
			}
		}
	}
}

.add-client-modal-dialog {

	.add-client-modal-header {
		border-bottom: none;
		text-align: center;
		
		.add-client-modal-title {
			font-family: "Lato-Light", Arial, sans-serif;
			padding-top: 10px;
		}
	}
	
	.add-client-modal-content {
		background-color: #f5f6f1;
	}
	
	.add-client-modal-body {
	
		.errors-client-container {
			margin-bottom: 20px;
			border-radius: 8px;
			
			.errors-client-explanation {
				background-color: #d64642;
				border: 1px solid #d64642;
				border-radius: 8px;
				
				h2 {
					text-align: left;
					font-weight: bold;
					padding: 15px 5px 5px 15px;
					font-size: 14px;
					margin: 0px;
					background-color: transparent;
					color: #fff;
				}
				
				ul li {
					font-size: 14px;
					color: #fff;
				}
			}
		}
	}
}