.new-invoice-container {
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 60px;
	background-color: #fff;
	font-family: "Lato-Regular", Arial, sans-serif;
	font-size: 12px;
	-webkit-box-shadow: 0 0 60px rgba(0,0,0,0.2);
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	
	.new-invoice-header {
		.corporate-logo {
			height: 100px;
			width: 400px;
			text-align: center;
			padding-top: 40px;
			border: 1px solid #ddd;
			font-family: "Lato-Light", arial, sans-serif;
			font-size: 14px;
		}
		
		.corporate-info {
			text-align: right;
		}
	}
	
	.new-invoice-info {
		
		p {
			height: 20px;
			margin-bottom: 0px;
		}
	
		.invoice-info-title {
			font-family: "OpenSans", Arial, sans-serif;
			font-size: 16px;
			font-weight: 700;
			color: #333;
			border-bottom: 1px solid #ddd;
			margin-bottom: 10px;
			height: 25px;
			width: 100%;
			
			.field_with_errors {
				display: inline-block;
				border-bottom: 1px solid #d64242;
			}
		}	
		
		.field_with_errors {
			display: inline-block;
			border-bottom: 1px solid #d64242;
		}
		
		.bootstrap-datetimepicker-widget table td.today:before {
			border-bottom-color: #43b497;
		}
		
		.bootstrap-datetimepicker-widget table td.active {
			background-color: #43b497;
		}
	}
	
	.new-invoice-content {
		.table-invoice {
			border: 1px solid #ddd;
			
			thead > tr > th {
				background-color: #f5f5f5;
				border-bottom: 1px solid #ddd;
				
			}
			
			.field_with_errors {
				border-bottom: 1px solid #d64242;
			}
			
			th.product {
				width: 151px;
			}
			
			th.description {
				width: 151px;
			}
			
			th.quantity {
				width: 50px;
				text-align: center;
			}
			
			th.unit_price {
				width: 100px;
				text-align: center;
			}
			
			th.tax_rate {
				width: 51px;
				text-align: center;
			}
			
			th.total {
				width: 80px;
				text-align: center;
			}
			
			th.total_with_taxes {
				width: 100px;
				text-align: center;
			}
			
			.remove {
				width: 31px;
			}
		}
	}
	
	.new-invoice-footer{
		.invoice-info-title {
			font-family: "OpenSans", Arial, sans-serif;
			font-size: 16px;
			font-weight: 700;
			color: #333;
			margin-bottom: 10px;
		}
		
		.table-invoice {
			border: 1px solid #ddd;
		
			.total-balance {
				background-color: #c8eae1;
			}
		}
	}
}