.corporate-banner {
	background-color: #f5f6f1;
	min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	
	.sent-invoices-info {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.sent-invoices-info-container {
			background-color: #c6e8df;
			border-radius: 5px;
			padding: 5px;
		
			.header {
				text-align: right;
				margin-right: 5px;
				
				.sent-amount {
					font-family: "Lato-Regular", Arial, sans-serif;
					font-size: 16px;
					color: #43b497;
				}
			}
			
			.due-amount {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	
	.received-invoices-info {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.received-invoices-info-container {
			background-color: #ccddff;
			border-radius: 5px;
			padding: 5px;
		
			.header {
				text-align: right;
				margin-right: 5px;
			
				.received-amount {
					font-family: "Lato-Regular", Arial, sans-serif;
					font-size: 16px;
					color: #43b497;
				}
			}
			
			.open-amount {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	
	.paid-info {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.paid-info-container {
			background-color: #b3e1bf;
			border-radius: 5px;
			padding: 5px;
		
			.header {
				text-align: right;
				margin-right: 5px;
				
				.paid-amount {
					font-family: "Lato-Regular", Arial, sans-serif;
					font-size: 16px;
					color: #43b497;
				}
			
				.clients-amount {
					font-family: "Lato-Regular", Arial, sans-serif;
					font-size: 16px;
					color: #43b497;
				}
			}
			
			.paid-amount {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
				
				.red {
					color: #d64242;
				}
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
}

.received-invoices-container {
	padding: 20px;
	
	.title {
		color: #43b497;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		height: 30px;
		
		.date {
			color: #777;
		}
	}
	
	.received-invoice-table-container {
		font-size: 13px;
		font-family: "Lato-Light", Arial, sans-serif;
		font-weight: bold;
		
		.table > thead > tr > th {
			color: #000;
			font-weight: 100;
			border-bottom: 1px solid #ccc;
		}
		
		.table > tbody > tr {
			border-bottom: 1px solid #e2e2e2;
		}
		
		.unpaid {
			color: #d64242;
			font-weight: bold;
		}
		
		.paid {
			color: #4ca64c;
			font-weight: bold;
		}
		
		.no-invoices {
			font-family: "Lato-Light", arial, sans-serif;
			text-align: center;
			font-size: 14px;
			color: #777;
		}
	}
	
	.footer {
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 12px;
		height: 20px;
		text-align: right;
		
		a {
			text-decoration: none;
			color: #43b497;
		}
	}
}

.sent-invoices-container {
	padding: 20px;
	
	.title {
		color: #43b497;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		height: 30px;
		
		.date {
			color: #777;
		}
	}
	
	.sent-invoice-table-container {
		font-size: 13px;
		font-family: "Lato-Light", Arial, sans-serif;
		font-weight: bold;
		
		.table > thead > tr > th {
			color: #000;
			font-weight: 100;
			border-bottom: 1px solid #ccc;
		}
		
		.table > tbody > tr {
			border-bottom: 1px solid #e2e2e2;
		}
		
		.unpaid {
			color: #d64242;
			font-weight: bold;
		}
		
		.paid {
			color: #4ca64c;
			font-weight: bold;
		}
		
		.no-invoices {
			font-family: "Lato-Light", arial, sans-serif;
			text-align: center;
			font-size: 14px;
			color: #777;
		}
	}
	
	.footer {
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 12px;
		height: 20px;
		text-align: right;
		
		a {
			text-decoration: none;
			color: #43b497;
		}
	}
}

.clients-container {
	padding: 20px;
	
	.title {
		color: #43b497;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		height: 30px;
		
		.max {
			color: #777;
		}
	}
	
	#client_counter{
		width: 300px;
	}
	
	.clients-container {
		font-size: 13px;
		font-family: "Lato-Light", Arial, sans-serif;
		border: 1px solid #ccc;
		
		.table > thead > tr > th {
			color: #000;
			font-weight: 100;
			border-bottom: 1px solid #ccc;
		}
		
		.table > tbody > tr {
			border-bottom: 1px solid #e2e2e2;
		}
	}
	
	.plan-info {
		margin-top: 15px;
		font-family: "Lato-Light", Arial, sans-serif;
		font-weight: 700;
		font-size: 12px;
		color: #777;
		text-align: center;
	}
	
	.footer {
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 12px;
		height: 20px;
		text-align: right;
		
		a {
			text-decoration: none;
			color: #43b497;
		}
	}
}