.getting-started {
	padding: 30px;
}
.getting-started,
.add-account-profile {
	
	.title {
		text-align: center;
		font-family: "RobotoSlab", Arial, sans-serif;
		font-weight: 700;
		font-size: 20px;
		color: #777;
	}
	
	p {
		text-align: center;
		font-size: 12px;
		color: #777;
	}
	.offering {
		margin-top: 30px;
		
		a {
			text-decoration: none;
		}
		
		.panel-offering {
			background-color: transparent;
			box-shadow: none;
			color: #555;
			text-align: center;
			border: none;
			
			.panel-heading {
				font-family: "Lato-Regular", Arial, sans-serif;
				font-size: 30px;
				background-color: transparent;
				color: #fff;
			}
			
			.panel-classic {
				background-image: url("accounts/classic.jpg");
			}
			
			.panel-corporate {
				background-image: url("accounts/corporate.jpg");
			}
			
			.panel-accountant {
				background-image: url("accounts/accountant.jpg");
			}
			
			.panel-body {
				min-height: 260px;
				border: 1px solid #ccc;
				
				p {
					font-size: 13px;
					padding: 5px;
				}
			}
			
			.panel-footer {
				background-color: transparent;
				font-size: 18px;
				font-family: "Lato-Light", Arial, sans-serif;
				background-color: transparent;
				color: #43b497;
				border: 1px solid #ccc;
				border-top: none;
				
				.devise {
					position: relative;
					bottom: 17px;
					font-size: 25px;
				}
				
				.footer-time {
					font-size: 18px;
					font-weight: 700;
				}
				
				.offering-price {
					font-size: 50px;
				}
			}
		}
		
		.panel-offering:hover {
			
			background-color: #daf1eb;
		}
		
		.account-added {
			background-color: #daf1eb;
			
			.panel-classic {
				background-image: url("accounts/classic.jpg");
			}
			
			.panel-corporate {
				background-image: url("accounts/corporate.jpg");
			}
			
			.panel-accountant {
				background-image: url("accounts/accountant.jpg");
			}
			
			.panel-footer {
				font-family: "Lato-Light", Arial, sans-serif;
				
				small {
					font-weight: 400;
				}
			}
		}
		
		.account-added:hover {
			background-color: #daf1eb;
		}
	}
}