/*
 * Dashboard header
 */
.dashboard-header {
	padding: 20px;
	border-bottom: 1px solid #ccc;
	background-color: #f5f5f5;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	
	.dashboard-header-title {
		font-family: "RobotoSlab", Arial, sans-serif;
		float: left;
		color: #777;
		
		h3 {
			margin-top: 0;
		}
		
		span {
			display: block;
			font-family: "Roboto", Arial, sans-serif;
			font-size: 12px;
			color: #999;
		}
	}
	
	.dashboard-header-right-container {
		float: right;
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			display: block;
			float: left;
			padding: 0 20px;
			border-right: 1px solid #ccc;
			padding-right: 0px;
		}
		
		li:last-child {
			border-right: none;
		}
		
		.dashboard-header-right-container-item {
			margin-right: 20px;
			text-align: right;
			
			span {
				text-transform: uppercase;
				font-size: 11px;
				color: #999;
			}
			
			.dashboard-header-right-container-item-add-client {
				height: 63px;
				width: 63px;
			}
		}
	}
}