/*
 * Link style in navbar 
 */
.dropdown:hover {
	cursor: pointer;
}


.navbar-dashboard .navbar-nav > .open > a,
.navbar-dashboard .navbar-nav > .open > a:hover, 
.navbar-dashboard .navbar-nav > .open > a:focus {
    background-image: none;
	background-color: transparent;
	box-shadow: none;
	cursor: pointer;
}


/*
 * Dropdown menu
 */
.navbar-dashboard .navbar-nav .dropdown-menu {
	margin-top: 9px;
	border-radius: 5px;
	border: none;
	cursor: default;
	
	li a {
		padding: 5px 20px 5px 20px;
	}
	
	li a:hover {
		background-image: none;
		background-color: transparent;
	}
	
	.dropdown-toggle {
		padding-top: 0px;
		padding-bottom: 0px;
	}	
}

/*
 * CORPORATE TOOLS MENU
 */
.navbar-dashboard .navbar-nav .dropdown-corporate-tools {
	margin-left: 14px;
}

/*
 * INVOICES MENU
 */
.navbar-dashboard .navbar-nav .dropdown-invoices {
	margin-left: -35px;
}


/*
 * USER MENU
 */ 
.navbar-dashboard .navbar-nav .dropdown-user-menu {
	.account-title {
		color: #43b497;
		padding-right: 40px;
		padding-left: 40px;
	}

	.profile-picture-container {
		border-top: 1px solid #e5e5e5;
		font-size: 12px;
		color: #777;
		
		a {
			text-decoration: none;
		}
		
		a:hover, a:active, a:focus {
			color: #777;
		}

		.picture {
			text-align: center;
			padding-top: 12px;
	
			img {
				width: 70px;
				border-radius: 50px;
			}
		}
	}
	
	.account-switch {
		font-size: 12px;
		text-align: center;
		border-top: 1px solid #e5e5e5;
		padding-top: 10px;
		
		a {
			text-decoration: none;
		}
	}
}





/*
 * Dropdown account selector
 */
.navbar-dashboard .navbar-nav .dropdown-account-selector {
	margin-top: 9px;
	margin-left: -30px;
	border-radius: 5px;
	border: none;
	cursor: default;

	li a {
		font-size: 12px;
		color: #777;
		padding: 5px 20px 5px 20px;
	}
	
	li a:hover {
		background-image: none;
		background-color: transparent;
		color: #555;
	}
}

