/*
 * Container with info about Invy
 */ 
.container-branding {
	text-align: center;
	margin-top: 100px;

	.text-branding {
		color: #fff;
		font-family: "Lato-Light", Arial, sans-serif;
	}

	.text-branding-info {
		color: #fff;
		font-size: 19px;
		font-family: "Lato-Light", Arial, sans-serif;
		font-weight: 400;
		
		.branding-name {
			font-family: "OleoScript", Helvetica, sans-serif;
			font-size: 25px;
		}
	}

	.branding-logo {
		color: #fff;
		font-family: "OleoScript", Helvetica, sans-serif;
		font-size: 42px;
	}

	a {
		margin-top: 20px;
	}
}