.invoice-banner {
	background-color: #f5f6f1;
	min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	
	.info-container {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.invoice-info {
			background-color: #c6e8df;
			border-radius: 5px;
			padding: 5px;
			
			.header {
				text-align: right;
				margin-right: 5px;
			}
			
			.due-amount {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
				
				.red {
					color: #d64242;
				}
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	
	.amount-container {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.invoice-amount {
			background-color: #ccddff;
			border-radius: 5px;
			padding: 5px;
			
			.header {
				text-align: right;
				margin-right: 5px;
			}
			
			.amount,
			#total_amount {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
	
	.due-container {
		padding: 20px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 16px;
		color: #444;
		
		.invoice-due {
			background-color: #b3e1bf;
			border-radius: 5px;
			padding: 5px;
			
			.header {
				text-align: right;
				margin-right: 5px;
			}
			
			.date {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				font-size: 40px;
			}
			
			.due_date {
				text-align: center;
				font-family: "Lato-Light", Arial, sans-serif;
				height: 57px;
				padding-top: 11px;
			}
			
			.footer {
				font-family: "Lato-Light", Arial, sans-serif;
				text-align: center;
				font-size: 12px;
			}
		}
	}
}



td.quantity {
	text-align: center;
}

td.unit_price {
	text-align: center;
}

td.tax_rate {
	text-align: center;
}

td.total {
	text-align: center;
}

td.total_with_taxes {
	text-align: center;
}

.communication-container {
	border: 1px solid #ddd;
	height: 190px;
	width: 100%;
	padding: 5px;
}

.row-sizing {
	height: 63px;
}