.invoices-container {
	background-color: #f5f6f1;
	min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	
	.invoices-container-title {
		font-size: 25px;
		font-family: "Lato-Light", arial, sans-serif;
	}
	
	.no-padding-right {
		padding-right: 0px;
	}
	
	.no-padding-left {
		padding-left: 0px;
	}
	
	.side-menu {
		h4 {
			font-size: 11px;
			text-transform: uppercase;
			text-align: center;
			margin-top: 5px;
			color: #96a0ad;
		}
	
		.side-menu-links { 
			#invoices_menu_list {
				list-style-type: none;
				text-align: center;
				font-family: "OpenSans", arial, sans-serif;
				font-size: 13px;
				padding-left: 0px;
			
				li {
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #eee;
					border-right: 1px solid #eee;
					border-left: 1px solid #eee;
				
					a {
						color: #43b497;
						text-decoration: none;
						cursor: pointer;
					}
				}
				li:hover, .active {
					background-color: #fff;
					border-right: none;
					border-left: 1px solid #eee;
				
					a {
						margin-left: -1px;
					}
				}
			
				li:first-child {
					border-top: 1px solid #eee;
				}
			}
		}
	}
	
	.invoices-content {
		background-color: #fff;
		padding: 20px;
		min-height: 500px;
		border-right: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		
		.title {
			font-size: 20px;
			font-family: "Lato-Light", arial, sans-serif;	
			
			.pull-right {
				a {
					font-size: 14px;
					font-family: "Lato-Regular", arial, sans-serif;
				}
			}
		}
		
		.received-invoices-table-container,
		.sent-invoices-table-container {
			font-size: 13px;
			font-family: "Lato-Light", Arial, sans-serif;
			font-weight: bold;
		
			.table > thead > tr > th {
				color: #000;
				font-weight: 100;
				border-bottom: 1px solid #ccc;
			}
		
			.table > tbody > tr {
				border-bottom: 1px solid #e2e2e2;
			}
		
			.unpaid {
				color: #d64242;
				font-weight: bold;
			}
		
			.paid {
				color: #4ca64c;
				font-weight: bold;
			}
		
			.no-invoices {
				font-family: "Lato-Light", arial, sans-serif;
				text-align: center;
				font-size: 14px;
				color: #777;
			}
		}
	}
}