.navbar-container {
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px 30px 0px 30px;
	z-index: 1000;
	
	.navbar-page {
		border: none;
		background-color: transparent;
		background-image: none;
		box-shadow: none;
		font-family: "Lato-Regular", Arial, sans-serif;
	
		.navbar-brand {
			color: #fff;
			font-family: "OleoScript", Helvetica, sans-serif;
			font-size: 35px;
		}
	
		.navbar-brand:hover {
			color: #fff;
		}
	
		ul.navbar-right li a {
			color: #fff;
		}
	
		ul.navbar-right li a:hover {
			color: #fff;
		}
		
		.navbar-right {
			/*
			 * Sign up link
			 */
			.sign-up-container {
				height: 50px;
				width: 80px;
				text-align: center;
				
				.sign-up-container-item {
					margin-top: 4px;
					border: 1px solid #fff;
					
					a {
						text-decoration: none;
						display: block;
						width: 80px;
						height: 40px;
						padding-top: 10px;
					}
				}
			}
		}
	}
}