.navbar-dashboard {
	margin-top: 20px;
	border-radius: 5px;
	height: 60px;
	background-color: #f5f6f1;
	background-image: none;
	
	.navbar-collapse {
		margin-top: 3px;
		text-align: center;
		
		.navbar-brand {
			color: #43b497;
			font-family: "OleoScript", Helvetica, sans-serif;
			font-size: 35px;
			padding-left: 0px;
		}
		
		.navbar-brand:hover {
			color: #43b497;
		}
		
		.navbar-center {
			float: none;
			display: inline-block;
			vertical-align: top;
			font-family: "OpenSans", Arial, sans-serif;
			font-size: 14px;
			
			li a {
				color: #777;
			}
			
			li a:hover {
				color: #43b497;
			}
		}
		
		.navbar-right {
			font-family: "OpenSans", Arial, sans-serif;
			font-size: 14px;
		
			li a {
				color: #777;
			}
			
			li a:hover {
				color: #43b497;
			}
		}
	}
}