.profile-banner,
.profile-container {
	background-color: #f5f6f1;
	min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	
	.profile-name {
		font-size: 25px;
		font-family: "Lato-Light", arial, sans-serif;
	}
	
	.no-padding-right {
		padding-right: 0px;
	}
	
	.no-padding-left {
		padding-left: 0px;
	}
	
	.side-menu {
		.side-menu-user-info {
			border-right: 1px solid #eee;
			margin-bottom: 20px;
		
			.profile-picture {
				position: relative;
				margin: 0 auto;
				background-color: #fff;
				border: 1px solid #ccc;
				border-radius: 3px;
				height: 150px;
				width: 150px;
				padding: 4px;
			}
		}
		
		h4 {
			font-size: 11px;
			text-transform: uppercase;
			text-align: center;
			margin-top: 5px;
			color: #96a0ad;
		}
		
		.side-menu-links {
			
			#menu_list {
				list-style-type: none;
				text-align: center;
				font-family: "OpenSans", arial, sans-serif;
				font-size: 13px;
				padding-left: 0px;
				
				li {
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #eee;
					border-right: 1px solid #eee;
					
					a {
						color: #43b497;
						text-decoration: none;
						cursor: pointer;
					}
				}
				li:hover, .active {
					background-color: #fff;
					border-right: none;
					border-left: 1px solid #eee;
					
					a {
						margin-left: -2px;
					}
				}
				li:first-child {
					border-top: 1px solid #eee;
				}
			}
		}
	}
	.profile-content {
		background-color: #fff;
		padding: 20px;
		min-height: 500px;
		border-right: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		
		.header {
			padding: 10px;
			height: 55px;
			border: 1px solid #ddd;
			border-radius: 3px;
			font-size: 20px;
			font-family: "Lato-Light", arial, sans-serif;
		}
		
		.profile-content-wrapper {
			padding: 11px;
		}
		
		.errors-profile-container {
			margin-bottom: 20px;
			border-radius: 8px;
			
			.errors-profile-explanation {
				background-color: #d64642;
				border: 1px solid #d64642;
				border-radius: 8px;
				
				h2 {
					text-align: left;
					font-weight: bold;
					padding: 15px 5px 5px 15px;
					font-size: 14px;
					margin: 0px;
					background-color: transparent;
					color: #fff;
				}
				
				ul li {
					font-size: 14px;
					color: #fff;
				}
			}
		}
		
		.info-title {
			font-family: "OpenSans", arial, sans-serif;
			font-weight: 700;
			font-size: 12px;
		}
		
		.info-content {
			font-family: "Lato-Light", arial, sans-serif;
			font-size: 13px;
		}
		
		.update-button {
			padding-top: 12px;
		}
		
		/* ADD PLAN */
		.add-classic-plan,
		.add-corporate-plan,
		.add-accountant-plan {
			margin-top: 30px;
		
			a {
				text-decoration: none;
			}
		
			.panel-offering {
				background-color: transparent;
				box-shadow: none;
				color: #555;
				text-align: center;
				border: none;
			
				.panel-heading {
					font-family: "Lato-Regular", Arial, sans-serif;
					font-size: 30px;
					background-color: transparent;
					color: #fff;
				}
			
				.panel-classic {
					background-image: url("accounts/classic.jpg");
				}
			
				.panel-corporate {
					background-image: url("accounts/corporate.jpg");
				}
			
				.panel-accountant {
					background-image: url("accounts/accountant.jpg");
				}
			
				.panel-body {
					min-height: 260px;
					border: 1px solid #ccc;
				
					p {
						font-size: 13px;
						padding: 5px;
					}
				}
			
				.panel-footer {
					background-color: transparent;
					font-size: 18px;
					font-family: "Lato-Light", Arial, sans-serif;
					background-color: transparent;
					color: #43b497;
					border: 1px solid #ccc;
					border-top: none;
				
					.devise {
						position: relative;
						bottom: 17px;
						font-size: 25px;
					}
				
					.footer-time {
						font-size: 18px;
						font-weight: 700;
					}
				
					.offering-price {
						font-size: 50px;
					}
				}
			}
			.panel-offering:hover {
				background-color: #daf1eb;
			}
		}
	}
}
