.static-container-header-title {
	text-align: center;
	padding: 5px;
	font-family: "Lato-Light", Arial, sans-serif;
	color: #fff;
	
	.branding {
			font-family: "OleoScript", Helvetica, sans-serif;
			font-size: 45px;
			color: #43b497;
		}
}

.panel-container {
	padding: 15px;
	
	.error-messages-container-sign-up {
		width: 450px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		border-radius: 8px;
	}
	
	.panel-sign-up {
		position: relative;
		margin: 0 auto;
		margin-bottom: 30px;
		width: 450px;
		background-color: #f7f7f7;
		border-radius: 8px;
		
		.panel-sign-up-title {
			margin: 30px 0 30px 0;
			text-align: center;
		
			h3 {
				font-family: "Lato-Light", Arial, sans-serif;
			}
			
			.panel-sign-up-title-branding {
				font-family: "OleoScript", Helvetica, sans-serif;
				font-size: 28px;
				color: #43b497;
			}
		}
	}
	
	.panel-form {
		padding: 10px 40px 40px 40px;
		font-family: "OpenSans", Arial, sans-serif;
		font-size: 12px;
		
		.forgot-password {
			text-align: right;
			font-size: 13px;
			margin-top: -15px;
			margin-bottom: 20px;
			
			a {
				color: #43b497;
			}
		}
	}
	
	.panel-sign-up-footer {
		background-color: #eee;
		text-align: center;
		font-size: 14px;
		color: #777;
		
		a {
			color: #43b497;
		}
	}
}

/* VERIFICATION PAGE */
.verification-text {
	padding: 20px 40px 40px 40px;
	text-align: center;
	color: #fff;
	font-family: "Lato-Light", Arial, sans-serif;
	font-size: 22px;
}

.verification-link {
	text-align: center;
	color: #fff;
	font-family: "Lato-Regular", Arial, sans-serif;
	padding-bottom: 40px;
	
	a {
		color: #fff;
		text-decoration: underline;
	}
}