.usage-container {
	background-color: #f5f6f1;
	min-height: 500px;
	margin-bottom: 20px;
	box-shadow: 0 0 60px rgba(0,0,0,0.2);
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	
	.usage-container-title {
		font-size: 25px;
		font-family: "Lato-Light", arial, sans-serif;
	}
	
	.no-padding-right {
		padding-right: 0px;
	}
	
	.no-padding-left {
		padding-left: 0px;
	}
	
	.side-menu {
		h4 {
			font-size: 11px;
			text-transform: uppercase;
			text-align: center;
			margin-top: 5px;
			color: #96a0ad;
		}
		
		.side-menu-links { 
			#usage_menu_list {
				list-style-type: none;
				text-align: center;
				font-family: "OpenSans", arial, sans-serif;
				font-size: 13px;
				padding-left: 0px;
				
				li {
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #eee;
					border-right: 1px solid #eee;
					border-left: 1px solid #eee;
					
					a {
						color: #43b497;
						text-decoration: none;
						cursor: pointer;
					}
				}
				li:hover, .active {
					background-color: #fff;
					border-right: none;
					border-left: 1px solid #eee;
					
					a {
						margin-left: -1px;
					}
				}
				
				li:first-child {
					border-top: 1px solid #eee;
				}
			}
		}
	}
	
	.usage-content {
		background-color: #fff;
		padding: 20px;
		min-height: 500px;
		border-right: 1px solid #eee;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		
		.header {
			padding: 10px;
			height: 55px;
			border: 1px solid #ddd;
			border-radius: 3px;
			font-size: 20px;
			font-family: "Lato-Light", arial, sans-serif;
		}
		
		.graph-container {
			margin-top: 20px;
			padding: 10px;
			border: 1px solid #eee;
			border-radius: 3px;
			
			.graph-header {
				height: 20px;
				margin-bottom: 10px;
				font-family: "OpenSans", arial, sans-serif;
				font-size: 12px;
				font-weight: 700;
				
				.pull-right {
					color: #43b497;
				}
			}
		}
	}
}