<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
 	   	<title><%= yield(:title)%></title>
 		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 	   	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div id="wrapper-dashboard">
			<div class="container">
				<%= render 'layouts/navbars/nav_dashboard_new' %>
			</div>
			
			<div class="container">
				<div id="dashboard-container">
					<%= yield %>
				</div>
			</div>
		</div><!--/wrapper-->
		
		<%= render 'layouts/footer' %>
	</body>
</html>