<div class="beta-access-form-container">
	<%= render 'layouts/alert'%>
	<%= form_for @beta_access, url: admin_pages_add_access_path(@beta_access), html: {:class => "form-inline"} do |f| %>
		<div class="form-group">
			<div class="input-icon icon-user"><i class="fa fa-user" aria-hidden="true"></i></div>
			<%= f.email_field :email, autofocus: true, placeholder: "Email address", class: "form-control", id: "email" %>
		</div>
	
		<div class="form-group">
			<div class="input-icon icon-user"><i class="fa fa-pencil" aria-hidden="true"></i></div>
			<%= f.text_field :request_type, placeholder: "Request type", class: "form-control", id: "email" %>
		</div>
	
	  	<div class="form-group">
			<%= f.submit "Add", class: "btn btn-join" %>
	   	</div>

	<%end%>
</div>