<h1>Activate your account</h1>

<p>Hi <%= @user.first_name%>,</p>

<p>Welcome to invy!</p>
<p>Click on the link below to activate your account:</p>
<%= link_to "Activate your account", edit_account_activation_url(@user.confirmation_token, email: @user_email)%>