<h1>Reset Password</h1>

<p>
  To reset your password, click the URL below.

  <%= edit_password_reset_url(@user.reset_password_token) %>

  If you did not request your password to be reset, just ignore this email and your password will continue to be the same.
</p>
