<h1>You have received a new invoice!</h1>

<p>Hi <%= @user.first_name%>,</p>

<p>You have received a new invoice on Invy!</p>
<p>PDF</p>
<p>You can join the fun by clikcing on the following like to create your own account on Invy and receive all your invoices online.</p>
<p>To log in, use the following credentials:</p>
<ul>
	<li>Login: <%=@user_email%></li>
	<li>Password: <%=@password%></li>
</ul>
<%= link_to "Log in to my account", edit_account_activation_url(@user.confirmation_token, email: @user_email)%>

<p>Please modify your password when your account is created.</p>