<% if !account_added?("classic")%>
	<%= link_to add_classic_path do %>
		<div class="panel panel-offering">
			<div class="panel-heading panel-classic">Classic</div>
			<div class="panel-body">
				<p>Customised dashboard</p>
				<p>Online payments</p>
				<p>Expenses reviews</p>
				<p>Invoice download (PDF)</p>
			</div>
			<div class="panel-footer">
				<div class="offering-price">Free</div>
				<small>&nbsp;</small>
			</div>
		</div>
	<%end%>
<% else %>
	<div class="panel panel-offering account-added">
		<div class="panel-heading panel-classic">Classic</div>
		<div class="panel-body">
			<p>Customised dashboard</p>
			<p>Online payments</p>
			<p>Expenses reviews</p>
			<p>Invoice download (PDF)</p>
		</div>
		<div class="panel-footer">
			<div class="offering-price">Added</div>
			<span class="footer-time">since <%= account_added_date("classic") %></span>
		</div>
	</div>
<% end %>