<% if !account_added?("corporate")%>
	<%= link_to add_corporate_path do %>
		<div class="panel panel-offering">
			<div class="panel-heading panel-corporate">Corporate</div>
			<div class="panel-body">
				<p>Customised dashboard</p>
				<p>Online payments</p>
				<p>Online invoice creation</p>
				<p>Invoice download (PDF)</p>
				<p>Send invoices B2B and B2C</p>
				<p>Accountant link</p>
			</div>
			<div class="panel-footer">
				<div class="offering-price"><span class="devise">€</span>9.99</div>
				<span class="footer-time">MONTHLY</span>
			</div>
		</div>
	<%end%>
<% else %>
	<div class="panel panel-offering account-added">
		<div class="panel-heading panel-corporate">Corporate</div>
		<div class="panel-body">
			<p>Customised dashboard</p>
			<p>Online payments</p>
			<p>Online invoice creation</p>
			<p>Invoice download (PDF)</p>
			<p>Send invoices B2B and B2C</p>
			<p>Accountant link</p>
		</div>
		<div class="panel-footer">
			<div class="offering-price">Added</div>
			<span class="footer-time">since <%= account_added_date("corporate") %></span>
		</div>
	</div>
<% end %>