<% provide(:title, "Administration | invy")%>


<div class="dashboard-header clearfix">
	<div class="dashboard-header-title">
		<h3><%= "Administrator"%></h3>
		<span>Profile updated on <%= current_admin.updated_at.strftime("%d/%m/%Y") %></span>
	</div><!--/dashboard-header-title-->
</div><!--/dashboard-header-->

<%= render 'layouts/alert'%>

<div class="dashboard-profile">
	<div class="row">
		<div class="col-sm-3 col-md-3">
			<div class="profile-information">
				<strong><%= "#{current_admin.first_name} #{current_admin.last_name}"%></strong><br>
				<%= "#{current_admin.email}"%><br>
				Member since <%= current_admin.created_at.strftime("%d/%m/%Y")%><br>
			</div>
		</div>
		
		<div class="col-sm-9 col-md-9">
			<div class="edit-form">
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
					<div class="form-group">
						<%= f.label :first_name%>
						<%= f.text_field :first_name, class: 'form-control', placeholder: 'First name'%>
					</div>
				
					<div class="form-group">
						<%= f.label :last_name %>
						<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name'%>
					</div>
			
					<div class="form-group">
					    <%= f.label :email%>
					   	<%= f.email_field :email, class: 'form-control', placeholder: 'Email'%>
					</div>
				
					<div class="form-group">
					    <%= f.label :current_password, "Current password"%>
					   	<%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter your current password to confirm changes", class: 'form-control'  %>
					</div>
			
					<div class="form-group">
					    <%= f.label :password, "New password"%>
					   	<%= f.password_field :password, autocomplete: "off", placeholder: "Leave blank if you don't want to change it", class: 'form-control' %>
					</div>
			
					<div class="form-group">
					    <%= f.label :password_confirmation, "New password confirmation"%>
					   	<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Leave blank if you don't want to change it",class: 'form-control'  %>
					</div>
					
					<div class="form-group">
						<%= f.submit "Update", class: 'btn btn-join' %>
					</div>
				<%end%>
					<hr>
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
					<div class="form-group">
				  		<%= button_to "Cancel subscription", registration_path(resource_name), class: 'btn btn-red',data: { confirm: "Are you sure?" }, method: :delete %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div><!--/dashboard-profile-->