<% provide(:title, "Admin account | invy")%>

<div class="container">
	<div id="pages-container">
		<div class="account-title-container">
			<div class="account-title">
				<h2>
					<span class="branding">invy</span>
					<span class="account-type">&nbsp;Administrator Account</span>
				</h2>
			</div>
		</div><!--/account-title-container-->
		<div class="panel-container">
			<%= devise_error_messages! %>
			<div class="panel panel-account">
				<div class="panel-body panel-form">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<div class="form-group">
							<%= f.label :first_name %>
							<%= f.text_field :first_name, class: 'form-control', placeholder: 'First name'%>
						</div>
					
						<div class="form-group">
							<%= f.label :last_name %>
							<%= f.text_field :last_name, class: 'form-control', placeholder: 'Last name'%>
						</div>
					
						<div class="form-group">
						    <%= f.label :email%>
						   	<%= f.email_field :email, class: 'form-control', placeholder: 'Email'%>
						</div>
					
					    <div class="form-group">
					        <%= f.label :password%> 
							<%= f.password_field :password, autocomplete: "off", placeholder: "Password (#{@minimum_password_length} characters minimun)", class: 'form-control'  %>
					    </div>
					
						<div class="form-group">
							<%= f.label "Confirm Password"%>
							<%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm password"  %>
						</div>
					
						<hr>
					
						<div class="form-group">
							<div class="form-submit-button">
								<%= f.submit "Register", class: 'btn btn-join' %><br>
							</div>
						</div>
					<%end%>
				</div><!--/panel-body-->
			</div><!--/panel-->
		</div>
	</div><!--/pages-container-->
</div>
