<% provide(:title, "Dashboard")%>



<div class="container">
	<div class="corporate-banner">
		<div class="row">
			<div class="col-sm-4">
				<div class="sent-invoices-info">
					<div class="sent-invoices-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									<span class="sent-amount"><%= @sent_ledger_list.count %></span> <%= "invoice".pluralize(@sent_ledger_list.count)%> sent
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="due-amount">
									<%= number_to_currency(@due_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently due amount
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-sm-4">
				<div class="received-invoices-info">
					<div class="received-invoices-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
									<span class="received-amount"><%= @received_ledger_list.count %></span> <%= "invoice".pluralize(@received_ledger_list.count)%> received
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="open-amount">
									<%= number_to_currency((@open_amount), unit: "€", separator: ",", delimiter: ".", precision: 2)%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently total amount
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		
			<div class="col-sm-4">
				<div class="paid-info">
					<div class="paid-info-container">
						<div class="row">
							<div class="col-sm-12">
								<div class="header">
										<span class="paid-amount"><%= @paid_received_ledger_list.count %></span> <%= "invoice".pluralize(@paid_received_ledger_list.count)%> paid
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="paid-amount">
									<% if @paid_amount != @open_amount && @paid_amount != 0%>
										<span class="red"><%= number_to_currency(@paid_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%></span>
									<%else%>
										<%= number_to_currency(@paid_amount, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									<%end%>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<div class="footer">
									currently paid amount
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<div class="corporate-banner received-invoices-container">
		<div class="title">
			<span class="pull-left">My received <%= "invoice".pluralize(@received_ledger_list.count)%> (<%= @received_ledger_list.count %>)</span>
			<span class="pull-right date"><%= Time.now.strftime("%B %Y")%></span>
		</div>
		
		<div class="received-invoice-table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Status</th>
						<th>Reference</th>
						<th>From</th>
						<th>Date</th>
						<th>Due</th>
						<th>Amount</th>
						<th>Open</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @received_ledger_list.each do |invoice| %>
						<tr>
							<td>
								<% if invoice.ledger_status == "new" %>
									<span class="fa-stack pending-payment-icon">
										<i class="fa fa-exclamation fa-stack-1x"></i>
										<i class="fa fa-circle-o fa-stack-2x"></i>
									</span>
								<% else%>
									<span class="fa-stack paid-icon">
										<i class="fa fa-check fa-stack-1x"></i>
										<i class="fa fa-circle-o fa-stack-2x"></i>
									</span>
								<% end %>
							</td>
							<td><%= invoice.ref_number%></td>
							<td>
								<% @sender_account = Account.where(id: invoice.sender_id).first %>
								<%= @sender_account.corporate.company_name%>
							</td>
							<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
							<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
							<td>
								<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
							</td>
							<td>
								<% if invoice.ledger_status == "new"%>
									<span class="unpaid">
										<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									</span>
								<%else%>
									<span class="paid">
										<%= number_to_currency(0, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
									</span>
								<%end%>
							</td>
							<td>
								<%= link_to ledger_item_path(invoice) do %>
									<i class="fa fa-file-o invoice-icon" aria-hidden="true"></i>
								<%end%>
							</td>
						</tr>
					<%end%>
				</tbody>
			</table>
			
			<% if @received_ledger_list.empty? %>
				<div class="no-invoices">
					You haven't received any invoices this month yet.
				</div>
			<%end%>
			
		</div>
		<div class="footer">
			<%= link_to invoices_path do %>
				All your invoices <i class="fa fa-chevron-right" aria-hidden="true"></i>
			<%end%>
		</div>
	</div>
	
	
	<div class="corporate-banner sent-invoices-container">
		<div class="title">
			<span class="pull-left">My sent <%= "invoice".pluralize(@sent_ledger_list.count)%> (<%= @sent_ledger_list.count %>)</span>
			<span class="pull-right date"><%= Time.now.strftime("%B %Y")%></span>
		</div>
		
		<div class="sent-invoice-table-container">
			<table class="table">
				<thead>
					<tr>
						<th>Status</th>
						<th>Reference</th>
						<th>To</th>
						<th>Date</th>
						<th>Due</th>
						<th>Amount</th>
						<th>Open</th>
						<th></th>
					</tr>
				</thead>
				<% @sent_ledger_list.each do |invoice| %>
					<tr>
						<td>
							<% if invoice.ledger_status == "new" %>
								<span class="fa-stack pending-payment-icon">
									<i class="fa fa-exclamation fa-stack-1x"></i>
									<i class="fa fa-circle-o fa-stack-2x"></i>
								</span>
							<% else%>
								<span class="fa-stack paid-icon">
									<i class="fa fa-check fa-stack-1x"></i>
									<i class="fa fa-circle-o fa-stack-2x"></i>
								</span>
							<% end %>
						</td>
						<td><%= invoice.ref_number%></td>
						<td>
							<% @receiver_account = Account.where(id: invoice.receiver_id).first %>
							<% if @receiver_account['classic_id'] > 0 %>
							    <% @receiver_user_account = UserAccount.where(account_id: @receiver_account).first %>
							    <% @receiver = User.where(id: @receiver_user_account.user_id).first %>
								<%= @receiver.first_name.first %>. <%= @receiver.last_name %>
								
							<% elsif @receiver_account['corporate_id'] > 0%>
								<%= @receiver_account.corporate.company_name%>
							<%end%>
						</td>
						<td><%= invoice.issue_date.strftime("%d/%m/%Y")%></td>
						<td><%= invoice.due_date.strftime("%d/%m/%Y")%></td>
						<td>
							<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
						</td>
						<td>
							<% if invoice.ledger_status == "new"%>
								<span class="unpaid">
									<%= number_to_currency(invoice.total_with_taxes, unit: "€", separator: ",", delimiter: ".", precision: 2)%>			
								</span>
							<% else %>
								<span class="paid">
									<%= number_to_currency(0, unit: "€", separator: ",", delimiter: ".", precision: 2)%>
								</span>
							<%end%>
						</td>
						<td>
							<%= link_to ledger_item_path(invoice) do %>
								<i class="fa fa-file-o invoice-icon" aria-hidden="true"></i>
							<%end%>
						</td>
					</tr>
				<%end%>
			</table>
				
			<% if @sent_ledger_list.empty? %>
				<div class="no-invoices">
					You haven't sent any invoices this month yet.
				</div>
			<%end%>
		</div>
		
		<div class="footer">
			<%= link_to invoices_path do %>
				All your invoices <i class="fa fa-chevron-right" aria-hidden="true"></i>
			<%end%>
		</div>
	</div>
</div>

