<% provide(:title, "Resend activation link | Invy")%>

<div class="container">
	<div id="static-container">
		
		<div class="panel-container">
			<div class="panel panel-sign-up">
				<div class="panel-sign-up-title">
					<h3>Resend the activation link</h3>
				</div>
				<div class="panel-body panel-form">
					<%= render 'layouts/alert'%>
					<%= form_tag account_activations_path do %>
					  	<div class="form-group">
							<div class="input-icon icon-form"><i class="fa fa-envelope" aria-hidden="true"></i></div>
							<%= email_field_tag :email, nil, class: "form-control", placeholder: "Email address", id:"email"%>
						</div>
						
						<%= submit_tag "Resend activation link", class: 'btn btn-green btn-green-width'%>
					<%end%>
				</div>
			</div>
		</div><!--/panel-container-->
	</div><!--/static-container-->
</div>
